In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
sc = SparkContext("local", "KeyValuePairRDD")

22/03/01 01:31:58 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/03/01 01:31:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/01 01:31:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/01 01:31:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/01 01:31:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/01 01:31:59 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [6]:
# Key Value pair formed from tuple, where as first element in tuple is known as key
# second element known as value
# (key, value)
# apple is key, 20 is value
data = [
    ('apple', 20),
    ('orange', 30),
    ('apple', 10),
    ('mango', 50)
]

rdd = sc.parallelize(data)

In [7]:
# find the count keys
# for rdd functions with "Key" can use this dataset

result = rdd.countByKey() # action
result # result is dictionary, it returns count of keys

defaultdict(int, {'apple': 2, 'orange': 1, 'mango': 1})

In [9]:
# find the total kilogram of fruits sold (apple - 30, orange - 30, mongo - 50)
# reduceByKey , useful for sum or custom code
# lambda function here woun't be called first time when key found
"""
Input
('apple', 20) <- apple is first time, this value directly placed in table, lambda not called
('orange', 30) <- orange is first time, this value directly placed in table, lambda not called
('apple', 10) <- apple is second time, lambda shall be called
                 lambda has two params, acc, value
                 acc value taken from table shown below, value from record 
                 acc = 20, value  10
                 (20, 10) => acc + value = (20 + 10) = 30, this value updated in table
('mango', 50)<- first time, lambda not called, values directly placed

Virtaually there is table

Key       acc
apple     30
orange    30
mango     50
"""
# acc is just variable, called accumulator
# value is from rdd, 20, 30, 10 ,50
result = rdd.reduceByKey(lambda acc, value: acc + value)
result.collect()

[('apple', 30), ('orange', 30), ('mango', 50)]