In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
sc = SparkContext("local", "GroupBy")

22/03/02 03:12:06 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/03/02 03:12:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/02 03:12:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/02 03:12:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/02 03:12:09 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/02 03:12:09 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/03/02 03:12:09 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/03/02 03:12:09 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [10]:
numbersRdd = sc.parallelize(range(1, 10))
# try to split odd/even number as group
# n % 2 = the output shall be either 0 or 1, use this for grouping the numbers
# groupBy used to group by any data in your record
# groupByKey  where only key is used
# lambda either return 0 or 1, the items are grouped based that result
resultRdd = numbersRdd.groupBy(lambda n: n % 2)
# groupByRdds collect won't return list or tuple directly, we need to iterate and 
# get the output
results = resultRdd.collect()
# result is a list of tuple 
# result = [ (0, iterator), (1, iterator) ]
# 0 - even number group
# 1 - odd number group
for key, valueItr in results:
    print("Group ", key, valueItr)
    # iterator the result to get the actual data
    for value in valueItr:
        print ("\tVAlue ", value)

Group  1 <pyspark.resultiterable.ResultIterable object at 0x7f15ff698090>
	VAlue  1
	VAlue  3
	VAlue  5
	VAlue  7
	VAlue  9
Group  0 <pyspark.resultiterable.ResultIterable object at 0x7f15ff698510>
	VAlue  2
	VAlue  4
	VAlue  6
	VAlue  8