In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("MovieLens")

from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame
spark = SparkSession.builder\
                    .config(conf=config)\
                    .getOrCreate()

sc = spark.sparkContext

In [3]:
# hdfs dfs -ls /movies
# hdfs dfs -ls /ratings

In [4]:
# how to create schema programatically instead of using inferSchema
from pyspark.sql.types import StructType, LongType, StringType, IntegerType, DoubleType
# True is nullable, False is non nullable
movieSchema = StructType()\
                .add("movieId", IntegerType(), True)\
                .add("title", StringType(), True)\
                .add("genres", StringType(), True)

ratingSchema = StructType()\
                .add("userId", IntegerType(), True)\
                .add("movieId", IntegerType(), True)\
                .add("rating", DoubleType(), True)\
                .add("timestamp", LongType(), True)

In [5]:
# read movie data
# read using dataframe with defind schema
# we can use folder path - all csv in the folder read
# use file path, only that file read

# spark is session, entry point for data frame/sql

movieDf = spark.read.format("csv")\
                .option("header", True)\
                .schema(movieSchema)\
                .load("hdfs://localhost:9000/movies")

movieDf.printSchema()
movieDf.show(2)

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [7]:

ratingDf = spark.read.format("csv")\
                .option("header", True)\
                .schema(ratingSchema)\
                .load("hdfs://localhost:9000/ratings")

ratingDf.printSchema()
ratingDf.show(2)

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

In [8]:
print (movieDf.count())
print(ratingDf.count())

9742
100836

In [9]:
ratingDf.take(2)

[Row(userId=1, movieId=1, rating=4.0, timestamp=964982703),
 Row(userId=1, movieId=3, rating=4.0, timestamp=964981247)]

In [12]:
# show the distinct ratings
ratingDf.select("rating").distinct().show()

+------+
|rating|
+------+
|   3.5|
|   4.5|
|   2.5|
|   1.0|
|   4.0|
|   0.5|
|   3.0|
|   2.0|
|   1.5|
|   5.0|
+------+

In [15]:
# aggregation with groupBy
from pyspark.sql.functions import col, desc, avg, count

# find the movies by total ratings by userId
df = ratingDf\
     .groupBy("movieId")\
     .agg(count("userId").alias("total_ratings"))\
     .sort(desc("total_ratings"))

df.printSchema()
df.show(20)

root
 |-- movieId: integer (nullable = true)
 |-- total_ratings: long (nullable = false)

+-------+-------------+
|movieId|total_ratings|
+-------+-------------+
|    356|          329|
|    318|          317|
|    296|          307|
|    593|          279|
|   2571|          278|
|    260|          251|
|    480|          238|
|    110|          237|
|    589|          224|
|    527|          220|
|   2959|          218|
|      1|          215|
|   1196|          211|
|     50|          204|
|   2858|          204|
|     47|          203|
|    780|          202|
|    150|          201|
|   1198|          200|
|   4993|          198|
+-------+-------------+
only showing top 20 rows

In [16]:
# aggregation with groupBy
from pyspark.sql.functions import col, desc, avg, count

# find  average rating by users sorted by desc
df = ratingDf\
     .groupBy("movieId")\
     .agg(avg("rating").alias("avg_rating"))\
     .sort(desc("avg_rating"))

df.printSchema()
df.show(20)

root
 |-- movieId: integer (nullable = true)
 |-- avg_rating: double (nullable = true)

+-------+----------+
|movieId|avg_rating|
+-------+----------+
|  33138|       5.0|
|    876|       5.0|
| 147300|       5.0|
|  27373|       5.0|
|     53|       5.0|
|  25887|       5.0|
|  84273|       5.0|
| 113829|       5.0|
| 173963|       5.0|
|  26350|       5.0|
|  67618|       5.0|
|    148|       5.0|
| 157775|       5.0|
| 142444|       5.0|
|    633|       5.0|
|    496|       5.0|
|   8911|       5.0|
|   5513|       5.0|
| 152711|       5.0|
| 150554|       5.0|
+-------+----------+
only showing top 20 rows

In [19]:
# aggregation with groupBy
from pyspark.sql.functions import col, desc, avg, count

# find  the most popular movies, where as rated by many users, at least movies should be rated by 100 users
# and the average rating should be at least 3.5 and above
# and sort the movies by total_ratings
mostPopularMoviesDf = ratingDf\
     .groupBy("movieId")\
     .agg(avg("rating").alias("avg_rating"), count("userId").alias("total_ratings") )\
     .filter( (col("total_ratings") >= 100) & (col("avg_rating") >=3.5) )\
     .sort(desc("total_ratings"))

mostPopularMoviesDf.cache() # MEMORY

mostPopularMoviesDf.printSchema()
mostPopularMoviesDf.show(20)

root
 |-- movieId: integer (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- total_ratings: long (nullable = false)

+-------+------------------+-------------+
|movieId|        avg_rating|total_ratings|
+-------+------------------+-------------+
|    356| 4.164133738601824|          329|
|    318| 4.429022082018927|          317|
|    296| 4.197068403908795|          307|
|    593| 4.161290322580645|          279|
|   2571| 4.192446043165468|          278|
|    260| 4.231075697211155|          251|
|    480|              3.75|          238|
|    110| 4.031645569620253|          237|
|    589| 3.970982142857143|          224|
|    527|             4.225|          220|
|   2959| 4.272935779816514|          218|
|      1|3.9209302325581397|          215|
|   1196|4.2156398104265405|          211|
|     50| 4.237745098039215|          204|
|   2858| 4.056372549019608|          204|
|     47|3.9753694581280787|          203|
|    150| 3.845771144278607|          201|
|   1198|            4.2075|          200|
|   4993| 4.106060606060606|          198|
|   1210| 4.137755102040816|          196|
+-------+------------------+-------------+
only showing top 20 rows

In [25]:
# join, inner join 
# get the movie title for the mostPopularMoviesDf
# join mostPopularMoviesDf with movieDf based on condition that mostPopularMoviesDf.movieId == movieDf.movieId

popularMoviesDf = mostPopularMoviesDf.join(movieDf, mostPopularMoviesDf.movieId == movieDf.movieId)\
                                     .select(movieDf.movieId, "title", "avg_rating", "total_ratings")\
                                     .sort(desc("total_ratings"))

popularMoviesDf.cache()

popularMoviesDf.show(100)

+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|    356| Forrest Gump (1994)| 4.164133738601824|          329|
|    318|Shawshank Redempt...| 4.429022082018927|          317|
|    296| Pulp Fiction (1994)| 4.197068403908795|          307|
|    593|Silence of the La...| 4.161290322580645|          279|
|   2571|  Matrix, The (1999)| 4.192446043165468|          278|
|    260|Star Wars: Episod...| 4.231075697211155|          251|
|    480|Jurassic Park (1993)|              3.75|          238|
|    110|   Braveheart (1995)| 4.031645569620253|          237|
|    589|Terminator 2: Jud...| 3.970982142857143|          224|
|    527|Schindler's List ...|             4.225|          220|
|   2959|   Fight Club (1999)| 4.272935779816514|          218|
|      1|    Toy Story (1995)|3.9209302325581397|          215|
|   1196|Star Wars: Episod...|4.2156398104265405|          211|
|     50|Usual Suspects, T...| 4.237745098039215|          204|
|   2858|American Beauty (...| 4.056372549019608|          204|
|     47|Seven (a.k.a. Se7...|3.9753694581280787|          203|
|    150|    Apollo 13 (1995)| 3.845771144278607|          201|
|   1198|Raiders of the Lo...|            4.2075|          200|
|   4993|Lord of the Rings...| 4.106060606060606|          198|
|   1210|Star Wars: Episod...| 4.137755102040816|          196|
|    858|Godfather, The (1...|         4.2890625|          192|
|    457|Fugitive, The (1993)|3.9921052631578946|          190|
|   2028|Saving Private Ry...|4.1462765957446805|          188|
|   5952|Lord of the Rings...|4.0212765957446805|          188|
|   7153|Lord of the Rings...| 4.118918918918919|          185|
|    588|      Aladdin (1992)|3.7923497267759565|          183|
|    608|        Fargo (1996)| 4.116022099447513|          181|
|   2762|Sixth Sense, The ...| 3.893854748603352|          179|
|     32|Twelve Monkeys (a...| 3.983050847457627|          177|
|    364|Lion King, The (1...| 3.941860465116279|          172|
|    377|        Speed (1994)|3.5292397660818713|          171|
|   1270|Back to the Futur...| 4.038011695906433|          171|
|   3578|    Gladiator (2000)|3.9382352941176473|          170|
|   4306|        Shrek (2001)|3.8676470588235294|          170|
|    590|Dances with Wolve...|3.8353658536585367|          164|
|    648|Mission: Impossib...| 3.537037037037037|          162|
|   4226|      Memento (2000)| 4.122641509433962|          159|
|   6539|Pirates of the Ca...| 3.778523489932886|          149|
|  58559|Dark Knight, The ...| 4.238255033557047|          149|
|    595|Beauty and the Be...|3.7705479452054793|          146|
|   1214|        Alien (1979)| 3.969178082191781|          146|
|   1036|     Die Hard (1988)|3.8620689655172415|          145|
|    165|Die Hard: With a ...|3.5555555555555554|          144|
|   1265|Groundhog Day (1993)| 3.944055944055944|          143|
|  79132|    Inception (2010)| 4.066433566433567|          143|
|   1197|Princess Bride, T...| 4.232394366197183|          142|
|   1704|Good Will Hunting...| 4.078014184397163|          141|
|   6377| Finding Nemo (2003)|3.9609929078014185|          141|
|   1291|Indiana Jones and...| 4.046428571428572|          140|
|   1136|Monty Python and ...| 4.161764705882353|          136|
|    293|Léon: The Profess...| 4.018796992481203|          133|
|   1193|One Flew Over the...| 4.203007518796992|          133|
|   3793|        X-Men (2000)| 3.699248120300752|          133|
|   4886|Monsters, Inc. (2...| 3.871212121212121|          132|
|   1089|Reservoir Dogs (1...| 4.202290076335878|          131|
|   1240|Terminator, The (...|3.8969465648854964|          131|
|   6874|Kill Bill: Vol. 1...|3.9618320610687023|          131|
|   7361|Eternal Sunshine ...|4.1603053435114505|          131|
|   1221|Godfather: Part I...|  4.25968992248062|          129|
|   2329|American History ...| 4.217054263565892|          129|
|     34|         Babe (1995)|        3.65234375|          128|
|   1200|       Aliens (1986)|3.9642857142857144|          126|
|   1213|   Goodfellas (1990)|              4.25|          126|
|   1682|Truman Show, The ...|             3.812|          125|
|   8961|Incredibles, The ...|             3.836|          125|
|    541| Blade Runner (1982)| 4.100806451612903|          124|
|   4995|Beautiful Mind, A...|               4.0|          123|
|   1097|E.T. the Extra-Te...|3.7663934426229506|          122|
|   5349|   Spider-Man (2002)| 3.540983606557377|          122|
|    733|    Rock, The (1996)|3.6404958677685952|          121|
|   1206|Clockwork Orange,...| 3.995833333333333|          120|
|   2716|Ghostbusters (a.k...|             3.775|          120|
|   4973|Amelie (Fabuleux ...| 4.183333333333334|          120|
|   5445|Minority Report (...|            3.6375|          120|
|   1073|Willy Wonka & the...|3.8739495798319328|          119|
|   4963|Ocean's Eleven (2...|3.8445378151260505|          119|
|   1527|Fifth Element, Th...|3.7456896551724137|          116|
|  33794|Batman Begins (2005)|3.8620689655172415|          116|
|   5989|Catch Me If You C...|3.9217391304347826|          115|
|   1968|Breakfast Club, T...|3.7787610619469025|          113|
|   5418|Bourne Identity, ...|3.8169642857142856|          112|
|   3147|Green Mile, The (...| 4.148648648648648|          111|
|    349|Clear and Present...|3.6045454545454545|          110|
|   3996|Crouching Tiger, ...|3.8363636363636364|          110|
|   7438|Kill Bill: Vol. 2...| 3.868181818181818|          110|
|    924|2001: A Space Ody...|3.8944954128440368|          109|
|   1258| Shining, The (1980)|  4.08256880733945|          109|
|   2918|Ferris Bueller's ...|3.8394495412844036|          109|
|   4878| Donnie Darko (2001)| 3.981651376146789|          109|
|   2115|Indiana Jones and...| 3.638888888888889|          108|
|   1208|Apocalypse Now (1...| 4.219626168224299|          107|
|   4896|Harry Potter and ...|3.7616822429906542|          107|
|  48516|Departed, The (2006)| 4.252336448598131|          107|
|   1732|Big Lebowski, The...|3.9245283018867925|          106|
|   1923|There's Something...| 3.676190476190476|          105|
|  68954|           Up (2009)| 4.004761904761905|          105|
|    111|  Taxi Driver (1976)| 4.105769230769231|          104|
|    223|       Clerks (1994)| 3.855769230769231|          104|
|  60069|       WALL·E (2008)|4.0576923076923075|          104|
|    161| Crimson Tide (1995)|3.6359223300970873|          103|
+-------+--------------------+------------------+-------------+
only showing top 100 rows

In [27]:
popularMoviesDf.rdd.getNumPartitions()
#popularMoviesDf.rdd.glom().collect()

72

In [28]:
# write popularMoviesDf to hadoop with header [by default headers shall not be written]
# overwrite existing files
# 70 plus partitions having approx total of 100 plus records
# write 70 plus files into hadoop
popularMoviesDf.write.mode("overwrite")\
                .option("header", True)\
                .csv("hdfs://localhost:9000/most-popular-movies-many-files")

In [29]:
# write popularMoviesDf into single file
# coalesce(1) to reduce partitions
popularMoviesDf.coalesce(1).write.mode("overwrite")\
                .option("header", True)\
                .csv("hdfs://localhost:9000/most-popular-movies")

In [30]:
# now  read the files back from hdfs 
# for schema, we try to use inferSchema, let spark to build schema itself
# use inferSchema for small data set

In [35]:
# inferSchema will scan csvs and define data types for  youy schema
popularMovies = spark.read.format("csv")\
                .option("header", True)\
                .option("inferSchema", True)\
                .load("hdfs://localhost:9000/most-popular-movies-many-files")

popularMovies.printSchema()
print("Partitions", popularMovies.rdd.getNumPartitions())
popularMovies.show()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- total_ratings: integer (nullable = true)

Partitions 3
+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|   1206|Clockwork Orange,...| 3.995833333333333|          120|
|   2716|Ghostbusters (a.k...|             3.775|          120|
|   4973|Amelie (Fabuleux ...| 4.183333333333334|          120|
|   5445|Minority Report (...|            3.6375|          120|
|   1089|Reservoir Dogs (1...| 4.202290076335878|          131|
|   1240|Terminator, The (...|3.8969465648854964|          131|
|   6874|Kill Bill: Vol. 1...|3.9618320610687023|          131|
|   7361|Eternal Sunshine ...|4.1603053435114505|          131|
|   1208|Apocalypse Now (1...| 4.219626168224299|          107|
|   4896|Harry Potter and ...|3.7616822429906542|          107|
|  48516|Departed, The (2006)| 4.252336448598131|          107|
|    924|2001: A Space Ody...|3.8944954128440368|          109|
|   1258| Shining, The (1980)|  4.08256880733945|          109|
|   2918|Ferris Bueller's ...|3.8394495412844036|          109|
|   4878| Donnie Darko (2001)| 3.981651376146789|          109|
|      6|         Heat (1995)| 3.946078431372549|          102|
|    778|Trainspotting (1996)|  4.03921568627451|          102|
|   1222|Full Metal Jacket...| 4.098039215686274|          102|
|   5816|Harry Potter and ...|3.5980392156862746|          102|
|    293|Léon: The Profess...| 4.018796992481203|          133|
+-------+--------------------+------------------+-------------+
only showing top 20 rows

In [34]:
# inferSchema will scan csvs and define data types for  youy schema
popularMovies = spark.read.format("csv")\
                .option("header", True)\
                .option("inferSchema", True)\
                .load("hdfs://localhost:9000/most-popular-movies")

popularMovies.printSchema()
print("Partitions", popularMovies.rdd.getNumPartitions())
popularMovies.show()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- total_ratings: integer (nullable = true)

Partitions 1
+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|    356| Forrest Gump (1994)| 4.164133738601824|          329|
|    318|Shawshank Redempt...| 4.429022082018927|          317|
|    296| Pulp Fiction (1994)| 4.197068403908795|          307|
|    593|Silence of the La...| 4.161290322580645|          279|
|   2571|  Matrix, The (1999)| 4.192446043165468|          278|
|    260|Star Wars: Episod...| 4.231075697211155|          251|
|    480|Jurassic Park (1993)|              3.75|          238|
|    110|   Braveheart (1995)| 4.031645569620253|          237|
|    589|Terminator 2: Jud...| 3.970982142857143|          224|
|    527|Schindler's List ...|             4.225|          220|
|   2959|   Fight Club (1999)| 4.272935779816514|          218|
|      1|    Toy Story (1995)|3.9209302325581397|          215|
|   1196|Star Wars: Episod...|4.2156398104265405|          211|
|     50|Usual Suspects, T...| 4.237745098039215|          204|
|   2858|American Beauty (...| 4.056372549019608|          204|
|     47|Seven (a.k.a. Se7...|3.9753694581280787|          203|
|    150|    Apollo 13 (1995)| 3.845771144278607|          201|
|   1198|Raiders of the Lo...|            4.2075|          200|
|   4993|Lord of the Rings...| 4.106060606060606|          198|
|   1210|Star Wars: Episod...| 4.137755102040816|          196|
+-------+--------------------+------------------+-------------+
only showing top 20 rows