In [1]:
import pandas as pd
import numpy as np

baseball_df = pd.read_csv('./baseball_stats.csv')
pit_df = baseball_df[baseball_df['Team'] == 'PIT'][['Team', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']].reset_index(drop=True)
pit_df.head()

  Team  Year   RS   RA   W    G  Playoffs
0  PIT  2012  651  674  79  162         0
1  PIT  2011  610  712  72  162         0
2  PIT  2010  587  866  57  162         0
3  PIT  2009  636  768  62  161         0
4  PIT  2008  735  884  67  162         0

In [2]:
pit_df.dtypes

Team        object
Year         int64
RS           int64
RA           int64
W            int64
G            int64
Playoffs     int64
dtype: object

In [3]:
print(*pit_df.columns)
for i,row in pit_df.iterrows():
    print(*row.values,sep=',')

Team Year RS RA W G Playoffs
PIT,2012,651,674,79,162,0
PIT,2011,610,712,72,162,0
PIT,2010,587,866,57,162,0
PIT,2009,636,768,62,161,0
PIT,2008,735,884,67,162,0
PIT,2007,724,846,68,162,0
PIT,2006,691,797,67,162,0
PIT,2005,680,769,67,162,0
PIT,2004,680,744,72,161,0
PIT,2003,753,801,75,162,0
PIT,2002,641,730,72,161,0
PIT,2001,657,858,62,162,0
PIT,2000,793,888,69,162,0
PIT,1999,775,782,78,161,0
PIT,1998,650,718,69,163,0
PIT,1997,725,760,79,162,0
PIT,1996,776,833,73,162,0
PIT,1993,707,806,75,162,0
PIT,1992,693,595,96,162,1
PIT,1991,768,632,98,162,1
PIT,1990,733,619,95,162,1
PIT,1989,637,680,74,164,0
PIT,1988,651,616,85,160,0
PIT,1987,723,744,80,162,0
PIT,1986,663,700,64,162,0
PIT,1985,568,708,57,161,0
PIT,1984,615,567,75,162,0
PIT,1983,659,648,84,162,0
PIT,1982,724,696,84,162,0
PIT,1980,666,646,83,162,0
PIT,1979,775,643,98,163,1
PIT,1978,684,637,88,161,0
PIT,1977,734,665,96,162,0
PIT,1976,708,630,92,162,0
PIT,1975,712,565,92,161,1
PIT,1974,751,657,88,162,1
PIT,1973,704,693,80,162,0
PIT,1971,788,599,97,162,1
PIT,1970,729,664,89,162,1
PIT,1969,725,652,88,162,0
PIT,1968,583,532,80,163,0
PIT,1967,679,693,81,163,0
PIT,1966,759,641,92,162,0
PIT,1965,675,580,90,163,0
PIT,1964,663,636,80,162,0
PIT,1963,567,595,74,162,0
PIT,1962,706,626,93,161,0

In [4]:
print([*pit_df.columns])
for i,row in pit_df.iterrows():
    print([*row.values],sep=',')

['Team', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']
['PIT', 2012, 651, 674, 79, 162, 0]
['PIT', 2011, 610, 712, 72, 162, 0]
['PIT', 2010, 587, 866, 57, 162, 0]
['PIT', 2009, 636, 768, 62, 161, 0]
['PIT', 2008, 735, 884, 67, 162, 0]
['PIT', 2007, 724, 846, 68, 162, 0]
['PIT', 2006, 691, 797, 67, 162, 0]
['PIT', 2005, 680, 769, 67, 162, 0]
['PIT', 2004, 680, 744, 72, 161, 0]
['PIT', 2003, 753, 801, 75, 162, 0]
['PIT', 2002, 641, 730, 72, 161, 0]
['PIT', 2001, 657, 858, 62, 162, 0]
['PIT', 2000, 793, 888, 69, 162, 0]
['PIT', 1999, 775, 782, 78, 161, 0]
['PIT', 1998, 650, 718, 69, 163, 0]
['PIT', 1997, 725, 760, 79, 162, 0]
['PIT', 1996, 776, 833, 73, 162, 0]
['PIT', 1993, 707, 806, 75, 162, 0]
['PIT', 1992, 693, 595, 96, 162, 1]
['PIT', 1991, 768, 632, 98, 162, 1]
['PIT', 1990, 733, 619, 95, 162, 1]
['PIT', 1989, 637, 680, 74, 164, 0]
['PIT', 1988, 651, 616, 85, 160, 0]
['PIT', 1987, 723, 744, 80, 162, 0]
['PIT', 1986, 663, 700, 64, 162, 0]
['PIT', 1985, 568, 708, 57, 161, 0]
['PIT', 1984, 615, 567, 75, 162, 0]
['PIT', 1983, 659, 648, 84, 162, 0]
['PIT', 1982, 724, 696, 84, 162, 0]
['PIT', 1980, 666, 646, 83, 162, 0]
['PIT', 1979, 775, 643, 98, 163, 1]
['PIT', 1978, 684, 637, 88, 161, 0]
['PIT', 1977, 734, 665, 96, 162, 0]
['PIT', 1976, 708, 630, 92, 162, 0]
['PIT', 1975, 712, 565, 92, 161, 1]
['PIT', 1974, 751, 657, 88, 162, 1]
['PIT', 1973, 704, 693, 80, 162, 0]
['PIT', 1971, 788, 599, 97, 162, 1]
['PIT', 1970, 729, 664, 89, 162, 1]
['PIT', 1969, 725, 652, 88, 162, 0]
['PIT', 1968, 583, 532, 80, 163, 0]
['PIT', 1967, 679, 693, 81, 163, 0]
['PIT', 1966, 759, 641, 92, 162, 0]
['PIT', 1965, 675, 580, 90, 163, 0]
['PIT', 1964, 663, 636, 80, 162, 0]
['PIT', 1963, 567, 595, 74, 162, 0]
['PIT', 1962, 706, 626, 93, 161, 0]

In [5]:
# Print the row and type of each row
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(0, Team         PIT
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
<class 'tuple'>
(1, Team         PIT
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
<class 'tuple'>
(2, Team         PIT
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
<class 'tuple'>
(3, Team         PIT
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
<class 'tuple'>
(4, Team         PIT
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)
<class 'tuple'>
(5, Team         PIT
Year        2007
RS           724
RA           846
W             68
G            162
Playoffs       0
Name: 5, dtype: object)
<class 'tuple'>
(6, Team         PIT
Year        2006
RS           691
RA           797
W             67
G            162
Playoffs       0
Name: 6, dtype: object)
<class 'tuple'>
(7, Team         PIT
Year        2005
RS           680
RA           769
W             67
G            162
Playoffs       0
Name: 7, dtype: object)
<class 'tuple'>
(8, Team         PIT
Year        2004
RS           680
RA           744
W             72
G            161
Playoffs       0
Name: 8, dtype: object)
<class 'tuple'>
(9, Team         PIT
Year        2003
RS           753
RA           801
W             75
G            162
Playoffs       0
Name: 9, dtype: object)
<class 'tuple'>
(10, Team         PIT
Year        2002
RS           641
RA           730
W             72
G            161
Playoffs       0
Name: 10, dtype: object)
<class 'tuple'>
(11, Team         PIT
Year        2001
RS           657
RA           858
W             62
G            162
Playoffs       0
Name: 11, dtype: object)
<class 'tuple'>
(12, Team         PIT
Year        2000
RS           793
RA           888
W             69
G            162
Playoffs       0
Name: 12, dtype: object)
<class 'tuple'>
(13, Team         PIT
Year        1999
RS           775
RA           782
W             78
G            161
Playoffs       0
Name: 13, dtype: object)
<class 'tuple'>
(14, Team         PIT
Year        1998
RS           650
RA           718
W             69
G            163
Playoffs       0
Name: 14, dtype: object)
<class 'tuple'>
(15, Team         PIT
Year        1997
RS           725
RA           760
W             79
G            162
Playoffs       0
Name: 15, dtype: object)
<class 'tuple'>
(16, Team         PIT
Year        1996
RS           776
RA           833
W             73
G            162
Playoffs       0
Name: 16, dtype: object)
<class 'tuple'>
(17, Team         PIT
Year        1993
RS           707
RA           806
W             75
G            162
Playoffs       0
Name: 17, dtype: object)
<class 'tuple'>
(18, Team         PIT
Year        1992
RS           693
RA           595
W             96
G            162
Playoffs       1
Name: 18, dtype: object)
<class 'tuple'>
(19, Team         PIT
Year        1991
RS           768
RA           632
W             98
G            162
Playoffs       1
Name: 19, dtype: object)
<class 'tuple'>
(20, Team         PIT
Year        1990
RS           733
RA           619
W             95
G            162
Playoffs       1
Name: 20, dtype: object)
<class 'tuple'>
(21, Team         PIT
Year        1989
RS           637
RA           680
W             74
G            164
Playoffs       0
Name: 21, dtype: object)
<class 'tuple'>
(22, Team         PIT
Year        1988
RS           651
RA           616
W             85
G            160
Playoffs       0
Name: 22, dtype: object)
<class 'tuple'>
(23, Team         PIT
Year        1987
RS           723
RA           744
W             80
G            162
Playoffs       0
Name: 23, dtype: object)
<class 'tuple'>
(24, Team         PIT
Year        1986
RS           663
RA           700
W             64
G            162
Playoffs       0
Name: 24, dtype: object)
<class 'tuple'>
(25, Team         PIT
Year        1985
RS           568
RA           708
W             57
G            161
Playoffs       0
Name: 25, dtype: object)
<class 'tuple'>
(26, Team         PIT
Year        1984
RS           615
RA           567
W             75
G            162
Playoffs       0
Name: 26, dtype: object)
<class 'tuple'>
(27, Team         PIT
Year        1983
RS           659
RA           648
W             84
G            162
Playoffs       0
Name: 27, dtype: object)
<class 'tuple'>
(28, Team         PIT
Year        1982
RS           724
RA           696
W             84
G            162
Playoffs       0
Name: 28, dtype: object)
<class 'tuple'>
(29, Team         PIT
Year        1980
RS           666
RA           646
W             83
G            162
Playoffs       0
Name: 29, dtype: object)
<class 'tuple'>
(30, Team         PIT
Year        1979
RS           775
RA           643
W             98
G            163
Playoffs       1
Name: 30, dtype: object)
<class 'tuple'>
(31, Team         PIT
Year        1978
RS           684
RA           637
W             88
G            161
Playoffs       0
Name: 31, dtype: object)
<class 'tuple'>
(32, Team         PIT
Year        1977
RS           734
RA           665
W             96
G            162
Playoffs       0
Name: 32, dtype: object)
<class 'tuple'>
(33, Team         PIT
Year        1976
RS           708
RA           630
W             92
G            162
Playoffs       0
Name: 33, dtype: object)
<class 'tuple'>
(34, Team         PIT
Year        1975
RS           712
RA           565
W             92
G            161
Playoffs       1
Name: 34, dtype: object)
<class 'tuple'>
(35, Team         PIT
Year        1974
RS           751
RA           657
W             88
G            162
Playoffs       1
Name: 35, dtype: object)
<class 'tuple'>
(36, Team         PIT
Year        1973
RS           704
RA           693
W             80
G            162
Playoffs       0
Name: 36, dtype: object)
<class 'tuple'>
(37, Team         PIT
Year        1971
RS           788
RA           599
W             97
G            162
Playoffs       1
Name: 37, dtype: object)
<class 'tuple'>
(38, Team         PIT
Year        1970
RS           729
RA           664
W             89
G            162
Playoffs       1
Name: 38, dtype: object)
<class 'tuple'>
(39, Team         PIT
Year        1969
RS           725
RA           652
W             88
G            162
Playoffs       0
Name: 39, dtype: object)
<class 'tuple'>
(40, Team         PIT
Year        1968
RS           583
RA           532
W             80
G            163
Playoffs       0
Name: 40, dtype: object)
<class 'tuple'>
(41, Team         PIT
Year        1967
RS           679
RA           693
W             81
G            163
Playoffs       0
Name: 41, dtype: object)
<class 'tuple'>
(42, Team         PIT
Year        1966
RS           759
RA           641
W             92
G            162
Playoffs       0
Name: 42, dtype: object)
<class 'tuple'>
(43, Team         PIT
Year        1965
RS           675
RA           580
W             90
G            163
Playoffs       0
Name: 43, dtype: object)
<class 'tuple'>
(44, Team         PIT
Year        1964
RS           663
RA           636
W             80
G            162
Playoffs       0
Name: 44, dtype: object)
<class 'tuple'>
(45, Team         PIT
Year        1963
RS           567
RA           595
W             74
G            162
Playoffs       0
Name: 45, dtype: object)
<class 'tuple'>
(46, Team         PIT
Year        1962
RS           706
RA           626
W             93
G            161
Playoffs       0
Name: 46, dtype: object)
<class 'tuple'>

In [6]:
for row_tuple in pit_df.iterrows():
    print(row_tuple)

(0, Team         PIT
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
(1, Team         PIT
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
(2, Team         PIT
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
(3, Team         PIT
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
(4, Team         PIT
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)
(5, Team         PIT
Year        2007
RS           724
RA           846
W             68
G            162
Playoffs       0
Name: 5, dtype: object)
(6, Team         PIT
Year        2006
RS           691
RA           797
W             67
G            162
Playoffs       0
Name: 6, dtype: object)
(7, Team         PIT
Year        2005
RS           680
RA           769
W             67
G            162
Playoffs       0
Name: 7, dtype: object)
(8, Team         PIT
Year        2004
RS           680
RA           744
W             72
G            161
Playoffs       0
Name: 8, dtype: object)
(9, Team         PIT
Year        2003
RS           753
RA           801
W             75
G            162
Playoffs       0
Name: 9, dtype: object)
(10, Team         PIT
Year        2002
RS           641
RA           730
W             72
G            161
Playoffs       0
Name: 10, dtype: object)
(11, Team         PIT
Year        2001
RS           657
RA           858
W             62
G            162
Playoffs       0
Name: 11, dtype: object)
(12, Team         PIT
Year        2000
RS           793
RA           888
W             69
G            162
Playoffs       0
Name: 12, dtype: object)
(13, Team         PIT
Year        1999
RS           775
RA           782
W             78
G            161
Playoffs       0
Name: 13, dtype: object)
(14, Team         PIT
Year        1998
RS           650
RA           718
W             69
G            163
Playoffs       0
Name: 14, dtype: object)
(15, Team         PIT
Year        1997
RS           725
RA           760
W             79
G            162
Playoffs       0
Name: 15, dtype: object)
(16, Team         PIT
Year        1996
RS           776
RA           833
W             73
G            162
Playoffs       0
Name: 16, dtype: object)
(17, Team         PIT
Year        1993
RS           707
RA           806
W             75
G            162
Playoffs       0
Name: 17, dtype: object)
(18, Team         PIT
Year        1992
RS           693
RA           595
W             96
G            162
Playoffs       1
Name: 18, dtype: object)
(19, Team         PIT
Year        1991
RS           768
RA           632
W             98
G            162
Playoffs       1
Name: 19, dtype: object)
(20, Team         PIT
Year        1990
RS           733
RA           619
W             95
G            162
Playoffs       1
Name: 20, dtype: object)
(21, Team         PIT
Year        1989
RS           637
RA           680
W             74
G            164
Playoffs       0
Name: 21, dtype: object)
(22, Team         PIT
Year        1988
RS           651
RA           616
W             85
G            160
Playoffs       0
Name: 22, dtype: object)
(23, Team         PIT
Year        1987
RS           723
RA           744
W             80
G            162
Playoffs       0
Name: 23, dtype: object)
(24, Team         PIT
Year        1986
RS           663
RA           700
W             64
G            162
Playoffs       0
Name: 24, dtype: object)
(25, Team         PIT
Year        1985
RS           568
RA           708
W             57
G            161
Playoffs       0
Name: 25, dtype: object)
(26, Team         PIT
Year        1984
RS           615
RA           567
W             75
G            162
Playoffs       0
Name: 26, dtype: object)
(27, Team         PIT
Year        1983
RS           659
RA           648
W             84
G            162
Playoffs       0
Name: 27, dtype: object)
(28, Team         PIT
Year        1982
RS           724
RA           696
W             84
G            162
Playoffs       0
Name: 28, dtype: object)
(29, Team         PIT
Year        1980
RS           666
RA           646
W             83
G            162
Playoffs       0
Name: 29, dtype: object)
(30, Team         PIT
Year        1979
RS           775
RA           643
W             98
G            163
Playoffs       1
Name: 30, dtype: object)
(31, Team         PIT
Year        1978
RS           684
RA           637
W             88
G            161
Playoffs       0
Name: 31, dtype: object)
(32, Team         PIT
Year        1977
RS           734
RA           665
W             96
G            162
Playoffs       0
Name: 32, dtype: object)
(33, Team         PIT
Year        1976
RS           708
RA           630
W             92
G            162
Playoffs       0
Name: 33, dtype: object)
(34, Team         PIT
Year        1975
RS           712
RA           565
W             92
G            161
Playoffs       1
Name: 34, dtype: object)
(35, Team         PIT
Year        1974
RS           751
RA           657
W             88
G            162
Playoffs       1
Name: 35, dtype: object)
(36, Team         PIT
Year        1973
RS           704
RA           693
W             80
G            162
Playoffs       0
Name: 36, dtype: object)
(37, Team         PIT
Year        1971
RS           788
RA           599
W             97
G            162
Playoffs       1
Name: 37, dtype: object)
(38, Team         PIT
Year        1970
RS           729
RA           664
W             89
G            162
Playoffs       1
Name: 38, dtype: object)
(39, Team         PIT
Year        1969
RS           725
RA           652
W             88
G            162
Playoffs       0
Name: 39, dtype: object)
(40, Team         PIT
Year        1968
RS           583
RA           532
W             80
G            163
Playoffs       0
Name: 40, dtype: object)
(41, Team         PIT
Year        1967
RS           679
RA           693
W             81
G            163
Playoffs       0
Name: 41, dtype: object)
(42, Team         PIT
Year        1966
RS           759
RA           641
W             92
G            162
Playoffs       0
Name: 42, dtype: object)
(43, Team         PIT
Year        1965
RS           675
RA           580
W             90
G            163
Playoffs       0
Name: 43, dtype: object)
(44, Team         PIT
Year        1964
RS           663
RA           636
W             80
G            162
Playoffs       0
Name: 44, dtype: object)
(45, Team         PIT
Year        1963
RS           567
RA           595
W             74
G            162
Playoffs       0
Name: 45, dtype: object)
(46, Team         PIT
Year        1962
RS           706
RA           626
W             93
G            161
Playoffs       0
Name: 46, dtype: object)

In [7]:
def calc_run_diff(runs_scored, runs_allowed):

    run_diff = runs_scored - runs_allowed

    return run_diff

In [8]:
import pandas as pd
giants_df = pd.DataFrame(
   columns=['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs'],
   # dtype={'Team': 'str', 'League': 'str', 'Year': 'int', 'RS': 'int', 'RA': 'int', 'W': 'int', 'G': 'int', 'Playoffs': 'int'},
 data=[['SFG', 'NL', 2012, 718, 649, 94, 162, 1],
                ['SFG', 'NL', 2011, 570, 578, 86, 162, 0],
                ['SFG', 'NL', 2010, 697, 583, 92, 162, 1],
                ['SFG', 'NL', 2009, 657, 611, 88, 162, 0],
                ['SFG', 'NL', 2008, 640, 759, 72, 162, 0],
                ['SFG', 'NL', 2007, 683, 720, 71, 162, 0]]

                         )

In [9]:
giants_df = baseball_df[baseball_df['Team'] == 'SFG'][['Team', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']].reset_index(drop=True)

In [10]:
# gaints_df =  giants_df.astype({'Team': 'str', 'League': 'str', 'Year': 'int', 'RS': 'int', 'RA': 'int', 'W': 'int', 'G': 'int', 'Playoffs': 'int'}).dtypes

In [11]:
# giants_df['RA'] = giants_df['RA'].astype('float64')
# giants_df['RS'] = giants_df['RS'].astype('float64')
# giants_df['Diff'] = (giants_df['RA'] - giants_df['RS']).astype(int)
giants_df

   Team  Year   RS   RA    W    G  Playoffs
0   SFG  2012  718  649   94  162         1
1   SFG  2011  570  578   86  162         0
2   SFG  2010  697  583   92  162         1
3   SFG  2009  657  611   88  162         0
4   SFG  2008  640  759   72  162         0
5   SFG  2007  683  720   71  162         0
6   SFG  2006  746  790   76  161         0
7   SFG  2005  649  745   75  162         0
8   SFG  2004  850  770   91  162         0
9   SFG  2003  755  638  100  161         1
10  SFG  2002  783  616   95  162         1
11  SFG  2001  799  748   90  162         0
12  SFG  2000  925  747   97  162         1
13  SFG  1999  872  831   86  162         0
14  SFG  1998  845  739   89  163         0
15  SFG  1997  784  793   90  162         1
16  SFG  1996  752  862   68  162         0
17  SFG  1993  808  636  103  162         0
18  SFG  1992  574  647   72  162         0
19  SFG  1991  649  697   75  162         0
20  SFG  1990  719  710   85  162         0
21  SFG  1989  699  600   92  162         1
22  SFG  1988  670  626   83  162         0
23  SFG  1987  783  669   90  162         1
24  SFG  1986  698  618   83  162         0
25  SFG  1985  556  674   62  162         0
26  SFG  1984  682  807   66  162         0
27  SFG  1983  687  697   79  162         0
28  SFG  1982  673  687   87  162         0
29  SFG  1980  573  634   75  161         0
30  SFG  1979  672  751   71  162         0
31  SFG  1978  613  594   89  162         0
32  SFG  1977  673  711   75  162         0
33  SFG  1976  595  686   74  162         0
34  SFG  1975  659  671   80  161         0
35  SFG  1974  634  723   72  162         0
36  SFG  1973  739  702   88  162         0
37  SFG  1971  706  644   90  162         1
38  SFG  1970  831  826   86  162         0
39  SFG  1969  713  636   90  162         0
40  SFG  1968  599  529   88  163         0
41  SFG  1967  652  551   91  162         0
42  SFG  1966  675  626   93  161         0
43  SFG  1965  682  593   95  163         0
44  SFG  1964  656  587   90  162         0
45  SFG  1963  725  641   88  162         0
46  SFG  1962  878  690  103  165         1

In [12]:
for i,row in giants_df.iterrows():
    print(*row, sep=', ')

SFG, 2012, 718, 649, 94, 162, 1
SFG, 2011, 570, 578, 86, 162, 0
SFG, 2010, 697, 583, 92, 162, 1
SFG, 2009, 657, 611, 88, 162, 0
SFG, 2008, 640, 759, 72, 162, 0
SFG, 2007, 683, 720, 71, 162, 0
SFG, 2006, 746, 790, 76, 161, 0
SFG, 2005, 649, 745, 75, 162, 0
SFG, 2004, 850, 770, 91, 162, 0
SFG, 2003, 755, 638, 100, 161, 1
SFG, 2002, 783, 616, 95, 162, 1
SFG, 2001, 799, 748, 90, 162, 0
SFG, 2000, 925, 747, 97, 162, 1
SFG, 1999, 872, 831, 86, 162, 0
SFG, 1998, 845, 739, 89, 163, 0
SFG, 1997, 784, 793, 90, 162, 1
SFG, 1996, 752, 862, 68, 162, 0
SFG, 1993, 808, 636, 103, 162, 0
SFG, 1992, 574, 647, 72, 162, 0
SFG, 1991, 649, 697, 75, 162, 0
SFG, 1990, 719, 710, 85, 162, 0
SFG, 1989, 699, 600, 92, 162, 1
SFG, 1988, 670, 626, 83, 162, 0
SFG, 1987, 783, 669, 90, 162, 1
SFG, 1986, 698, 618, 83, 162, 0
SFG, 1985, 556, 674, 62, 162, 0
SFG, 1984, 682, 807, 66, 162, 0
SFG, 1983, 687, 697, 79, 162, 0
SFG, 1982, 673, 687, 87, 162, 0
SFG, 1980, 573, 634, 75, 161, 0
SFG, 1979, 672, 751, 71, 162, 0
SFG, 1978, 613, 594, 89, 162, 0
SFG, 1977, 673, 711, 75, 162, 0
SFG, 1976, 595, 686, 74, 162, 0
SFG, 1975, 659, 671, 80, 161, 0
SFG, 1974, 634, 723, 72, 162, 0
SFG, 1973, 739, 702, 88, 162, 0
SFG, 1971, 706, 644, 90, 162, 1
SFG, 1970, 831, 826, 86, 162, 0
SFG, 1969, 713, 636, 90, 162, 0
SFG, 1968, 599, 529, 88, 163, 0
SFG, 1967, 652, 551, 91, 162, 0
SFG, 1966, 675, 626, 93, 161, 0
SFG, 1965, 682, 593, 95, 163, 0
SFG, 1964, 656, 587, 90, 162, 0
SFG, 1963, 725, 641, 88, 162, 0
SFG, 1962, 878, 690, 103, 165, 1

In [13]:
# Create an empty list to store run differentials
run_diffs = []

# Write a for loop and collect runs allowed and runs scored for each row
for i,row in giants_df.iterrows():
    runs_scored = row['RS']
    runs_allowed = row['RA']
    
    # Use the provided function to calculate run_diff for each row
    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    # Append each run differential to the output list
    run_diffs.append(run_diff)

giants_df['RD'] = run_diffs
print(giants_df)

   Team  Year   RS   RA    W    G  Playoffs   RD
0   SFG  2012  718  649   94  162         1   69
1   SFG  2011  570  578   86  162         0   -8
2   SFG  2010  697  583   92  162         1  114
3   SFG  2009  657  611   88  162         0   46
4   SFG  2008  640  759   72  162         0 -119
5   SFG  2007  683  720   71  162         0  -37
6   SFG  2006  746  790   76  161         0  -44
7   SFG  2005  649  745   75  162         0  -96
8   SFG  2004  850  770   91  162         0   80
9   SFG  2003  755  638  100  161         1  117
10  SFG  2002  783  616   95  162         1  167
11  SFG  2001  799  748   90  162         0   51
12  SFG  2000  925  747   97  162         1  178
13  SFG  1999  872  831   86  162         0   41
14  SFG  1998  845  739   89  163         0  106
15  SFG  1997  784  793   90  162         1   -9
16  SFG  1996  752  862   68  162         0 -110
17  SFG  1993  808  636  103  162         0  172
18  SFG  1992  574  647   72  162         0  -73
19  SFG  1991  649  697   75  162         0  -48
20  SFG  1990  719  710   85  162         0    9
21  SFG  1989  699  600   92  162         1   99
22  SFG  1988  670  626   83  162         0   44
23  SFG  1987  783  669   90  162         1  114
24  SFG  1986  698  618   83  162         0   80
25  SFG  1985  556  674   62  162         0 -118
26  SFG  1984  682  807   66  162         0 -125
27  SFG  1983  687  697   79  162         0  -10
28  SFG  1982  673  687   87  162         0  -14
29  SFG  1980  573  634   75  161         0  -61
30  SFG  1979  672  751   71  162         0  -79
31  SFG  1978  613  594   89  162         0   19
32  SFG  1977  673  711   75  162         0  -38
33  SFG  1976  595  686   74  162         0  -91
34  SFG  1975  659  671   80  161         0  -12
35  SFG  1974  634  723   72  162         0  -89
36  SFG  1973  739  702   88  162         0   37
37  SFG  1971  706  644   90  162         1   62
38  SFG  1970  831  826   86  162         0    5
39  SFG  1969  713  636   90  162         0   77
40  SFG  1968  599  529   88  163         0   70
41  SFG  1967  652  551   91  162         0  101
42  SFG  1966  675  626   93  161         0   49
43  SFG  1965  682  593   95  163         0   89
44  SFG  1964  656  587   90  162         0   69
45  SFG  1963  725  641   88  162         0   84
46  SFG  1962  878  690  103  165         1  188

In [14]:
rangers_df = baseball_df[baseball_df['Team'] == 'NYY'][['Team', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']].reset_index(drop=True)

In [15]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
  i = row.Index
  year = row.Year
  wins = row.W
  
  # Check if rangers made Playoffs (1 means yes; 0 means no)
  if row.Playoffs == 1:
    print(i, year, wins)

0 2012 95
1 2011 97
2 2010 95
3 2009 103
5 2007 94
6 2006 97
7 2005 95
8 2004 101
9 2003 101
10 2002 103
11 2001 95
12 2000 87
13 1999 98
14 1998 114
15 1997 96
16 1996 92
29 1980 103
31 1978 100
32 1977 100
33 1976 97
44 1964 99
45 1963 104
46 1962 96

In [18]:
yankees_df = baseball_df[baseball_df['Team'] == 'NYY'].reset_index(drop=True)
run_diffs = []

# Loop over the DataFrame and calculate each row's run differential
for row in yankees_df.itertuples():
    
    runs_scored = row.RS
    runs_allowed = row.RA

    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    run_diffs.append(run_diff)

# Append new column
yankees_df['RD'] = run_diffs
print(yankees_df)

   Team League  Year   RS   RA    W    OBP    SLG     BA  Playoffs  \
0   NYY     AL  2012  804  668   95  0.337  0.453  0.265         1
1   NYY     AL  2011  867  657   97  0.343  0.444  0.263         1
2   NYY     AL  2010  859  693   95  0.350  0.436  0.267         1
3   NYY     AL  2009  915  753  103  0.362  0.478  0.283         1
4   NYY     AL  2008  789  727   89  0.342  0.427  0.271         0
5   NYY     AL  2007  968  777   94  0.366  0.463  0.290         1
6   NYY     AL  2006  930  767   97  0.363  0.461  0.285         1
7   NYY     AL  2005  886  789   95  0.355  0.450  0.276         1
8   NYY     AL  2004  897  808  101  0.353  0.458  0.268         1
9   NYY     AL  2003  877  716  101  0.356  0.453  0.271         1
10  NYY     AL  2002  897  697  103  0.354  0.455  0.275         1
11  NYY     AL  2001  804  713   95  0.334  0.435  0.267         1
12  NYY     AL  2000  871  814   87  0.354  0.450  0.277         1
13  NYY     AL  1999  900  731   98  0.366  0.453  0.282         1
14  NYY     AL  1998  965  656  114  0.364  0.460  0.288         1
15  NYY     AL  1997  891  688   96  0.362  0.436  0.287         1
16  NYY     AL  1996  871  787   92  0.360  0.436  0.288         1
17  NYY     AL  1993  821  761   88  0.353  0.435  0.279         0
18  NYY     AL  1992  733  746   76  0.328  0.406  0.261         0
19  NYY     AL  1991  674  777   71  0.316  0.387  0.256         0
20  NYY     AL  1990  603  749   67  0.300  0.366  0.241         0
21  NYY     AL  1989  698  792   74  0.331  0.391  0.269         0
22  NYY     AL  1988  772  748   85  0.333  0.395  0.263         0
23  NYY     AL  1987  788  758   89  0.336  0.418  0.262         0
24  NYY     AL  1986  797  738   90  0.347  0.430  0.271         0
25  NYY     AL  1985  839  660   97  0.344  0.425  0.267         0
26  NYY     AL  1984  758  679   87  0.339  0.404  0.276         0
27  NYY     AL  1983  770  703   91  0.337  0.416  0.273         0
28  NYY     AL  1982  709  716   79  0.328  0.398  0.256         0
29  NYY     AL  1980  820  662  103  0.343  0.425  0.267         1
30  NYY     AL  1979  734  672   89  0.328  0.406  0.266         0
31  NYY     AL  1978  735  582  100  0.329  0.388  0.267         1
32  NYY     AL  1977  831  651  100  0.344  0.444  0.281         1
33  NYY     AL  1976  730  575   97  0.328  0.389  0.269         1
34  NYY     AL  1975  681  588   83  0.325  0.382  0.264         0
35  NYY     AL  1974  671  623   89  0.324  0.368  0.263         0
36  NYY     AL  1973  641  610   80  0.322  0.378  0.261         0
37  NYY     AL  1971  648  641   81  0.328  0.360  0.254         0
38  NYY     AL  1970  680  612   93  0.324  0.365  0.251         0
39  NYY     AL  1969  562  587   80  0.308  0.344  0.235         0
40  NYY     AL  1968  536  531   83  0.292  0.318  0.214         0
41  NYY     AL  1967  522  621   72  0.296  0.317  0.225         0
42  NYY     AL  1966  611  612   70  0.299  0.374  0.235         0
43  NYY     AL  1965  611  604   77  0.299  0.364  0.235         0
44  NYY     AL  1964  730  577   99  0.317  0.387  0.253         1
45  NYY     AL  1963  714  547  104  0.309  0.403  0.252         1
46  NYY     AL  1962  817  680   96  0.337  0.426  0.267         1

    RankSeason  RankPlayoffs    G   OOBP   OSLG   RD
0          3.0           3.0  162  0.311  0.419  136
1          2.0           4.0  162  0.322  0.399  210
2          3.0           3.0  162  0.322  0.399  166
3          1.0           1.0  162  0.327  0.408  162
4          NaN           NaN  162  0.329  0.405   62
5          2.0           4.0  162  0.340  0.417  191
6          1.0           4.0  162  0.326  0.413  163
7          3.0           4.0  162  0.332  0.422   97
8          2.0           3.0  162  0.328  0.432   89
9          1.0           2.0  163  0.314  0.407  161
10         1.0           4.0  161  0.309  0.395  200
11         3.0           2.0  161  0.318  0.398   91
12         5.0           1.0  161  0.336  0.422   57
13         3.0           1.0  162  0.329  0.400  169
14         1.0           1.0  162    NaN    NaN  309
15         3.0           4.0  162    NaN    NaN  203
16         3.0           1.0  162    NaN    NaN   84
17         NaN           NaN  162    NaN    NaN   60
18         NaN           NaN  162    NaN    NaN  -13
19         NaN           NaN  162    NaN    NaN -103
20         NaN           NaN  162    NaN    NaN -146
21         NaN           NaN  161    NaN    NaN  -94
22         NaN           NaN  161    NaN    NaN   24
23         NaN           NaN  162    NaN    NaN   30
24         NaN           NaN  162    NaN    NaN   59
25         NaN           NaN  161    NaN    NaN  179
26         NaN           NaN  162    NaN    NaN   79
27         NaN           NaN  162    NaN    NaN   67
28         NaN           NaN  162    NaN    NaN   -7
29         1.0           3.0  162    NaN    NaN  158
30         NaN           NaN  160    NaN    NaN   62
31         1.0           1.0  163    NaN    NaN  153
32         3.0           1.0  162    NaN    NaN  180
33         3.0           2.0  159    NaN    NaN  155
34         NaN           NaN  160    NaN    NaN   93
35         NaN           NaN  162    NaN    NaN   48
36         NaN           NaN  162    NaN    NaN   31
37         NaN           NaN  162    NaN    NaN    7
38         NaN           NaN  163    NaN    NaN   68
39         NaN           NaN  162    NaN    NaN  -25
40         NaN           NaN  164    NaN    NaN    5
41         NaN           NaN  163    NaN    NaN  -99
42         NaN           NaN  160    NaN    NaN   -1
43         NaN           NaN  162    NaN    NaN    7
44         1.0           2.0  164    NaN    NaN  153
45         1.0           2.0  161    NaN    NaN  167
46         2.0           1.0  162    NaN    NaN  137

In [20]:
# rays_df = baseball_df.groupby('Year')['RS', 'RA', 'W', 'Playoffs'].sum().sort_values(by='Year',ascending=False).reset_index().head()
rays_df = baseball_df.groupby(['Year','Team'])[['RS', 'RA', 'W', 'Playoffs']].sum().sort_values(by='Year',ascending=False).reset_index().head()
rays_df

   Year Team   RS   RA   W  Playoffs
0  2012  WSN  731  594  98         1
1  2012  MIA  609  724  69         0
2  2012  ARI  734  688  81         0
3  2012  ATL  700  600  94         1
4  2012  BAL  712  705  93         1

In [21]:
# rays_df = baseball_df.groupby('Year')[:].sum()
rays_df.drop('Team', axis=1, inplace=True)
stat_totals = rays_df.apply(sum, axis=0)
print(stat_totals)

Year        10060
RS           3486
RA           3311
W             435
Playoffs        3
dtype: int64

In [22]:
# Gather total runs scored in all games per year
total_runs_scored = rays_df[['RS', 'RA']].apply(sum, axis=1)
print(total_runs_scored)

0    1325
1    1333
2    1422
3    1300
4    1417
dtype: int64

In [23]:
def text_playoffs(num_playoffs): 
    if num_playoffs == 1:
        return 'Yes'
    else:
        return 'No'

In [24]:
# Convert numeric playoffs to text by applying text_playoffs()
textual_playoffs = rays_df.apply(lambda row: text_playoffs(row['Playoffs']), axis=1)
print(textual_playoffs)

0    Yes
1     No
2     No
3    Yes
4    Yes
dtype: object

In [25]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

In [26]:
dbacks_df = baseball_df[baseball_df['Team']== 'ARI'].groupby('Year')[['RS', 'RA', 'W','G', 'Playoffs']].sum().sort_values(by='Year',ascending=False).reset_index().head()

In [27]:
# Display the first five rows of the DataFrame
print(dbacks_df.head())

# Create a win percentage Series 
win_percs = dbacks_df.apply(lambda row: calc_win_perc(row['W'], row['G']), axis=1)
print(win_percs, '\n')

# Append a new column to dbacks_df
dbacks_df['WP'] = win_percs
print(dbacks_df, '\n')

# Display dbacks_df where WP is greater than 0.50
print(dbacks_df[dbacks_df['WP'] >= 0.50])

   Year   RS   RA   W    G  Playoffs
0  2012  734  688  81  162         0
1  2011  731  662  94  162         1
2  2010  713  836  65  162         0
3  2009  720  782  70  162         0
4  2008  720  706  82  162         0
0    0.50
1    0.58
2    0.40
3    0.43
4    0.51
dtype: float64

   Year   RS   RA   W    G  Playoffs    WP
0  2012  734  688  81  162         0  0.50
1  2011  731  662  94  162         1  0.58
2  2010  713  836  65  162         0  0.40
3  2009  720  782  70  162         0  0.43
4  2008  720  706  82  162         0  0.51

   Year   RS   RA   W    G  Playoffs    WP
0  2012  734  688  81  162         0  0.50
1  2011  731  662  94  162         1  0.58
4  2008  720  706  82  162         0  0.51

In [28]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

win_percs_list = []

for i in range(len(baseball_df)):
    row = baseball_df.iloc[i]

    wins = row['W']
    games_played = row['G']

    win_perc = calc_win_perc(wins, games_played)

    win_percs_list.append(win_perc)

baseball_df['WP'] = win_percs_list

In [30]:
# Use the W array and G array to calculate win percentages
win_percs_np = calc_win_perc(baseball_df['W'].values, baseball_df['G'].values)

# Append a new column to baseball_df that stores all win percentages
baseball_df['WP'] = win_percs_np

print(baseball_df.head())

  Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  RankSeason  \
0  ARI     NL  2012  734  688  81  0.328  0.418  0.259         0         NaN
1  ATL     NL  2012  700  600  94  0.320  0.389  0.247         1         4.0
2  BAL     AL  2012  712  705  93  0.311  0.417  0.247         1         5.0
3  BOS     AL  2012  734  806  69  0.315  0.415  0.260         0         NaN
4  CHC     NL  2012  613  759  61  0.302  0.378  0.240         0         NaN

   RankPlayoffs    G   OOBP   OSLG    WP
0           NaN  162  0.317  0.415  0.50
1           5.0  162  0.306  0.378  0.58
2           4.0  162  0.315  0.403  0.57
3           NaN  162  0.331  0.428  0.43
4           NaN  162  0.335  0.424  0.38

In [34]:
# Use the W array and G array to calculate win percentages
# win_percs_np = calc_win_perc(baseball_df['W'].values, baseball_df['G'].values)

# Append a new column to baseball_df that stores all win percentages
baseball_df['WP'] = baseball_df.apply(lambda row: calc_win_perc(row['W'], row['G']), axis=1)

print(baseball_df.head())

  Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  RankSeason  \
0  ARI     NL  2012  734  688  81  0.328  0.418  0.259         0         NaN
1  ATL     NL  2012  700  600  94  0.320  0.389  0.247         1         4.0
2  BAL     AL  2012  712  705  93  0.311  0.417  0.247         1         5.0
3  BOS     AL  2012  734  806  69  0.315  0.415  0.260         0         NaN
4  CHC     NL  2012  613  759  61  0.302  0.378  0.240         0         NaN

   RankPlayoffs    G   OOBP   OSLG    WP
0           NaN  162  0.317  0.415  0.50
1           5.0  162  0.306  0.378  0.58
2           4.0  162  0.315  0.403  0.57
3           NaN  162  0.331  0.428  0.43
4           NaN  162  0.335  0.424  0.38

In [35]:
def predict_win_perc(RS, RA):
    prediction = RS ** 2 / (RS ** 2 + RA ** 2)
    return np.round(prediction, 2)

In [36]:
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

# Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

# Calculate the win percentage predictions using NumPy arrays
win_perc_preds_np = predict_win_perc(baseball_df['RS'].values, baseball_df['RA'].values)
baseball_df['WP_preds'] = win_perc_preds_np
print(baseball_df.head())

  Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  RankSeason  \
0  ARI     NL  2012  734  688  81  0.328  0.418  0.259         0         NaN
1  ATL     NL  2012  700  600  94  0.320  0.389  0.247         1         4.0
2  BAL     AL  2012  712  705  93  0.311  0.417  0.247         1         5.0
3  BOS     AL  2012  734  806  69  0.315  0.415  0.260         0         NaN
4  CHC     NL  2012  613  759  61  0.302  0.378  0.240         0         NaN

   RankPlayoffs    G   OOBP   OSLG    WP  WP_preds
0           NaN  162  0.317  0.415  0.50      0.53
1           5.0  162  0.306  0.378  0.58      0.58
2           4.0  162  0.315  0.403  0.57      0.50
3           NaN  162  0.331  0.428  0.43      0.45
4           NaN  162  0.335  0.424  0.38      0.39