In [5]:
import pandas as pd
import numpy as np

pit_df = pd.read_csv('pit_df.csv')

In [8]:
print(*pit_df.columns)
for i,row in pit_df.iterrows():
    print(*row.values,sep=',')

Team League Year RS RA W G Playoffs
PIT,NL,2012,651,674,79,162,0
PIT,NL,2011,610,712,72,162,0
PIT,NL,2010,587,866,57,162,0
PIT,NL,2009,636,768,62,161,0
PIT,NL,2008,735,884,67,162,0

In [6]:
print([*pit_df.columns])
for i,row in pit_df.iterrows():
    print([*row.values],sep=',')

['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']
['PIT', 'NL', 2012, 651, 674, 79, 162, 0]
['PIT', 'NL', 2011, 610, 712, 72, 162, 0]
['PIT', 'NL', 2010, 587, 866, 57, 162, 0]
['PIT', 'NL', 2009, 636, 768, 62, 161, 0]
['PIT', 'NL', 2008, 735, 884, 67, 162, 0]

In [7]:
# Print the row and type of each row
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(0, Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
<class 'tuple'>
(1, Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
<class 'tuple'>
(2, Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
<class 'tuple'>
(3, Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
<class 'tuple'>
(4, Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)
<class 'tuple'>

In [9]:
for row_tuple in pit_df.iterrows():
    print(row_tuple)

(0, Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
(1, Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
(2, Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
(3, Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
(4, Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)