In [2]:
# https://docs.python.org/3/library/functions.html#sorted

In [3]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen', 'Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [4]:
records = [['2014', 'F', '20799', 'Emma'],
 ['2014', 'F', '19674', 'Olivia'],
 ['2014', 'F', '18490', 'Sophia'],
 ['2014', 'F', '16950', 'Isabella'],
 ['2014', 'F', '15586', 'Ava'],
 ['2014', 'F', '13442', 'Mia'],
 ['2014', 'F', '12562', 'Emily'],
 ['2014', 'F', '11985', 'Abigail'],
 ['2014', 'F', '10247', 'Madison'],
 ['2014', 'F', '10048', 'Charlotte'],
 ['2014', 'F', '9564', 'Harper'],
 ['2014', 'F', '9542', 'Sofia'],
 ['2014', 'F', '9517', 'Avery'],
 ['2014', 'F', '9492', 'Elizabeth'],
 ['2014', 'F', '8727', 'Amelia'],
 ['2014', 'F', '8692', 'Evelyn'],
 ['2014', 'F', '8489', 'Ella'],
 ['2014', 'F', '8469', 'Chloe'],
 ['2014', 'F', '7955', 'Victoria'],
 ['2014', 'F', '7589', 'Aubrey'],
 ['2014', 'F', '7554', 'Grace'],
 ['2014', 'F', '7358', 'Zoey'],
 ['2014', 'F', '7061', 'Natalie'],
 ['2014', 'F', '6950', 'Addison'],
 ['2014', 'F', '6869', 'Lillian'],
 ['2014', 'F', '6767', 'Brooklyn']]

In [5]:
# Create the list comprehension: baby_names
baby_names = [s[3] for s in records]
    
# Print the sorted baby names in ascending alphabetical order
print(sorted(baby_names))

['Abigail', 'Addison', 'Amelia', 'Aubrey', 'Ava', 'Avery', 'Brooklyn', 'Charlotte', 'Chloe', 'Elizabeth', 'Ella', 'Emily', 'Emma', 'Evelyn', 'Grace', 'Harper', 'Isabella', 'Lillian', 'Madison', 'Mia', 'Natalie', 'Olivia', 'Sofia', 'Sophia', 'Victoria', 'Zoey']

In [9]:
girl_names = ['Jada',
 'Emily',
 'Ava',
 'Serenity',
 'Claire',
 'Sophia',
 'Sarah',
 'Ashley',
 'Chaya',
 'Abigail',
 'Zoe',
 'Leah',
 'Hailey',
 'Ava',
 'Olivia',
 'Emma',
 'Chloe',
 'Sophia',
 'Aaliyah',
 'Angela',
 'Camila',
 'Savannah',
 'Serenity',
 'Chloe',
 'Fatoumata']
boy_names = ['Josiah',
 'Ethan',
 'David',
 'Jayden',
 'Mason',
 'Ryan',
 'Christian',
 'Isaiah',
 'Jayden',
 'Michael',
 'Noah',
 'Samuel',
 'Sebastian',
 'Noah',
 'Dylan',
 'Lucas',
 'Joshua',
 'Angel',
 'Jacob',
 'Matthew',
 'Josiah',
 'Jacob',
 'Muhammad',
 'Alexander',
 'Jason']

In [10]:
# Pair up the boy and girl names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    # print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

    # Print the rank and names associated with each rank
    print(f'Rank {idx+1}: {girl_name} and {boy_name}')

Rank 1: Jada and Josiah
Rank 2: Emily and Ethan
Rank 3: Ava and David
Rank 4: Serenity and Jayden
Rank 5: Claire and Mason
Rank 6: Sophia and Ryan
Rank 7: Sarah and Christian
Rank 8: Ashley and Isaiah
Rank 9: Chaya and Jayden
Rank 10: Abigail and Michael
Rank 11: Zoe and Noah
Rank 12: Leah and Samuel
Rank 13: Hailey and Sebastian
Rank 14: Ava and Noah
Rank 15: Olivia and Dylan
Rank 16: Emma and Lucas
Rank 17: Chloe and Joshua
Rank 18: Sophia and Angel
Rank 19: Aaliyah and Jacob
Rank 20: Angela and Matthew
Rank 21: Camila and Josiah
Rank 22: Savannah and Jacob
Rank 23: Serenity and Muhammad
Rank 24: Chloe and Alexander
Rank 25: Fatoumata and Jason

In [11]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

In [14]:
top_ten_girl_names = [(1, 'Jada'),
 (2, 'Emily'),
 (3, 'Ava'),
 (4, 'Serenity'),
 (5, 'Claire'),
 (6, 'Sophia'),
 (7, 'Sarah'),
 (8, 'Ashley'),
 (9, 'Chaya'),
 (10, 'Abigail')]

In [15]:
# Loop over top_ten_girl_names and unpack each tuple into top_ten_rank and name
for top_ten_rank , name in (top_ten_girl_names):
  	# Print each name in the proper format
    print(f"Rank #: { top_ten_rank } - { name }")

Rank #: 1 - Jada
Rank #: 2 - Emily
Rank #: 3 - Ava
Rank #: 4 - Serenity
Rank #: 5 - Claire
Rank #: 6 - Sophia
Rank #: 7 - Sarah
Rank #: 8 - Ashley
Rank #: 9 - Chaya
Rank #: 10 - Abigail

In [16]:
# The top ten boy names are:  as preamble
preamble = "The top ten boy names are: "

# , and as conjunction
conjunction = ', and'

# Combines the first 9 names in boy_names with a comma and space as first_nine_names
first_nine_names = ", ".join(boy_names[0:9])

# Print f-string preamble, first_nine_names, conjunction, the final item in boy_names and a period
print(f"{preamble}{first_nine_names}{conjunction} {boy_names[-1]}.")

The top ten boy names are: Josiah, Ethan, David, Jayden, Mason, Ryan, Christian, Isaiah, Jayden, and Jason.

In [17]:
# Store a list of girl_names that start with s: names_with_s
names_with_s = [name for name in girl_names if name.lower().startswith('s')]

print(names_with_s)

# Store a list of girl_names that contain angel: names_with_angel
names_with_angel = [name for name in girl_names if 'angel' in name.lower()]

print(names_with_angel)

['Serenity', 'Sophia', 'Sarah', 'Sophia', 'Savannah', 'Serenity']
['Angela']

In [ ]:
import pandas as pd
pd.read_csv('data.csv',index_col=)