In [19]:
import pandas as pd
adult = pd.read_csv('adult.csv')
# print(adult.nbytes)
adult.head()

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
# Explore the Above/Below 50k variable
print(adult["Above/Below 50k"].describe())

# Print a frequency table of "Above/Below 50k"
print(adult["Above/Below 50k"].value_counts())

# Print relative frequency values
print(adult["Above/Below 50k"].value_counts(normalize = True))

count      32561
unique         2
top        <=50K
freq       24720
Name: Above/Below 50k, dtype: object
 <=50K    24720
 >50K      7841
Name: Above/Below 50k, dtype: int64
 <=50K    0.75919
 >50K     0.24081
Name: Above/Below 50k, dtype: float64

In [9]:
list_of_occupations = adult["Occupation"].values
# Create a Series, default dtype
series1 = pd.Series(list_of_occupations)

# Print out the data type and number of bytes for series1
print("series1 data type:", series1.dtype)
print("series1 number of bytes:", series1.nbytes)

# Create a Series, "category" dtype
series2 = pd.Series(list_of_occupations, dtype="category")

# Print out the data type and number of bytes for series2
print("series2 data type:", series2.dtype)
print("series2 number of bytes:", series2.nbytes)

series1 data type: object
series1 number of bytes: 260488
series2 data type: category
series2 number of bytes: 32681

In [14]:
medals_won = ['Gold', 'Bronze', 'Gold', 'Silver', 'Bronze']

In [15]:
# Create a categorical Series and specify the categories (let pandas know the order matters!)
medals =  pd.Categorical(medals_won, categories=["Bronze", "Silver", "Gold"], ordered=True)
print(medals)

['Gold', 'Bronze', 'Gold', 'Silver', 'Bronze']
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [16]:
# Check the dtypes
print(adult.dtypes)

# Create a dictionary with column names as keys and "category" as values
adult_dtypes = {
   "Workclass": "category",
   "Education": "category",
   "Relationship": "category",
   "Above/Below 50k": "category" 
}

# Read in the CSV using the dtypes parameter
adult2 = pd.read_csv(
  "adult.csv",
  dtype = adult_dtypes
)
print(adult2.dtypes)

Age                 int64
Workclass          object
fnlgwt              int64
Education          object
Education Num       int64
Marital Status     object
Occupation         object
Relationship       object
Race               object
Sex                object
Capital Gain        int64
Capital Loss        int64
Hours/Week          int64
Country            object
Above/Below 50k    object
dtype: object
Age                   int64
Workclass          category
fnlgwt                int64
Education          category
Education Num         int64
Marital Status       object
Occupation           object
Relationship       category
Race                 object
Sex                  object
Capital Gain          int64
Capital Loss          int64
Hours/Week            int64
Country              object
Above/Below 50k    category
dtype: object

In [20]:

# Group the adult dataset by "Sex" and "Above/Below 50k"
gb = adult.groupby(by=['Sex','Above/Below 50k'])

# Print out how many rows are in each created group
print(gb.size())

# Print out the mean of each group for all columns
print(gb.mean())

Sex      Above/Below 50k
 Female   <=50K              9592
          >50K               1179
 Male     <=50K             15128
          >50K               6662
dtype: int64
                               Age         fnlgwt  Education Num  \
Sex     Above/Below 50k
 Female  <=50K           36.210801  185999.381359       9.820475
         >50K            42.125530  183687.406277      11.787108
 Male    <=50K           37.147012  193093.609268       9.452142
         >50K            44.625788  188769.101321      11.580606

                         Capital Gain  Capital Loss  Hours/Week
Sex     Above/Below 50k
 Female  <=50K             121.986134     47.364470   35.916701
         >50K             4200.389313    173.648855   40.426633
 Male    <=50K             165.723823     56.806782   40.693879
         >50K             3971.765836    198.780396   46.366106

In [24]:
# Create a list of user-selected variables
user_list = ['Education','Above/Below 50k']

# Create a GroupBy object using this list
gb = adult.groupby(by=user_list)

# Find the mean for the variable "Hours/Week" for each group - Be efficient!
print(gb['Hours/Week'].min())

Education      Above/Below 50k
 10th           <=50K              1
                >50K              10
 11th           <=50K              2
                >50K              30
 12th           <=50K              6
                >50K              35
 1st-4th        <=50K              4
                >50K              40
 5th-6th        <=50K              3
                >50K              30
 7th-8th        <=50K              2
                >50K              20
 9th            <=50K              1
                >50K              25
 Assoc-acdm     <=50K              1
                >50K               2
 Assoc-voc      <=50K              1
                >50K              12
 Bachelors      <=50K              2
                >50K               4
 Doctorate      <=50K              3
                >50K               1
 HS-grad        <=50K              1
                >50K               1
 Masters        <=50K              1
                >50K               2
 Preschool      <=50K             10
 Prof-school    <=50K              2
                >50K               5
 Some-college   <=50K              1
                >50K               3
Name: Hours/Week, dtype: int64