https://www.postgresql.org/docs/10/datatype-datetime.html#DATATYPE-DATETIME-INPUT

In [ ]:
-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-09-24', 5454, '30');

-- Doublecheck the contents
SELECT *
FROM transactions;

In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect(r'./transactions.db')
def rsq(sql):
    return pd.read_sql(sql, conn)

In [3]:
rsq("""
    create table if not exists transactions(
        transaction_date date,
        amount int,
        fee int
    )
    """)

TypeError: 'NoneType' object is not iterable

In [4]:
rsq("""-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-09-24', 5454, '30');

""")

TypeError: 'NoneType' object is not iterable

In [5]:
rsq("""
-- Doublecheck the contents
SELECT *
FROM transactions;""")

  transaction_date  amount  fee
0       2018-09-24    5454   30

In [6]:
rsq("""
    -- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS integer) AS net_amount 
FROM transactions;
    """)

  transaction_date  net_amount
0       2018-09-24        5484