In [1]:
# from sqlite3 import connect
# from argon2 import PasswordHasher
import mysql.connector 

"""
show databases;
create database dj;

use dj; 
create table student(name varchar(20), college varchar(20));

insert into student values ('naji','crec'),('vijay', 'srec');
select * from student
"""






mydb =  mysql.connector.connect(
    host='localhost',
    user='root',
    password ='Dam560037KA',
    database = 'dj'
)
print(mydb)






mycursor = mydb.cursor()

# # mycursor.execute('show databases')

# # [print(i) for i in mycursor]

# # mycursor.execute('use dj')

mycursor.execute('select * from student')


[print(i) for i in mycursor]

# result = mycursor.fetchone()
# [print(i) for i in result]

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [2]:
import mysql.connector

In [3]:
mydb =  mysql.connector.connect(
    host=r'sql6.freemysqlhosting.net',
    user='sql6507895',
    password ='18gzWIjsTn'
)
print(mydb)

ProgrammingError: 1045 (28000): Access denied for user 'sql6507895'@'106.221.183.134' (using password: YES)

In [ ]:
mydb =  mysql.connector.connect(
    host=r'sql6.freemysqlhosting.net',
    user='sql6507895',
    password ='18gzWIjsTn',
    database = 'sql6507895'
)
# print(mydb)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE IF NOT EXISTS customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

In [ ]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")
for x in mycursor:
    print(x)

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [ ]:

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

In [ ]:
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [ ]:

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

In [ ]:

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [ ]:

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x[0])

John
Peter
Amy
Hannah
Michael
Sandy
Betty
Richard
Susan
Vicky
Ben
William
Chuck
Viola
Michelle

In [ ]:
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [ ]:
mydb =  mysql.connector.connect(
    host=r'sql6.freemysqlhosting.net',
    user='sql6507895',
    password ='18gzWIjsTn',
    database = 'sql6507895'
)
# print(mydb)
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

In [ ]:
mydb =  mysql.connector.connect(
    host=r'sql6.freemysqlhosting.net',
    user='sql6507895',
    password ='18gzWIjsTn',
    database = 'sql6507895'
)
# print(mydb)
mycursor = mydb.cursor()

In [ ]:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

In [ ]:
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

In [ ]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)

In [ ]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)

In [ ]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [ ]:

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [ ]:
mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

In [ ]:
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [ ]:
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [ ]:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [ ]:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)

In [ ]:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)

In [ ]:
mydb =  mysql.connector.connect(
    host=r'sql6.freemysqlhosting.net',
    user='sql6507895',
    password ='18gzWIjsTn',
    database = 'sql6507895'
)
# print(mydb)
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS users (id INT PRIMARY KEY ,name VARCHAR(255), fav INT)")

In [ ]:

sql = "INSERT INTO users (id,name, fav) VALUES (%s, %s,%s)"
val = [
    ( 1,  'John', 154),
    ( 2,  'Peter',  154),
    ( 3,  'Amy',  155),
    (  4, 'Hannah',0),
    ( 5, 'Michael',0) 
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS products (id INT PRIMARY KEY ,name VARCHAR(255))")

In [ ]:

sql = "INSERT INTO products (id,name) VALUES (%s, %s)"
val = [
   ( 154, 'Chocolate Heaven' ),
( 155,  'Tasty Lemons' ),
(  156, 'Vanilla Dreams')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

3 was inserted.

In [ ]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')

In [ ]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', None)
('Michael', None)

In [ ]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"
  
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', None)
('Michael', None)

In [ ]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"
  
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
(None, 'Vanilla Dreams')