In [33]:
import pandas as pd
import numpy as np

In [34]:
# edited/added
obesity = pd.read_csv('obesity.csv')
obesity.set_index(['country', 'biological_sex', 'year'], inplace=True)

# Unstack the first level and calculate the mean of the columns
obesity_general = obesity.unstack(level=0).mean(axis=1)

# Print obesity_general
print(obesity_general)

biological_sex  year
Female          2005    15.133333
                2015    18.100000
Male            2005    13.866667
                2015    18.133333
dtype: float64

In [35]:

# Unstack the second level and calculate the mean of the columns
obesity_mean = obesity.unstack(level=1).mean(axis=1)

# Print obesity_mean
print(obesity_mean)

country    year
Argentina  2005    22.85
           2015    27.65
Japan      2005     2.55
           2015     4.10
Norway     2005    18.10
           2015    22.60
dtype: float64

In [36]:
# Unstack the third level and calculate the difference between columns
obesity_variation = obesity.unstack(level=2).diff(axis=1)

# Print obesity_variation
print(obesity_variation)

                         perc_obesity
year                             2005 2015
country   biological_sex
Argentina Female                  NaN  4.3
          Male                    NaN  5.3
Japan     Female                  NaN  1.0
          Male                    NaN  2.1
Norway    Female                  NaN  3.6
          Male                    NaN  5.4

In [44]:
pd.read_csv('obesity_v1.csv')

    country biological_sex  year       metrics  value
0    France         Female  1995  perc_obesity   15.3
1    France         Female  2005  perc_obesity   18.1
2    France         Female  2015  perc_obesity   20.8
3    France           Male  1995  perc_obesity   12.8
4    France           Male  2005  perc_obesity   16.9
5    France           Male  2015  perc_obesity   21.5
6   Germany         Female  1995  perc_obesity   14.4
7   Germany         Female  2005  perc_obesity   17.2
8   Germany         Female  2015  perc_obesity   20.1
9   Germany           Male  1995  perc_obesity   14.4
10  Germany           Male  2005  perc_obesity   18.7
11  Germany           Male  2015  perc_obesity   23.6
12   France         Female  1995     variation    7.7
13   France         Female  2005     variation    8.2
14   France         Female  2015     variation   11.3
15   France           Male  1995     variation    7.6
16   France           Male  2005     variation    8.4
17   France           Male  2015     variation   11.8
18  Germany         Female  1995     variation    4.6
19  Germany         Female  2005     variation    5.2
20  Germany         Female  2015     variation    8.4
21  Germany           Male  1995     variation    5.1
22  Germany           Male  2005     variation    5.9
23  Germany           Male  2015     variation    9.8

In [71]:
obesity = pd.read_csv('obesity_v1.csv')
obesity = pd.pivot_table(obesity, index=['country'], columns=['year'], values='value')
# obesity.columns.names = ['year', None]
obesity

year       1995   2005    2015
country
France   10.850  12.90  16.350
Germany   9.625  11.75  15.475

In [70]:
obesity.stack().max(axis=1).unstack()

                        perc_obesity  variation
country biological_sex
France  Female                  20.8       11.3
        Male                    21.5       11.8
Germany Female                  20.1        8.4
        Male                    23.6        9.8

In [49]:
# edited/added
obesity = pd.read_csv('obesity_v1.csv')
obesity = pd.pivot_table(obesity, index=['country', 'biological_sex'], columns=['year', 'metrics'], values='value')
obesity.columns.names = ['year', None]

# Stack obesity, get median of columns and unstack again
median_obesity = obesity.stack().median(axis=1).unstack()

# Print median_obesity
print(median_obesity)

                        perc_obesity  variation
country biological_sex
France  Female                  18.1        8.2
        Male                    16.9        8.4
Germany Female                  17.2        5.2
        Male                    18.7        5.9

In [43]:
# Stack the first level, get sum, and unstack the second level
obesity_sum = obesity.stack(level=0).sum(axis=1).unstack(level=1)

# Print obesity_max
print(obesity_sum)

biological_sex  Female  Male
country year
France  1995      23.0  20.4
        2005      26.3  25.3
        2015      32.1  33.3
Germany 1995      19.0  19.5
        2005      22.4  24.6
        2015      28.5  33.4

In [7]:
# edited/added
obesity = pd.read_csv('obesity_v2.csv')
obesity = pd.pivot_table(obesity, index=['year', 'biological_sex'], columns=['metric', 'country'], values='value',aggfunc)
obesity.columns.names = [None, 'country']
obesity

C:\Users\jdamodhar\AppData\Local\Temp\ipykernel_50416\1311429856.py:3: FutureWarning: The provided callable <function mean at 0x000002787E01D6C0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  obesity = pd.pivot_table(obesity, index=['year', 'biological_sex'], columns=['metric', 'country'], values='value',aggfunc=np.mean)

                    perc_obesity
country                Argentina Brazil France
year biological_sex
1995 Female                 20.2   15.3   15.3
     Male                   16.8    8.9   12.8
2005 Female                 24.2   20.1   18.1
     Male                   21.5   13.2   16.9
2015 Female                 28.5   24.9   20.8
     Male                   26.8   18.0   21.5

In [8]:
obesity.stack(level='country')

                               perc_obesity
year biological_sex country
1995 Female         Argentina          20.2
                    Brazil             15.3
                    France             15.3
     Male           Argentina          16.8
                    Brazil              8.9
                    France             12.8
2005 Female         Argentina          24.2
                    Brazil             20.1
                    France             18.1
     Male           Argentina          21.5
                    Brazil             13.2
                    France             16.9
2015 Female         Argentina          28.5
                    Brazil             24.9
                    France             20.8
     Male           Argentina          26.8
                    Brazil             18.0
                    France             21.5

In [9]:
# Stack country level, group by country and get the mean 
obesity_mean = obesity.stack(level='country').groupby('country').mean()

# Print obesity_mean
print(obesity_mean)

           perc_obesity
country
Argentina     23.000000
Brazil        16.733333
France        17.566667

In [10]:
# Stack country level, group by country and get the median 
obesity_median = obesity.stack(level='country').groupby('country').median()

# Print obesity_mean
print(obesity_median)

           perc_obesity
country
Argentina         22.85
Brazil            16.65
France            17.50

In [11]:
# edited/added
obesity = pd.read_csv('obesity_list.csv')

# Explode the values of bounds to a separate row
obesity_bounds = obesity['bounds'].explode()

# Print obesity_bounds
print(obesity_bounds)

0    [15.4, 31.5]
1    [16.2, 32.4]
2      [1.1, 3.5]
3    [13.1, 33.0]
Name: bounds, dtype: object

In [12]:
# Explode the values of bounds to a separate row
obesity_bounds = obesity['bounds'].explode()

# Merge obesity_bounds with country and perc_obesity columns of obesity using the indexes
obesity_final = obesity[['country', 'perc_obesity']].merge(obesity_bounds, 
                                                           right_index=True, 
                                                           left_index=True)

# Print obesity_final
print(obesity_final)

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]

In [13]:
# Transform the list-like column named bounds 
obesity_explode = obesity.explode('bounds')

# Modify obesity_explode by resetting the index
obesity_explode.reset_index(drop=True, inplace=True)

# Print obesity_explode
print(obesity_explode)

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]

In [14]:
# Split the columns bounds using a hyphen as delimiter
obesity_split = obesity['bounds'].str.split('-')

# Print obesity_split
print(obesity_split)

0    [[15.4, 31.5]]
1    [[16.2, 32.4]]
2      [[1.1, 3.5]]
3    [[13.1, 33.0]]
Name: bounds, dtype: object

In [15]:
# Assign the result of the split to the bounds column
obesity_split = obesity.assign(bounds=obesity['bounds'].str.split('-'))

# Print obesity_split
print(obesity_split)

     country  perc_obesity          bounds
0  Argentina          21.5  [[15.4, 31.5]]
1    Germany          22.3  [[16.2, 32.4]]
2      Japan           2.5    [[1.1, 3.5]]
3     Norway          23.0  [[13.1, 33.0]]

In [16]:

# Transform the column bounds in the obesity DataFrame
obesity_split = obesity.assign(bounds=obesity['bounds'].str.split('-')).explode('bounds')

# Print obesity_split
print(obesity_split)

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]

In [17]:
# edited/added
movies = [
  {'director': 'Woody Allen',
  'producer': 'Letty Aronson',
  'features': {'title': 'Magic in the Moonlight', 'year': 2014}},
  {'director': 'Niki Caro',
  'producer': 'Jason Reed',
  'features': {'title': 'Mulan', 'year': 2020}}
]
  
# Import the json_normalize function
from pandas import json_normalize

# Normalize movies and separate the new columns with an underscore
movies_norm = json_normalize(movies, sep='_')

# Reshape using director and producer as index, create movies from column starting from features
movies_long = pd.wide_to_long(movies_norm, stubnames='features', 
                              i=['director', 'producer'], j='movies', 
                              sep='_', suffix='\w+')

# Print movies_long
print(movies_long)

                                                features
director    producer      movies
Woody Allen Letty Aronson title   Magic in the Moonlight
                          year                      2014
Niki Caro   Jason Reed    title                    Mulan
                          year                      2020

In [18]:
  # edited/added
movies = [
  {'director': 'Woody Allen',
  'producer': 'Letty Aronson',
  'features': [{'title': 'Magic in the Moonlight', 'year': 2014},
  {'title': 'Vicky Cristina Barcelona', 'year': 2008},
  {'title': 'Midnight in Paris', 'year': 2011}]},
  {'director': 'Niki Caro',
  'producer': 'Jason Reed',
  'features': [{'title': 'Mulan', 'year': 2020}]}
]
# Normalize the JSON contained in movies
normalize_movies = json_normalize(movies)

# Print normalize_movies
print(normalize_movies)

      director       producer  \
0  Woody Allen  Letty Aronson
1    Niki Caro     Jason Reed

                                            features
0  [{'title': 'Magic in the Moonlight', 'year': 2...
1                 [{'title': 'Mulan', 'year': 2020}]

In [19]:
# Specify the features column as the list of records 
normalize_movies = json_normalize(movies, 
                                  record_path='features')

# Print normalize_movies
print(normalize_movies)

                      title  year
0    Magic in the Moonlight  2014
1  Vicky Cristina Barcelona  2008
2         Midnight in Paris  2011
3                     Mulan  2020

In [20]:
# Specify director and producer to use as metadata for each record
normalize_movies = json_normalize(movies, 
                                  record_path='features', 
                                  meta=['director', 'producer'])

# Print normalize_movies
print(normalize_movies)

                      title  year     director       producer
0    Magic in the Moonlight  2014  Woody Allen  Letty Aronson
1  Vicky Cristina Barcelona  2008  Woody Allen  Letty Aronson
2         Midnight in Paris  2011  Woody Allen  Letty Aronson
3                     Mulan  2020    Niki Caro     Jason Reed

In [21]:
# edited/added
import json
names = ['Killdeer', 'Chipping Sparrow', 'Cedar Waxwing']
bird_facts = [
  '{"Size":"Large", "Color": "Golden brown", "Behavior": "Runs swiftly along ground", "Habitat": "Rocky areas"}',
  '{"Size":"Small", "Color": "Gray-white", "Behavior": "Often in flocks", "Habitat": "Open woodlands"}',
  '{"Size":"Small", "Color": "Gray-brown", "Behavior": "Catch insects over open water", "Habitat": "Parks"}'
]
 
# Define birds reading names and bird_facts lists into names and bird_facts columns 
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Print birds
print(birds)

              names                                         bird_facts
0          Killdeer  {"Size":"Large", "Color": "Golden brown", "Beh...
1  Chipping Sparrow  {"Size":"Small", "Color": "Gray-white", "Behav...
2     Cedar Waxwing  {"Size":"Small", "Color": "Gray-brown", "Behav...

In [22]:

# Define birds reading names and bird_facts lists into names and bird_facts columns 
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Apply the function json.loads function to the bird_facts column
data_split = birds['bird_facts'].apply(json.loads).apply(pd.Series)

# Print birds
print(data_split)

    Size         Color                       Behavior         Habitat
0  Large  Golden brown      Runs swiftly along ground     Rocky areas
1  Small    Gray-white                Often in flocks  Open woodlands
2  Small    Gray-brown  Catch insects over open water           Parks

In [23]:

# Define birds reading names and bird_facts lists into names and bird_facts columns 
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Apply the function json.loads function to the bird_facts column
data_split = birds['bird_facts'].apply(json.loads).apply(pd.Series)

# Print birds
print(data_split)

    Size         Color                       Behavior         Habitat
0  Large  Golden brown      Runs swiftly along ground     Rocky areas
1  Small    Gray-white                Often in flocks  Open woodlands
2  Small    Gray-brown  Catch insects over open water           Parks

In [24]:

# Define birds reading names and bird_facts lists into names and bird_facts columns
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Apply to bird_facts column the function loads from json module
data_split = birds['bird_facts'].apply(json.loads).apply(pd.Series)

# Remove the bird_facts column from birds
birds = birds.drop(columns='bird_facts')

# Print birds
print(birds)

              names
0          Killdeer
1  Chipping Sparrow
2     Cedar Waxwing

In [25]:

# Define birds reading names and bird_facts lists into names and bird_facts columns
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Apply to bird_facts column the function loads from json module
data_split = birds['bird_facts'].apply(json.loads).apply(pd.Series)

# Remove the bird_facts column from birds
birds = birds.drop(columns='bird_facts')

# Concatenate the columns of birds and data_split
birds = pd.concat([birds,  data_split], axis=1)

# Print birds
(birds)

,names,Size,Color,Behavior,Habitat
0,Killdeer,Large,Golden brown,Runs swiftly along ground,Rocky areas
1,Chipping Sparrow,Small,Gray-white,Often in flocks,Open woodlands
2,Cedar Waxwing,Small,Gray-brown,Catch insects over open water,Parks

In [26]:
# edited/added
birds = pd.read_csv('birds.csv')

# Apply json.loads to the bird_facts column and transform it to a list
birds_facts = birds['bird_facts'].apply(json.loads).to_list()

# Print birds_facts
print(birds_facts)

[{'Size': 'Large', 'Color': 'Golden brown', 'Behavior': 'Runs swiftly along ground', 'Habitat': 'Rocky areas'}, {'Size': 'Small', 'Color': 'Gray-white', 'Behavior': 'Often in flocks', 'Habitat': 'Open woodlands'}, {'Size': 'Small', 'Color': 'Gray-brown', 'Behavior': 'Catch insects over open water', 'Habitat': 'Parks'}]

In [27]:

# Apply json.loads to the bird_facts column and transform it to a list 
birds_facts = birds['bird_facts'].apply(json.loads).to_list()

# Convert birds_facts into a JSON 
birds_dump = json.dumps(birds_facts)

# Print birds_dump
print(birds_dump)

[{"Size": "Large", "Color": "Golden brown", "Behavior": "Runs swiftly along ground", "Habitat": "Rocky areas"}, {"Size": "Small", "Color": "Gray-white", "Behavior": "Often in flocks", "Habitat": "Open woodlands"}, {"Size": "Small", "Color": "Gray-brown", "Behavior": "Catch insects over open water", "Habitat": "Parks"}]

In [28]:

# Apply json.loads to the bird_facts column and transform it to a list 
birds_facts = birds['bird_facts'].apply(json.loads).to_list()

# Convert birds_facts into a JSON 
birds_dump = json.dumps(birds_facts)

# Read the JSON birds_dump into a DataFrame 
birds_df = pd.read_json(birds_dump)

# Print birds_df
print(birds_df)

    Size         Color                       Behavior         Habitat
0  Large  Golden brown      Runs swiftly along ground     Rocky areas
1  Small    Gray-white                Often in flocks  Open woodlands
2  Small    Gray-brown  Catch insects over open water           Parks

C:\Users\jdamodhar\AppData\Local\Temp\ipykernel_50416\3628269510.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  birds_df = pd.read_json(birds_dump)

In [29]:

# Apply json.loads to the bird_facts column and transform it to a list
birds_facts = birds['bird_facts'].apply(json.loads).to_list()

# Convert birds_fact into a JSON 
birds_dump = json.dumps(birds_facts)

# Read the JSON birds_dump into a DataFrame 
birds_df = pd.read_json(birds_dump)

# Concatenate the 'names' column of birds with birds_df 
birds_final = pd.concat([birds['names'], birds_df], axis=1)

# Print birds_final
(birds_final)

C:\Users\jdamodhar\AppData\Local\Temp\ipykernel_50416\2558883946.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  birds_df = pd.read_json(birds_dump)

,names,Size,Color,Behavior,Habitat
0,Killdeer,Large,Golden brown,Runs swiftly along ground,Rocky areas
1,Chipping Sparrow,Small,Gray-white,Often in flocks,Open woodlands
2,Cedar Waxwing,Small,Gray-brown,Catch insects over open water,Parks