In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

conn = sqlite3.connect('reviews.db')
def rsq(sql):
    return pd.read_sql(sql, conn)

In [28]:
# df = pd.read_csv('reviews.csv')
# df.to_sql('reviews', conn, if_exists='replace',index=False)
# df = pd.read_clipboard()
# df.to_sql('content', conn, if_exists='append',index=False)

100

In [34]:
rsq("""-- Create a view for reviews with a score above 9
CREATE OR REPLACE VIEW  high_scores AS
SELECT * FROM REVIEWS
WHERE score > 9;

""")

DatabaseError: Execution failed on sql '-- Create a view for reviews with a score above 9
CREATE OR REPLACE VIEW  high_scores AS
SELECT * FROM REVIEWS
WHERE score > 9;

': near "OR": syntax error

In [37]:
rsq("""

-- Count the number of self-released works in high_scores
SELECT COUNT(*) FROM high_scores
INNER JOIN labels ON high_scores.reviewid = labels.reviewid
WHERE label = 'self-released';""")

   COUNT(*)
0         0

In [ ]:
select * from information_schema.views