In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing as prep
from sklearn.preprocessing import LabelEncoder

In [70]:
volunteer = pd.read_csv('./volunteer_opportunities.csv')
hiking = pd.read_json('./hiking.json')

In [71]:
# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
hiking['Accessible_enc'] = enc.fit_transform(hiking['Accessible'])

# Compare the two columns
print(hiking[['Accessible', 'Accessible_enc']].head())

  Accessible  Accessible_enc
0          Y               1
1          N               0
2          N               0
3          N               0
4          N               0

In [72]:
# Import pandas
import pandas as pd

# Transform the category_desc column
category_enc = pd.get_dummies(volunteer["category_desc"])

# Take a look at the encoded columns
print(category_enc.head())

   Education  Emergency Preparedness  Environment  Health  \
0          0                       0            0       0
1          0                       0            0       0
2          0                       0            0       0
3          0                       0            0       0
4          0                       0            1       0

   Helping Neighbors in Need  Strengthening Communities
0                          0                          0
1                          0                          1
2                          0                          1
3                          0                          1
4                          0                          0

In [73]:

running_times_5k = pd.read_csv('./running_times_5k.csv')
# Use .loc to create a mean column
running_times_5k["mean"] = running_times_5k.mean(axis=1,numeric_only=True)

# Take a look at the results
(running_times_5k.head())

    name  run1  run2  run3  run4  run5   mean
0    Sue  20.1  18.5  19.6  20.3  18.3  19.36
1   Mark  16.5  17.1  16.9  17.6  17.3  17.08
2   Sean  23.5  25.1  25.2  24.6  23.9  24.46
3   Erin  21.7  21.1  20.9  22.1  22.2  21.60
4  Jenny  25.8  27.1  26.1  26.7  26.9  26.52

In [74]:
# Import pandas
import pandas as pd

# Convert start_date_date column to datetime format
volunteer["start_date_converted"] = pd.to_datetime(volunteer["start_date_date"])

# Extract the month component of start_date_converted and store in new column
volunteer["start_date_month"] = volunteer["start_date_converted"].dt.month

# Print the head of the start_date_converted and start_date_month columns
print(volunteer[["start_date_converted", "start_date_month"]].head())

  start_date_converted  start_date_month
0           2011-07-30                 7
1           2011-02-01                 2
2           2011-01-29                 1
3           2011-02-14                 2
4           2011-02-05                 2

In [75]:
hiking['Length_num'] = hiking['Length'].apply(return_mileage)

In [76]:
import re

def return_mileage(length):
    
    if pd.isnull(length): # handling missing value
        return None
    
    mile = re.search("\d+\.\d+", length)
    
    if mile is not None:
        return float(mile.group(0))
    else:
        return None # handling non-matching pattern


hiking["Length_num"] = hiking["Length"].apply(return_mileage)


print(hiking[["Length", "Length_num"]].head())

       Length  Length_num
0   0.8 miles        0.80
1    1.0 mile        1.00
2  0.75 miles        0.75
3   0.5 miles        0.50
4   0.5 miles        0.50

In [77]:
from sklearn.feature_extraction.text import TfidfVectorizer
volunteer = volunteer.dropna(subset=['category_desc'])

# Take the title text
title_text = volunteer["title"]

# Create the vectorizer method
tfidf_vec = TfidfVectorizer()

# Transform the text into tf-idf vectors

text_tfidf = tfidf_vec.fit_transform(title_text)

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import numpy as np
# Split the dataset according to the class distribution of category_desc
y = volunteer["category_desc"]
X_train, X_test, y_train, y_test = train_test_split(text_tfidf.toarray(), y, stratify=y, random_state=42)
nb = GaussianNB()
# Fit the model to the training data
nb.fit(X_train, y_train)

# Print out the model's accuracy
print(nb.score(X_test, y_test))

0.5161290322580645