In [27]:
##java
# https://www.oracle.com/in/java/technologies/downloads/#java8-windows #java1.8 with JDK 8
# login to download
# https://download.oracle.com/otn/java/jdk/8u391-b13/b291ca3e0c8548b5a51d5a5f50063037/jdk-8u391-windows-x64.exe
# JAVA_HOME = C:\Program Files\Java\jdk1.8.0_201
# PATH = %PATH%;C:\Program Files\Java\jdk1.8.0_201\bin
# ## spark
# https://spark.apache.org/downloads.html
# unzip to spark
# SPARK_HOME  = C:\spark
# HADOOP_HOME = C:\hadoop
# PATH = %PATH%;C:\hadoop\bin;C:\spark\bin
# os.environ['PYSPARK_PYTHON'] = 'python'\
## hadoop 
# put winutils.exe file from git to bin path
# C:\spark\bin\winutils.exe ### https://github.com/steveloughran/winutils/tree/master/hadoop-3.0.0/bin
# %JAVA_HOME%\bin;%SCALA_HOME%\bin;%HADOOP_HOME%\bin;%SPARK_HOME%\bin;

# in evn path
# C:\Users\YOUR_USER\AppData\Local\Programs\Python\Python310\Scripts
# C:\Users\YOUR_USER\AppData\Local\Programs\Python\Python310\

    
# https://www.datacamp.com/tutorial/installation-of-pyspark

In [28]:
# !pyspark

In [29]:
# Spark Application UI: http://localhost:4040/
# Resource Manager: http://localhost:9870
# Spark JobTracker: http://localhost:8088/
# Node Specific Info: http://localhost:8042/

In [30]:
# %pip uninstall pyspark

In [31]:
# %pip install pandas
# %pip install numpy

In [32]:
# PYSPARK_DRIVER_PYTHON jupyter
# PYSPARK_DRIVER_PYTHON_OPTS notebook
# os.environ['SPARK_HOME'] = 'C:\spark\bin'

In [33]:
# # Import SparkSession from pyspark.sql
# from pyspark.sql import SparkSession
# import os
# # import findspark
# # findspark.init()
import pandas as pd
import numpy as np
# # Create my_spark
# spark = SparkSession.builder.getOrCreate()

# # Print my_spark
# print(spark)

In [34]:
# os.environ['SPARK_HOME'] = 'C:\spark\bin' # Replace with your spark home directory path

# # Create my_spark
# spark = SparkSession.builder.getOrCreate()

# # Print my_spark
# print(spark)

In [ ]:
# What is Spark, anyway?
# Spark is a platform for cluster computing. Spark lets you spread data and computations over clusters with multiple nodes (think of each node as a separate computer). Splitting up your data makes it easier to work with very large datasets because each node only works with a small amount of data.

# As each node works on its own subset of the total data, it also carries out a part of the total calculations required, so that both data processing and computation are performed in parallel over the nodes in the cluster. It is a fact that parallel computation can make certain types of programming tasks much faster.

# However, with greater computing power comes greater complexity.

# Deciding whether or not Spark is the best solution for your problem takes some experience, but you can consider questions like:

# Is my data too big to work with on a single machine?
# Can my calculations be easily parallelized?

In [35]:
import os
# os.environ['HADOOP_HOME'] = r'C:/spark/bin'

# Create Spark context
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName('dj')
sc = SparkContext(conf=conf)

# Create Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dj').getOrCreate()
# Print spark
(spark)

In [36]:
sc.uiWebUrl

'http://USHYDJDAMODH6.us.deloitte.com:4040'

In [37]:
sc.applicationId

'local-1698504907295'

In [38]:

# Print Spark version
print(sc.version)

3.5.0

In [39]:
sc

In [ ]:

# Using Spark in Python
# The first step in using Spark is connecting to a cluster.

# In practice, the cluster will be hosted on a remote machine that's connected to all other nodes. There will be one computer, called the master that manages splitting up the data and the computations. The master is connected to the rest of the computers in the cluster, which are called worker. The master sends the workers data and calculations to run, and they send their results back to the master.

# When you're just getting started with Spark it's simpler to just run a cluster locally. Thus, for this course, instead of connecting to another computer, all computations will be run on DataCamp's servers in a simulated cluster.

# Creating the connection is as simple as creating an instance of the SparkContext class. The class constructor takes a few optional arguments that allow you to specify the attributes of the cluster you're connecting to.

# An object holding all these attributes can be created with the SparkConf() constructor. Take a look at the documentation for all the details!

# For the rest of this course you'll have a SparkContext called sc already available in your workspace.

# How do you connect to a Spark cluster from PySpark?

In [40]:
!where python

c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\python.exe

In [41]:
!where pyspark

C:\spark\bin\pyspark
C:\spark\bin\pyspark.cmd
C:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Scripts\pyspark
C:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Scripts\pyspark.cmd

In [42]:
# %pip install findspark

In [43]:
# import findspark
# findspark.init()
# findspark.find()

In [44]:
# Print the tables in the catalog
print(spark.catalog.listTables())

[]

In [45]:
# Don't change this file path
file_path = "airports.csv"
# Read in the airports data
airports = spark.read.csv(file_path, header=True)
# Don't change this file path
file_path = "./flights_small.csv"
# Read in the airports data
flights = spark.read.csv(file_path, header=True)
# Add spark_temp to the catalog
flights.createOrReplaceTempView('flights')
# Add spark_temp to the catalog
airports.createOrReplaceTempView('airports')

(spark.catalog.listTables())

[Table(name='airports', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='flights', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [46]:
# Create the DataFrame flights
flights = spark.table("flights")

# Show the head
flights.show()

# Add duration_hrs
flights = flights.withColumn("duration_hrs", flights.air_time/60)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

In [ ]:

# Using DataFrames
# Spark's core data structure is the Resilient Distributed Dataset (RDD). This is a low level object that lets Spark work its magic by splitting data across multiple nodes in the cluster. However, RDDs are hard to work with directly, so in this course you'll be using the Spark DataFrame abstraction built on top of RDDs.

# The Spark DataFrame was designed to behave a lot like a SQL table (a table with variables in the columns and observations in the rows). Not only are they easier to understand, DataFrames are also more optimized for complicated operations than RDDs.

# When you start modifying and combining columns and rows of data, there are many ways to arrive at the same result, but some often take much longer than others. When using RDDs, it's up to the data scientist to figure out the right way to optimize the query, but the DataFrame implementation has much of this optimization built in!

# To start working with Spark DataFrames, you first have to create a SparkSession object from your SparkContext. You can think of the SparkContext as your connection to the cluster and the SparkSession as your interface with that connection.

# Remember, for the rest of this course you'll have a SparkSession called spark available in your workspace!

# Which of the following is an advantage of Spark DataFrames over RDDs?

In [47]:
# Don't change this query
query = "FROM flights SELECT * LIMIT 10"

# Get the first 10 rows of flights
flights10 = spark.sql(query)

# Show the results
flights10.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

In [52]:
# Don't change this query
query = "SELECT origin, dest, COUNT(*) as N FROM flights GROUP BY origin, dest"

# Run the query
flight_counts = spark.sql(query)

# Convert the results to a pandas DataFrame
pd_counts = flight_counts.toPandas()

# Print the head of pd_counts
(pd_counts.head())

  origin dest    N
0    SEA  RNO    8
1    SEA  DTW   98
2    SEA  CLE    2
3    SEA  LAX  450
4    PDX  SEA  144

In [49]:
# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView('temp')

# Examine the tables in the catalog again
print(spark_temp)

[Table(name='airports', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='flights', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]
DataFrame[0: double]

c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\pandas\conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

In [51]:
(spark.catalog.listTables())

[Table(name='airports', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='flights', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [50]:
# spark.stop()