- https://github.com/pbugnion/jupyterlab-sql
- https://www.datacamp.com/tutorial/sql-interface-within-jupyterlab
- https://github.com/catherinedevlin/ipython-sql
- https://github.com/parulnith/SQL-Interface-within-JupyterLab/tree/master

In [1]:
#  !pip install ipython-sql
#  !pip install jupyterlab_sql
# !jupyter-lab serverextension enable jupyterlab_sql --py --sys-prefix
# !jupyter lab

- postgres://localhost:5432/postgres
- postgres://username:password@localhost:5432/postgres
- mysql://localhost/employees
- sqlite://
- sqlite:///myfile.db

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

Traceback (most recent call last):
  File "c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite://'])

In [4]:
%%sql
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [5]:
%sql SELECT * from EMPLOYEE;

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

In [6]:

import os

# Get the current working directory
cwd = os.getcwd()

# Join the current working directory path with the relative path of the database
db_path = os.path.join(cwd, 'SQL_SAFI.sqlite')

# Pass the db_path to the SQL connection string
%sql sqlite:///{db_path}

In [7]:
%sql select * from Crops limit 2

   sqlite://
 * sqlite:///c:\Users\jdamodhar\Desktop\python_essential\DataCamp-ds-deloitte-master\00-B\SQL\SQL_SAFI.sqlite
Done.

[(1, 1, 1, 1, 'maize', 1), (1, 2, 1, 1, 'maize', 1)]

In [8]:
%sql select * from Crops where D_curr_crop = 'maize' AND ID <= 3 limit 4

   sqlite://
 * sqlite:///c:\Users\jdamodhar\Desktop\python_essential\DataCamp-ds-deloitte-master\00-B\SQL\SQL_SAFI.sqlite
Done.

[(1, 1, 1, 1, 'maize', 1),
 (1, 2, 1, 1, 'maize', 1),
 (2, 1, 1, 1, 'maize', 1),
 (3, 1, 1, 1, 'maize', 1)]

In [9]:
result = %sql select * from Crops where D_curr_crop = 'maize' AND ID <= 3;
dataframe = result.DataFrame()

   sqlite://
 * sqlite:///c:\Users\jdamodhar\Desktop\python_essential\DataCamp-ds-deloitte-master\00-B\SQL\SQL_SAFI.sqlite
Done.

In [10]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    4 non-null      int64
 1   plot_Id               4 non-null      int64
 2   crop_Id               4 non-null      int64
 3   D05_times             4 non-null      int64
 4   D_curr_crop           4 non-null      object
 5   D_repeat_times_count  4 non-null      int64
dtypes: int64(5), object(1)
memory usage: 324.0+ bytes