In [1]:
%load_ext sql

In [2]:
%sql sqlite:///myfile.db

In [5]:
%%sql
-- Count requests created on January 31, 2017
SELECT count(*) 
  FROM evanston311
 WHERE date_created::date= '2017-01-31';

 * sqlite:///myfile.db
(sqlite3.OperationalError) unrecognized token: ":"
[SQL: -- Count requests created on January 31, 2017
SELECT count(*)
  FROM evanston311
 WHERE date_created::date= '2017-01-31';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [6]:
%%sql
-- Count requests created on January 31, 2017
SELECT count(*) 
FROM evanston311
WHERE date(date_created) = '2017-01-31';

 * sqlite:///myfile.db
Done.

[(45,)]

In [7]:
%%sql
-- Count requests created on February 29, 2016
SELECT count(*)
  FROM evanston311 
 WHERE date_created >= '2016-02-29' 
   AND date_created < '2016-03-01';

 * sqlite:///myfile.db
Done.

[(58,)]

In [9]:
%%sql
-- Count requests created on March 13, 2017
SELECT count(*) 
FROM evanston311 
WHERE date_created >= '2017-03-13' AND date_created < '2017-03-14';

 * sqlite:///myfile.db
Done.

[(33,)]

In [10]:
%%sql
-- Subtract the min date_created from the max
SELECT max(date_created) - min(date_created)
  FROM evanston311;

 * sqlite:///myfile.db
Done.

[(2,)]

In [11]:
%%sql
-- How old is the most recent request?
SELECT now() - max(date_created)
  FROM evanston311;

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such function: now
[SQL: -- How old is the most recent request?
SELECT now() - max(date_created)
  FROM evanston311;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [12]:
%%sql
SELECT datetime('now') - max(date_created)
FROM evanston311;

 * sqlite:///myfile.db
Done.

[(5,)]

In [13]:
%%sql

select now()+'100 days'::interval

 * sqlite:///myfile.db
(sqlite3.OperationalError) unrecognized token: ":"
[SQL: select now()+'100 days'::interval]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [16]:
%%sql
SELECT DATETIME('now', '+100 days'), 
       DATETIME('now', '+100 days', 'localtime'),
       DATETIME('now', '+100 days', 'utc'),
       DATETIME('now', '+100 minutes', 'localtime', 'utc')

 * sqlite:///myfile.db
Done.

[('2024-03-02 15:12:43', '2024-03-02 20:42:43', '2024-03-02 09:42:43', '2023-11-23 16:52:43')]

In [18]:
%%sql
-- Select the category and the average completion time by category
SELECT category, 
       avg(date_completed - date_created) AS completion_time
  FROM evanston311
 GROUP BY category
-- Order the results
 ORDER BY completion_time DESC limit 5;

 * sqlite:///myfile.db
Done.

[('Rodents- Rats', 0.11494252873563218),
 ('Public Transit Agency Issue', 0.07042253521126761),
 ('Smoking', 0.047619047619047616),
 ('General/Routine Maintenance - Facilities Management', 0.04),
 ('Check my Wheel Tax Payment Status?', 0.03225806451612903)]

In [19]:
%%sql
-- Extract the month from date_created and count requests
SELECT date_part('month', date_created) AS month, 
       count(*)
  FROM evanston311
 -- Limit the date range
 WHERE date_created >= '2016-01-01'
   AND date_created < '2018-01-01'

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such function: date_part
[SQL: -- Extract the month from date_created and count requests
SELECT date_part('month', date_created) AS month,
       count(*)
  FROM evanston311
 -- Limit the date range
 WHERE date_created >= '2016-01-01'
   AND date_created < '2018-01-01']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [20]:
%%sql
-- Count requests completed by hour
SELECT date_part('hour', date_completed) AS hour,
       count(*)
  FROM evanston311
 GROUP BY hour
 ORDER BY hour;

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such function: date_part
[SQL: -- Count requests completed by hour
SELECT date_part('hour', date_completed) AS hour,
       count(*)
  FROM evanston311
 GROUP BY hour
 ORDER BY hour;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [22]:
%%sql
-- Count requests completed by hour
SELECT strftime('%H', date_completed) AS hour,
       count(*)
  FROM evanston311
 GROUP BY hour
 ORDER BY hour limit 5;

 * sqlite:///myfile.db
Done.

[('00', 13), ('01', 10), ('02', 11), ('03', 19), ('04', 9)]

In [23]:
%%sql
-- Extract the month from date_created and count requests
SELECT strftime('%m', date_created) AS month, 
       count(*) 
FROM evanston311 
-- Limit the date range 
WHERE date(date_created) >= '2016-01-01' 
  AND date(date_created) < '2018-01-01';

 * sqlite:///myfile.db
Done.

[('01', 29832)]

In [24]:
%%sql
-- Select name of the day of the week the request was created 
SELECT to_char(date_created, 'day') AS day, 
       -- Select avg time between request creation and completion
       avg(date_completed - date_created) AS duration 
  FROM evanston311 
 -- Group by the name of the day of the week and 
 -- integer value of day of week the request was created
 GROUP BY day, EXTRACT(DOW FROM date_created) 
 -- Order by integer value of the day of the week 
 -- the request was created
 ORDER BY EXTRACT(DOW FROM date_created);

 * sqlite:///myfile.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: -- Select name of the day of the week the request was created
SELECT to_char(date_created, 'day') AS day,
       -- Select avg time between request creation and completion
       avg(date_completed - date_created) AS duration
  FROM evanston311
 -- Group by the name of the day of the week and
 -- integer value of day of week the request was created
 GROUP BY day, EXTRACT(DOW FROM date_created)
 -- Order by integer value of the day of the week
 -- the request was created
 ORDER BY EXTRACT(DOW FROM date_created);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [26]:
%%sql
-- Select name of the day of the week the request was created 
SELECT strftime('%w', date_created) AS day_of_week, 
       -- Select avg time between request creation and completion
       avg(date_completed - date_created) AS duration  
  FROM evanston311  
 -- Group by the name of the day of the week and  
 -- integer value of day of week the request was created 
 GROUP BY day_of_week, strftime('%w', date_created)  
 -- Order by integer value of the day of the week  
 -- the request was created 
 ORDER BY strftime('%w', date_created);

 * sqlite:///myfile.db
Done.

[('0', 0.017080745341614908),
 ('1', 0.005599562960939634),
 ('2', 0.008993576017130621),
 ('3', 0.010304725452671868),
 ('4', 0.010999083409715857),
 ('5', 0.014754098360655738),
 ('6', 0.010885700148441365)]

In [27]:
%%sql
-- Aggregate daily counts by month
SELECT date_trunc('month', day) AS month,
       avg(count)
  -- Subquery to compute daily counts
  FROM (SELECT date_trunc('day', date_created) AS day,
               count(*) AS count
          FROM evanston311
         GROUP BY day) AS daily_count
 GROUP BY month
 ORDER BY month;

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such function: date_trunc
[SQL: -- Aggregate daily counts by month
SELECT date_trunc('month', day) AS month,
       avg(count)
  -- Subquery to compute daily counts
  FROM (SELECT date_trunc('day', date_created) AS day,
               count(*) AS count
          FROM evanston311
         GROUP BY day) AS daily_count
 GROUP BY month
 ORDER BY month;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [28]:
%%sql

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such column: date_created
[SQL: -- Aggregate daily counts by month
SELECT strftime('%Y-%m', date_created) as month,
       avg(count)
  -- Subquery to compute daily counts
  FROM (SELECT strftime('%Y-%m-%d', date_created) AS day,
               count(*) AS count
          FROM evanston311
         GROUP BY day) AS daily_count
 GROUP BY month
 ORDER BY month;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [30]:
%%sql
SELECT day
-- 1) Subquery to generate all dates
-- from min to max date_created
  FROM (SELECT generate_series(min(date_created),
                               max(date_created),
                               '1 day')::date AS day
          -- What table is date_created in?
          FROM evanston311) AS all_dates      
-- 4) Select dates (day from above) that are NOT IN the subquery
 WHERE day NOT IN 
       -- 2) Subquery to select all date_created values as dates
       (SELECT date_created::date
          FROM evanston311);

 * sqlite:///myfile.db
(sqlite3.OperationalError) unrecognized token: ":"
[SQL: SELECT day
-- 1) Subquery to generate all dates
-- from min to max date_created
  FROM (SELECT generate_series(min(date_created),
                               max(date_created),
                               '1 day') AS day
          -- What table is date_created in?
          FROM evanston311) AS all_dates
-- 4) Select dates (day from above) that are NOT IN the subquery
 WHERE day NOT IN
       -- 2) Subquery to select all date_created values as dates
       (SELECT date_created::date
          FROM evanston311);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
%%sql

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such function: generate_series
[SQL: SELECT day
-- 1) Subquery to generate all dates
-- from min to max date_created
FROM (SELECT generate_series(min(date_created),
                             max(date_created),
                             '1 day') AS day
      -- What table is date_created in?
      FROM evanston311) AS all_dates
-- 4) Select dates (day from above) that are NOT IN the subquery
WHERE day NOT IN
       -- 2) Subquery to select all date_created values as dates
       (SELECT date(date_created) AS date_created
          FROM evanston311);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [32]:
%%sql
-- Generate 6 month bins covering 2016-01-01 to 2018-06-30

-- Create lower bounds of bins
SELECT generate_series('2016-01-01',  -- First bin lower value
                       '2018-01-01',  -- Last bin lower value
                       '6 months'::interval) AS lower,
-- Create upper bounds of bins
       generate_series('2016-07-01',  -- First bin upper value
                       '2018-07-01',  -- Last bin upper value
                       '6 months'::interval) AS upper;

 * sqlite:///myfile.db
(sqlite3.OperationalError) unrecognized token: ":"
[SQL: -- Generate 6 month bins covering 2016-01-01 to 2018-06-30

-- Create lower bounds of bins
SELECT generate_series('2016-01-01',  -- First bin lower value
                       '2018-01-01',  -- Last bin lower value
                       '6 months'::interval) AS lower,
-- Create upper bounds of bins
       generate_series('2016-07-01',  -- First bin upper value
                       '2018-07-01',  -- Last bin upper value
                       '6 months'::interval) AS upper;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
%%sql
-- Bins from Step 1
WITH bins AS (
	 SELECT generate_series('2016-01-01',
                            '2018-01-01',
                            '6 months'::interval) AS lower,
            generate_series('2016-07-01',
                            '2018-07-01',
                            '6 months'::interval) AS upper),
-- Daily counts from Step 2
     daily_counts AS (
     SELECT day, count(date_created) AS count
       FROM (SELECT generate_series('2016-01-01',
                                    '2018-06-30',
                                    '1 day'::interval)::date AS day) AS daily_series
            LEFT JOIN evanston311
            ON day = date_created::date
      GROUP BY day)
-- Select bin bounds
SELECT lower, 
       upper, 
       -- Compute median of count for each bin
       percentile_disc(0.5) WITHIN GROUP (ORDER BY count) AS median
  -- Join bins and daily_counts
  FROM bins
       LEFT JOIN daily_counts
       -- Where the day is between the bin bounds
       ON day >= lower
          AND day < upper
 -- Group by bin bounds
 GROUP BY lower, upper
 ORDER BY lower;

 * sqlite:///myfile.db
(sqlite3.OperationalError) unrecognized token: ":"
[SQL: -- Bins from Step 1
WITH bins AS (
	 SELECT generate_series('2016-01-01',
                            '2018-01-01',
                            '6 months'::interval) AS lower,
            generate_series('2016-07-01',
                            '2018-07-01',
                            '6 months'::interval) AS upper),
-- Daily counts from Step 2
     daily_counts AS (
     SELECT day, count(date_created) AS count
       FROM (SELECT generate_series('2016-01-01',
                                    '2018-06-30',
                                    '1 day'::interval)::date AS day) AS daily_series
            LEFT JOIN evanston311
            ON day = date_created::date
      GROUP BY day)
-- Select bin bounds
SELECT lower,
       upper,
       -- Compute median of count for each bin
       percentile_disc(0.5) WITHIN GROUP (ORDER BY count) AS median
  -- Join bins and daily_counts
  FROM bins
       LEFT JOIN daily_counts
       -- Where the day is between the bin bounds
       ON day >= lower
          AND day < upper
 -- Group by bin bounds
 GROUP BY lower, upper
 ORDER BY lower;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
%%sql
-- generate series with all days from 2016-01-01 to 2018-06-30
WITH all_days AS 
     (SELECT generate_series('2016-01-01',
                             '2018-06-30',
                             '1 day'::interval) AS date),
     -- Subquery to compute daily counts
     daily_count AS 
     (SELECT date_trunc('day', date_created) AS day,
             count(*) AS count
        FROM evanston311
       GROUP BY day)
-- Aggregate daily counts by month using date_trunc
SELECT date_trunc('month', date) AS month,
       -- Use coalesce to replace NULL count values with 0
       avg(coalesce(count, 0)) AS average
  FROM all_days
       LEFT JOIN daily_count
       -- Joining condition
       ON all_days.date=daily_count.day
 GROUP BY month
 ORDER BY month;

 * sqlite:///myfile.db
(sqlite3.OperationalError) unrecognized token: ":"
[SQL: -- generate series with all days from 2016-01-01 to 2018-06-30
WITH all_days AS
     (SELECT generate_series('2016-01-01',
                             '2018-06-30',
                             '1 day'::interval) AS date),
     -- Subquery to compute daily counts
     daily_count AS
     (SELECT date_trunc('day', date_created) AS day,
             count(*) AS count
        FROM evanston311
       GROUP BY day)
-- Aggregate daily counts by month using date_trunc
SELECT date_trunc('month', date) AS month,
       -- Use coalesce to replace NULL count values with 0
       avg(coalesce(count, 0)) AS average
  FROM all_days
       LEFT JOIN daily_count
       -- Joining condition
       ON all_days.date=daily_count.day
 GROUP BY month
 ORDER BY month;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [35]:
%%sql
-- Compute the gaps
WITH request_gaps AS (
        SELECT date_created,
               -- lead or lag
               lag(date_created) OVER (ORDER BY date_created) AS previous,
               -- compute gap as date_created minus lead or lag
               date_created - lag(date_created) OVER (ORDER BY date_created) AS gap
          FROM evanston311)
-- Select the row with the maximum gap
SELECT *
  FROM request_gaps
-- Subquery to select maximum gap from request_gaps
 WHERE gap = (SELECT max(gap) 
                FROM request_gaps);

 * sqlite:///myfile.db
Done.

[('2017-01-01T10:27:49Z', '2016-12-31T20:27:15Z', 1),
 ('2018-01-01T13:50:06Z', '2017-12-31T11:18:07Z', 1)]

In [36]:
%%sql
SELECT category, 
       -- Compute average completion time per category
       avg(date_completed - date_created) AS avg_completion_time
  FROM evanston311
-- Where completion time is less than the 95th percentile value
 WHERE date_completed - date_created < 
-- Compute the 95th percentile of completion time in a subquery
         (SELECT percentile_disc(0.95) WITHIN GROUP (ORDER BY date_completed - date_created)
            FROM evanston311)
 GROUP BY category
-- Order the results
 ORDER BY avg_completion_time DESC;

 * sqlite:///myfile.db
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT category,
       -- Compute average completion time per category
       avg(date_completed - date_created) AS avg_completion_time
  FROM evanston311
-- Where completion time is less than the 95th percentile value
 WHERE date_completed - date_created <
-- Compute the 95th percentile of completion time in a subquery
         (SELECT percentile_disc(0.95) WITHIN GROUP (ORDER BY date_completed - date_created)
            FROM evanston311)
 GROUP BY category
-- Order the results
 ORDER BY avg_completion_time DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [37]:
%%sql
SELECT category, 
       -- Compute average completion time per category
       avg(date_completed - date_created) AS avg_completion_time
  FROM evanston311
-- Where completion time is less than the 95th percentile value
 WHERE date_completed - date_created < 
-- Compute the 95th percentile of completion time in a subquery
         (SELECT percentile_disc(0.95) WITHIN GROUP (ORDER BY date_completed - date_created)
            FROM evanston311)
 GROUP BY category
-- Order the results
 ORDER BY avg_completion_time DESC;

 * sqlite:///myfile.db
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT category,
       -- Compute average completion time per category
       avg(date_completed - date_created) AS avg_completion_time
  FROM evanston311
-- Where completion time is less than the 95th percentile value
 WHERE date_completed - date_created <
-- Compute the 95th percentile of completion time in a subquery
         (SELECT percentile_disc(0.95) WITHIN GROUP (ORDER BY date_completed - date_created)
            FROM evanston311)
 GROUP BY category
-- Order the results
 ORDER BY avg_completion_time DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [38]:
%%sql
-- Compute monthly counts of requests created
WITH created AS (
       SELECT date_trunc('month', date_created) AS month,
              count(*) AS created_count
         FROM evanston311
        WHERE category='Rodents- Rats'
        GROUP BY month),
-- Compute monthly counts of requests completed
      completed AS (
       SELECT date_trunc('month', date_completed) AS month,
              count(*) AS completed_count
         FROM evanston311
        WHERE category='Rodents- Rats'
        GROUP BY month)
-- Join monthly created and completed counts
SELECT created.month, 
       created_count, 
       completed_count
  FROM created
       INNER JOIN completed
       ON created.month=completed.month
 ORDER BY created.month;

 * sqlite:///myfile.db
(sqlite3.OperationalError) no such function: date_trunc
[SQL: -- Compute monthly counts of requests created
WITH created AS (
       SELECT date_trunc('month', date_created) AS month,
              count(*) AS created_count
         FROM evanston311
        WHERE category='Rodents- Rats'
        GROUP BY month),
-- Compute monthly counts of requests completed
      completed AS (
       SELECT date_trunc('month', date_completed) AS month,
              count(*) AS completed_count
         FROM evanston311
        WHERE category='Rodents- Rats'
        GROUP BY month)
-- Join monthly created and completed counts
SELECT created.month,
       created_count,
       completed_count
  FROM created
       INNER JOIN completed
       ON created.month=completed.month
 ORDER BY created.month;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql

In [ ]:
%%sql