In [1]:
class Planet:
    def __init__(self, name):
        self.name = name
        
v=Planet('venus')

v.name

'venus'

In [5]:
import pandas as pd
# create me dataframe with different columns with different data types
df = pd.DataFrame({'a': [1, 2, 3], 'b': np., 'c': ['a', 'b', 'c']})
df.astype({'a': 'float', 'b': 'int', 'c': 'category'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      float64
 2   c       3 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes

In [ ]:
import numpy as np

# data = np.loadtxt("data.txt", delimiter="\t", dtype="int")

# print(data)
pd.read_excel('data.xlsx',columns=['name','age'])
df.dropna(how='any')
pd.DatetimeIndex(df['date']).year

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
# df.A.astype('int32')
# pd.melt(df, id_vars=['A'], value_vars=['B','C','D'])
# pd.pivot_table(df, values=['A','B'], index=['C'], aggfunc=np.sum)
# df.A.str.lower()
df.iloc[1:3,1:3]
sns.lineplot(x='A',y='B',data=df)
np.random.standard_cauchy

          B         C
1  0.698198  0.060730
2 -0.478644  0.391088

In [9]:
# write acode to pint missing values in a dataframe   
df.isnull().sum()
df.columns
sns.scatterplot(x='A',y='B',data=df,hue='C',size='D',sizes=(20,200),palette='Set1',)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
print(contact.email.str.split('@', expand = True))

print(score.dropna(how = 'all'))

import numpy as np
import h5py

hf = open.h5py('LIGO_data.hdf5', 'r')
hf = h5py.File('LIGO_data.hdf5', 'r')
print(hf)

In [ ]:
import pandas as pd

filename = "train.xlsx"

df = pd.read_excel(filename, columns=['id', 'seq', 'from', 'to'])
df = pd.read_excel(filename, names=['id', 'seq', 'from', 'to'])
print(df.head())

In [ ]:
import scipy.io
import numpy as np

file_name = 'cars_train_annos.mat'

annotations = scipy.io.matlab
annotations = scipy.io.loadmat(file_name)
print(annotations["__header__"])

In [ ]:
import pandas as pd

plants['name'] = plants['name'].str.lower()
print(plants.head())

In [ ]:
import pandas as pd
import numpy as np

df = pd.pivot_table(
	restaurant,
    values = ['price', 'rating'],
    index = 'cuisine',
    aggfunc = np.mean
)

print(df)

In [ ]:
import pandas as pd

df = pd.melt(df, id_vars = 'id', value_vars = ['math', 'chemistry'])

print(df)

In [27]:
# print(books.dtypes)


import scipy.io
import numpy as np

# mat = scipy.io.loadmat('file.mat')
# print(type(mat))

import numpy as np
import pandas as pd

data = pd.Series([' apple ','banana','apple', 'banana'])
# print(data.dtype())
print(data.str.strip(' '))

0     apple
1    banana
2     apple
3    banana
dtype: object

In [ ]:
game = game.index("name")
game = game.set_index('name')

print(game)

In [ ]:
with open("data.txt", mode="r") as file:
    print(file.read())

In [ ]:
print(score.dropna())
print(game.dropna())
print(df.height.astype('int64'))

In [ ]:
import pandas as pd

print(s..('re'))
print(s.str.startswith('re'))

In [6]:
import  pandas as pd
# pd.DatetimeIndex


df = pd.DataFrame({'a':[1,2,3,4,6,6,7,8,9,10]},index=pd.date_range('2018-01-01',periods=10))

df.dropna()

             a
2018-01-01   1
2018-01-02   2
2018-01-03   3
2018-01-04   4
2018-01-05   6
2018-01-06   6
2018-01-07   7
2018-01-08   8
2018-01-09   9
2018-01-10  10

In [7]:

df.a.dtyp('int64')

TypeError: 'numpy.dtype[int64]' object is not callable

In [20]:
import pandas as pd
import seaborn as sns

print(pd.DataFrame({
    "x": [1], 
    "y": [3],
}))

# sns.scatterplot(x='x',y='y',data=df)
df.set_index('a')
# df.sort_index(axis=1,ascending=False)
# df.sort_values(by='a',ascending=False)
df.columns

   x  y
0  1  3

KeyError: "None of ['a'] are in the columns"

In [10]:
x = np.array([2.2, 0.9, 4.4, 6.7, 2.8, 3.2, 1.1, 3.5])
# x_var = (x)
# x_stdev = (x)
sns.scatterplot(x='x',y='y',data=df)
x_var = np.var(x)
x_stdev = np.std(x)
print('Variance: {:4.2f}'.format(x_var))
print('Std Deviation: {:4.2f}'.format(x_stdev))

Variance: 3.07
Std Deviation: 1.75

In [ ]:
subset_wine = wine[['country','price']]

print(subset_wine.head())

In [31]:
lst = ['numpy', 'pandas', 'requests']

lst_gen = (pkg for pkg in lst)

next(lst_gen)

'numpy'

In [ ]:
subset_wine = wine[['country','price']]

print(subset_wine.head())

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns


sns.lineplot(x = 'day', y = 'order', data=df)

plt.xticks(rotation = 45)
plt.show()

In [ ]:
height = [70, 100, 80, 85]

df['height'] = height 

print(df.head())

In [ ]:
import pandas as pd

column_names = [
  'temperature',
  'luminosity',
  'radius'
]

# stars.rename = column_names
stars.columns = column_names
print(stars.head())

In [ ]:
chess = chess.set_index('Fide id')

print(chess.head())

In [ ]:
import pandas as pd 

# Q1 = df['age'].(0.25))
# Q3 = df['age'].(0.75
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)

print(Q3 - Q1)

In [ ]:
print(df.loc['two':])
import matplotlib.pyplot as plt
import seaborn as sns

sns.lineplot(
  x='date', 
  y='close', 
  data=amazon)

plt.xticks(rotation = 45)
plt.show()

In [ ]:
import numpy as np

# sd_age = np.random
sd_age = np.std(age)

print(sd_age.round(2))

In [ ]:
missing_total_by_column = wine.isnull().sum()

print(missing_total_by_column)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# ax = sns.scatterplot(x="measurement", 
ax = sns.swarmplot(x="measurement", 
                   y="value", 
                   hue="species", 
                   data=iris)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
# calcuulate the interquartile range
iqr = stats.iqr(df['age'])

# ax = sns.scatterplot(x="measurement", 
ax = sns.swarmplot(x="measurement", 
                   y="value", 
                   hue="species", 
                   data=iris)

plt.show()

In [ ]:
# print(chess.)
print(chess.columns)
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

In [35]:
class Cat:   
    
    def meow(self):
        return 'meow!'

s = Cat()

s.meow()

'meow!'

In [38]:
def factorial(n):
    """returns n!"""
    return 1 if n < 2 else n * factorial(n-1)

# factorial.__doc__()
factorial.__doc__

'returns n!'

In [37]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# a.(b)
a.difference(b)

{1, 2}

In [36]:
languages = ('French', 'Spanish')
my_languages=[]
# my_languages.append(languages)
my_languages.extend(languages)

print(my_languages)

['French', 'Spanish']

In [22]:
class BankAccount:

    
    pass

  
account = BankAccount()
print(type(account))

<class '__main__.BankAccount'>

In [18]:
dict_gen = { num: num*10 for num in range(5) }

dict_gen

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40}

In [3]:
def make_dict(**kwargs):
    return kwargs

make_dict(a = 1, b = 2)

{'a': 1, 'b': 2}

In [4]:
class Person:
    def __init__(self, name):
        self.name = name

m = Person('Michael')

m.name

'Michael'

In [5]:
def add_two(x : int) -> int:
  return x + 2

add_two(1)

3

In [7]:
[i*2 for i in range(5)]

[0, 2, 4, 6, 8]

In [29]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)


# Call twice() and thrice() then print

print(twice('hello'), thrice('hello'))
print(echo.__doc__)

hellohello hellohellohello
Return the inner_echo function.

In [1]:
x = 50

def one():
  x = 10

def two():
  global x
  x = 30

def three():
  x = 100
  print(x)

for func in [one, two, three]:
  func()
  print(x)

50
30
100
30

In [2]:
class Candy:
    flavor = 'sweet'
    
    def __init__(self, name):
        self.name = name
        
c = Candy('Chocolate')

c.name

'Chocolate'

In [3]:
w = 'python'

w_iterator = iter(w)

next(w_iterator)

'p'

In [4]:
s = 'fox'

s.rjust(4)

' fox'

In [5]:
x = (i for i in range(5))


next(x)

0

In [6]:
f = lambda x,y: x * y

f(3,3)

9

In [7]:
a = {1, 2, 3}
b = {3, 4, 5, 6}

a | b

{1, 2, 3, 4, 5, 6}

In [8]:
x = lambda : "I know how to call this function."

x()

'I know how to call this function.'

In [9]:
[i*2  for i in range(5)]

[0, 2, 4, 6, 8]

In [10]:
lst = ['numpy', 'pandas', 'requests']

lst_gen = (pkg for pkg in lst)

next(lst_gen)

'numpy'

In [11]:
d = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4
}
d.'three'

SyntaxError: invalid syntax (2084465708.py, line 7)

In [ ]:
[ i for i in range(5) if (i<5 or i>2) ]

[0, 1, 2, 3, 4]

In [ ]:
class Building:
    
    def __init__(self, number):
        self.number= number

b = Building(245)

b.number

245

In [ ]:
d = {
    'apple': 1,
    'banana': 2,
    'coconut': 3
}

d['durian'] = 4


d

{'apple': 1, 'banana': 2, 'coconut': 3, 'durian': 4}

In [ ]:

[ i.upper() for i in ['hello', 'world']]

['HELLO', 'WORLD']

In [ ]:
a = [99, 23, 46, 78, 12, 34, 56, 15, 22, 77, 31, 9, 1]
b = [12, 16, 43, 77, 11, 99, 23, 44, 50, 46, 78, 3, 2]
overlaps = set(a) & set(b)


print(overlaps)

{99, 12, 77, 78, 46, 23}

In [ ]:
this_var = 30

def func():
    nonlocal this_var

    this_var = 20
    print(this_var)
    
print(this_var)
func()
print(this_var)

SyntaxError: no binding for nonlocal 'this_var' found (2823019617.py, line 4)

In [ ]:
boardgames = [
  'Pandemic Legacy: Season 1', 
  'Terraforming Mars', 
  'Brass: Birmingham'
]

boardgames.append(0, 'Gloomhaven')

print(boardgames)

TypeError: list.append() takes exactly one argument (2 given)

In [4]:
def square_args(func):
  def inner(a, b):
    return func(a ** 2, b ** 2)
  return inner

@square_args

def multiply(a, b):
  return a * b
  
multiply(3, 9),3*9,9*9*2*2,27*27

(729, 27, 324, 729)

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a.intersection(b)

{3, 4}

In [ ]:
x = (1, 2, 3)
s = set(x)

s

{1, 2, 3}

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5, 6}
a & b  

df.set_index('name')

{3}

In [ ]:
# importing libraries
from bs4 import BeautifulSoup as BS
import requests
df.rename(columns = {'A':'a', 'B':'b'}, inplace = True)
# method to get the price of gold
def get_price(url):
	
	# getting the request from url
	data = requests.get(url)

	# converting the text
	soup = BS(data.text, 'html.parser')

	# finding meta info for the current price
	ans = soup.text
	
	# returning the price
	return ans

# url of the gold price
url = "https://data-flair.training/blogs/important-linux-commands/"

# calling the get_price method
ans = get_price(url)

# printing the ans
print(ans)

Just a moment...











            data-flair.training


            Checking if the site connection is secure








                        Enable JavaScript and cookies to continue






            data-flair.training needs to review the security of your connection before proceeding.










Ray ID: 7ab6549369854afe

Performance & security by Cloudflare

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.plo
sns.scatterplot(x="Al", y="Si", data=glass, hue="Type", style="Type")
sns.boxplot(x="Type", y="Si", data=glass)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.histplot(arrivals['delay'], kde=False)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.violinplot(x='duration', y='genre', data=movies)


plt.show()

In [ ]:
from scipy import stats
results = stats.ttest_ind(a, b)

In [5]:
import numpy as np
from scipy.stats import norm
np.random.seed(42)

sample = np.random.standard_normal(20000)
np.random.sample
print(sample)
np.random.exponential(1/56, 5)

[ 0.49671415 -0.1382643   0.64768854 ...  0.37835397  1.71352973
 -1.6199198 ]

array([0.00102278, 0.07593276, 0.02874161, 0.03626967, 0.02116308])

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.kdeplot(airline_a, shade = True, label = "A")
sns.kdeplot(airline_b, shade = True, label = 'B')


plt.legend()
plt.show()

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

iris = pd.DataFrame(iris)

sns.set_context(rc={"font.size":18})

ax = sns.boxplot(
    x="species", 
    y="sepal_length", 
    data=iris, 
    order=["virginica", "versicolor", "setosa"]
    )

plt.show()

ValueError: DataFrame constructor not properly called!

In [3]:
import numpy as np
from scipy.stats import poisson


sample = np.random.poisson(5, 100)

print(sample)

ValueError: could not convert string to float: 'a'

In [ ]:
import numpy as np
samples=np.random.normal(0, 1, 10000)

print(samples)

In [ ]:
# what is the main function of randomization in experiments?
# to minimize biases that may arise in the experiment

In [ ]:
stat, p = ttest_ind(data1, data2)

if p > 0.05:
    print('No significant difference was found')  
else:
	print('The samples probably have different mean values')

In [ ]:
# the populaion is all members of a specified group while a sample is a subset of the population used to describe the entire group.

In [ ]:
# yes 90% confidence interval is narrower than 95% confidence interval

In [1]:
# hypothesis test
# the null hypothesis is not rejected unless there is significant evidence to reject it.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.violinplot(x='Type', y='Si', data=glass)

plt.show()

In [ ]:
data = np.array([13, 28, 56, 31, 63])

# sample = np.random.normal(data, 5)
sample = np.random.choice(data, 5)

print(sample)