In [1]:
import pandas as pd
import numpy as np
poker_hands = pd.read_csv('poker_hand.csv')

In [2]:
# Create a generator over the rows
generator = poker_hands.iterrows()

# Access the elements of the 2nd row
first_element = next(generator)
second_element = next(generator)
print(first_element, '\n' , second_element)

(0, S1        1
R1       10
S2        1
R2       11
S3        1
R3       13
S4        1
R4       12
S5        1
R5        1
Class     9
Name: 0, dtype: int64)
 (1, S1        2
R1       11
S2        2
R2       13
S3        2
R3       10
S4        2
R4       12
S5        2
R5        1
Class     9
Name: 1, dtype: int64)

In [3]:
data_generator = poker_hands.iterrows()

for index, values in data_generator:
  	# Check if index is odd
    if index % 2 != 0:
      	# Sum the ranks of all the cards
        hand_sum = sum([values[1], values[3], values[5], values[7], values[9]])

In [5]:
# Define the lambda transformation
get_square = lambda x: x**2

# Apply the transformation
data_sum = poker_hands.apply(get_square)
(data_sum.head())

   S1   R1  S2   R2  S3   R3  S4   R4  S5   R5  Class
0   1  100   1  121   1  169   1  144   1    1     81
1   4  121   4  169   4  100   4  144   4    1     81
2   9  144   9  121   9  169   9  100   9    1     81
3  16  100  16  121  16    1  16  169  16  144     81
4  16    1  16  169  16  144  16  121  16  100     81

In [7]:
# Define the lambda transformation
get_variance = lambda x: np.var(x)

# Apply the transformation
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=1)
(data_tr.head())

0    18.64
1    18.64
2    18.64
3    18.64
4    18.64
dtype: float64

In [9]:
get_variance = lambda x: np.var(x)

# Apply the transformation
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=0)
(data_tr.head())

R1    14.060473
R2    14.189523
R3    14.024270
R4    14.040552
R5    13.998851
dtype: float64

In [12]:
import time
import pandas as pd
poker_hands = pd.read_csv('./poker_hand_Explanation.csv')

In [15]:
# Calculate the mean rank in each hand
row_start_time = time.time()
mean_r = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=1)
print("Time using pandas vectorization for rows: {} sec".format(time.time() - row_start_time))
print(mean_r.head())

# Calculate the mean rank of each of the 5 card in all hands
col_start_time = time.time()
mean_c = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=0)
print("Time using pandas vectorization for columns: {} sec".format(time.time() - col_start_time))
(mean_c.head())

Time using pandas vectorization for rows: 0.0035948753356933594 sec
0    5.4
1    8.2
2    7.2
3    8.0
4    9.0
dtype: float64
Time using pandas vectorization for columns: 0.0 sec

R1    7.022165
R2    7.047959
R3    6.951653
R4    7.010499
R5    6.949190
dtype: float64

In [16]:
trip_durations = []
for trip in onebike_datetimes:
  # When the start is later than the end, set the fold to be 1
  if trip['start'] > trip['end']:
    trip['end'] = tz.enfold(trip['end'])
  # Convert to UTC
  start = trip['start'].astimezone(tz.UTC)
  end = trip['end'].astimezone(tz.UTC)

  # Subtract the difference
  trip_length_seconds = (end-start).total_seconds()
  trip_durations.append(trip_length_seconds)

# Take the shortest trip duration
print("Shortest trip: " + str(min(trip_durations)))

NameError: name 'onebike_datetimes' is not defined

In [17]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1','R2','R3','R4','R5']].values.var(axis=1, ddof=1)
print("Time using NumPy vectorization: {} sec".format(time.time() - start_time))
print(poker_var[0:5])

Time using NumPy vectorization: 0.007999420166015625 sec
[ 3.8 17.7 24.2  7.5  5.5]

In [23]:
restaurant_data = pd.read_csv('restaurant_data.csv')
restaurant_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
# Define the min-max transformation
min_max_tr = lambda x: (x - x.min()) / (x.max() - x.min())

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')['total_bill']
restaurant_grouped.head()

0     16.99
1     10.34
2     21.01
3     23.68
4     24.59
77    27.20
78    22.76
79    17.29
80    19.44
81    16.66
Name: total_bill, dtype: float64

In [29]:
# Apply the transformation
restaurant_min_max_group = restaurant_grouped.transform(min_max_tr)
(restaurant_min_max_group.head())

0    0.291579
1    0.152283
2    0.375786
3    0.431713
4    0.450775
Name: total_bill, dtype: float64

In [31]:
# Define the exponential transformation
exp_tr = lambda x: np.exp(-x.mean()*x) * x.mean()

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_exp_group = restaurant_grouped['tip'].transform(exp_tr)
(restaurant_exp_group.head())

0    0.135141
1    0.017986
2    0.000060
3    0.000108
4    0.000042
Name: tip, dtype: float64

In [33]:
poker_grouped = poker_hands.groupby('Class')

In [36]:
zscore = lambda x: (x - x.mean()) / x.std()

# Apply the transformation
poker_trans = poker_grouped.transform(zscore)
(poker_trans.head())

C:\Users\JDAMOD~1\AppData\Local\Temp/ipykernel_64212/2859253953.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.
  poker_trans = poker_grouped.transform(zscore)

         R1        R2        R3        R4        R5
0  0.247833 -0.268966 -1.059407 -0.792114 -0.269143
1 -1.056884 -0.021632  1.612166 -0.266598  1.365747
2 -1.591341  1.047574 -0.790349  1.589929  0.025186
3 -0.789655 -0.021632  0.277435  0.794274  1.097635
4 -0.290000 -0.001550  1.081119  0.795990  1.057151

In [37]:
zscore = lambda x: (x - x.mean()) / x.std()

# Apply the transformation
poker_trans = poker_grouped.transform(zscore)

# Re-group the grouped object
poker_regrouped = poker_trans.groupby(poker_hands['Class'])

# Print each group's means and standard deviation
print(np.round(poker_regrouped.mean(), 3))
print(poker_regrouped.std())

        R1   R2   R3   R4   R5
Class
0     -0.0 -0.0  0.0 -0.0 -0.0
1     -0.0  0.0 -0.0 -0.0  0.0
2     -0.0  0.0  0.0 -0.0 -0.0
3     -0.0 -0.0  0.0 -0.0  0.0
4      0.0 -0.0 -0.0  0.0 -0.0
5      0.0 -0.0  0.0  0.0 -0.0
6     -0.0  0.0  0.0  0.0  0.0
7      0.0  0.0  0.0  0.0  0.0
        R1   R2   R3   R4   R5
Class
0      1.0  1.0  1.0  1.0  1.0
1      1.0  1.0  1.0  1.0  1.0
2      1.0  1.0  1.0  1.0  1.0
3      1.0  1.0  1.0  1.0  1.0
4      1.0  1.0  1.0  1.0  1.0
5      1.0  1.0  1.0  1.0  1.0
6      1.0  1.0  1.0  1.0  1.0
7      1.0  1.0  1.0  1.0  1.0

C:\Users\JDAMOD~1\AppData\Local\Temp/ipykernel_64212/907966294.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.
  poker_trans = poker_grouped.transform(zscore)

In [43]:
trip_durations = []
onebike_datetimes = pd.read_csv('onebike_datetimes.csv')
for trip in onebike_datetimes:
  # When the start is later than the end, set the fold to be 1
  if trip['start'] > trip['end']:
    trip['end'] = tz.enfold(trip['end'])
  # Convert to UTC
  start = trip['start'].astimezone(tz.UTC)
  end = trip['end'].astimezone(tz.UTC)

  # Subtract the difference
  trip_length_seconds = (end-start).total_seconds()
  trip_durations.append(trip_length_seconds)

# Take the shortest trip duration
print("Shortest trip: " + str(min(trip_durations)))

FileNotFoundError: [Errno 2] No such file or directory: 'onebike_datetimes.csv'

In [41]:
restaurant_nan = pd.read_csv('restaurant_data.csv')
# Group both objects according to smoke condition
restaurant_nan_grouped = restaurant_nan.groupby('smoker')

# Store the number of present values
restaurant_nan_nval = restaurant_nan_grouped['tip'].count()

# Print the group-wise missing entries
print(restaurant_nan_grouped['total_bill'].count() - restaurant_nan_nval)

smoker
No     0
Yes    0
dtype: int64

In [46]:
# Define the lambda function
missing_trans = lambda x: x.fillna(x.median())

# Group the data according to time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_impute = restaurant_grouped.transform(missing_trans)
(restaurant_impute.head())

C:\Users\JDAMOD~1\AppData\Local\Temp/ipykernel_64212/1865949237.py:8: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.
  restaurant_impute = restaurant_grouped.transform(missing_trans)

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       21.01  3.50     3
3       23.68  3.31     2
4       24.59  3.61     4

In [47]:
# Filter the days where the count of total_bill is greater than $40
total_bill_40 = restaurant_data.groupby('day').filter(lambda x: x['total_bill'].count() > 40)

# Print the number of tables where total_bill is greater than $40
print('Number of tables where total_bill is greater than $40:', total_bill_40.shape[0])

Number of tables where total_bill is greater than $40: 225

In [48]:
# Filter the days where the count of total_bill is greater than $40
total_bill_40 = restaurant_data.groupby('day').filter(lambda x: x['total_bill'].count() > 40)

# Select only the entries that have a mean total_bill greater than $20
total_bill_20 = total_bill_40.groupby('day').filter(lambda x : x['total_bill'].mean() > 20)

# Print days of the week that have a mean total_bill greater than $20
print('Days of the week that have a mean total_bill greater than $20:', total_bill_20.day.unique())

Days of the week that have a mean total_bill greater than $20: ['Sun' 'Sat']