## Run This Code First! This creates the Spark session and loads data.

In [1]:
# !pip install delta-spark --upgrade delta-spark

In [2]:
# !python -m pip install --upgrade pip

In [3]:
# !pip install delta-spark==1.0.0

In [3]:
import boto3

s3 = boto3.client('s3')

bucket_name = 'damodhar918'
file_path = 'your/file/path.txt'

with open('./requirements.txt', 'rb') as data:
    s3.upload_fileobj(data, bucket_name, file_path)

NoCredentialsError: Unable to locate credentials

In [1]:
import os

from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import col

from delta import *

In [2]:
# Create our Spark session and SQL Context.
warehouse_path = "file:///{}\spark_warehouse".format(os.getcwd())
builder = (
    SparkSession.builder.master("local[*]")
    .config("spark.executor.memory", "2G")
    .config("spark.driver.memory", "2G")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config(
        "spark.sql.catalog.spark_catalog",
        "org.apache.spark.sql.delta.catalog.DeltaCatalog",
    )
    .config("spark.sql.warehouse.dir", warehouse_path)
    .appName("cheatsheet")
)
spark = configure_spark_with_delta_pip(builder).getOrCreate()
# sqlContext = SparkSession.builder.getOrCreate().sparkContext
sqlContext = SQLContext(spark)
spark

c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
# from pyspark.sql import SparkSession
# from pyspark.conf import SparkConf
# # Create our Spark session and SQL Context.
# warehouse_path = "file:///{}\spark_warehouse".format(os.getcwd())
# conf = SparkConf()\
#     .setAppName("cheatsheet")\
#     .setMaster("local[*]")\
#     .set("spark.executor.memory", "2G")\
#     .set("spark.driver.memory", "2G")\
#     .set("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")\
#     .set("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")\
#     .set("spark.sql.warehouse.dir", warehouse_path)

# spark = SparkSession.builder\
#     .config(conf=conf)\
#     .getOrCreate()
# sqlContext = SQLContext(spark)
# spark

In [ ]:
warehouse_path

'file:///c:\\Users\\jdamodhar\\Desktop\\python_essential\\DataCamp-ds-deloitte-master\\00-A\\pyspark-cheatsheet-master\\spark_warehouse'

In [ ]:
# Unmodified Auto dataset.
auto_df = spark.read.format("csv").option("header", True).load("data/auto-mpg.csv")

# Fixed Auto dataset.
auto_df_fixed = spark.read.format("csv").option("header", True).load("data/auto-mpg-fixed.csv")
for (column_name) in ("mpg cylinders displacement horsepower weight acceleration".split()):
    auto_df_fixed = auto_df_fixed.withColumn(column_name, col(column_name).cast("double"))
auto_df_fixed = auto_df_fixed.withColumn("modelyear", col("modelyear").cast("int"))
auto_df_fixed = auto_df_fixed.withColumn("origin", col("origin").cast("int"))

# Cover type dataset.
covtype_df = spark.read.format("parquet").load("data/covtype.parquet")
for column_name in covtype_df.columns:
    covtype_df = covtype_df.withColumn(column_name, col(column_name).cast("int"))

# Customer spend dataset.
spend_df = spark.read.format("csv").option("header", True).load("data/customer_spend.csv")

# Weblog.
weblog_df = spark.read.format("csv").option("header", True).load("data/weblog.csv")

## Loading data stored in filesystems or databases, and saving it.

**Load a DataFrame from CSV**

In [ ]:
df = spark.read.format("csv").option("header", True).load("data/auto-mpg.csv")
df.show(truncate=False)

+----+---------+------------+----------+------+------------+---------+------+----------------------------+
|mpg |cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|carname                     |
+----+---------+------------+----------+------+------------+---------+------+----------------------------+
|18.0|8        |307.0       |130.0     |3504. |12.0        |70       |1     |chevrolet chevelle malibu   |
|15.0|8        |350.0       |165.0     |3693. |11.5        |70       |1     |buick skylark 320           |
|18.0|8        |318.0       |150.0     |3436. |11.0        |70       |1     |plymouth satellite          |
|16.0|8        |304.0       |150.0     |3433. |12.0        |70       |1     |amc rebel sst               |
|17.0|8        |302.0       |140.0     |3449. |10.5        |70       |1     |ford torino                 |
|15.0|8        |429.0       |198.0     |4341. |10.0        |70       |1     |ford galaxie 500            |
|14.0|8        |454.0       |220.0     |4354. |9.0         |70       |1     |chevrolet impala            |
|14.0|8        |440.0       |215.0     |4312. |8.5         |70       |1     |plymouth fury iii           |
|14.0|8        |455.0       |225.0     |4425. |10.0        |70       |1     |pontiac catalina            |
|15.0|8        |390.0       |190.0     |3850. |8.5         |70       |1     |amc ambassador dpl          |
|15.0|8        |383.0       |170.0     |3563. |10.0        |70       |1     |dodge challenger se         |
|14.0|8        |340.0       |160.0     |3609. |8.0         |70       |1     |plymouth 'cuda 340          |
|15.0|8        |400.0       |150.0     |3761. |9.5         |70       |1     |chevrolet monte carlo       |
|14.0|8        |455.0       |225.0     |3086. |10.0        |70       |1     |buick estate wagon (sw)     |
|24.0|4        |113.0       |95.00     |2372. |15.0        |70       |3     |toyota corona mark ii       |
|22.0|6        |198.0       |95.00     |2833. |15.5        |70       |1     |plymouth duster             |
|18.0|6        |199.0       |97.00     |2774. |15.5        |70       |1     |amc hornet                  |
|21.0|6        |200.0       |85.00     |2587. |16.0        |70       |1     |ford maverick               |
|27.0|4        |97.00       |88.00     |2130. |14.5        |70       |3     |datsun pl510                |
|26.0|4        |97.00       |46.00     |1835. |20.5        |70       |2     |volkswagen 1131 deluxe sedan|
+----+---------+------------+----------+------+------------+---------+------+----------------------------+
only showing top 20 rows

**Load a DataFrame from a Tab Separated Value (TSV) file**

In [10]:
df = (
    spark.read.format("csv")
    .option("header", True)
    .option("sep", "\t")
    .load("data/auto-mpg.tsv")
)
df.show(truncate=False)

+----+---------+------------+----------+------+------------+---------+------+----------------------------+
|mpg |cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|carname                     |
+----+---------+------------+----------+------+------------+---------+------+----------------------------+
|18.0|8        |307.0       |130.0     |3504. |12.0        |70       |1     |chevrolet chevelle malibu   |
|15.0|8        |350.0       |165.0     |3693. |11.5        |70       |1     |buick skylark 320           |
|18.0|8        |318.0       |150.0     |3436. |11.0        |70       |1     |plymouth satellite          |
|16.0|8        |304.0       |150.0     |3433. |12.0        |70       |1     |amc rebel sst               |
|17.0|8        |302.0       |140.0     |3449. |10.5        |70       |1     |ford torino                 |
|15.0|8        |429.0       |198.0     |4341. |10.0        |70       |1     |ford galaxie 500            |
|14.0|8        |454.0       |220.0     |4354. |9.0         |70       |1     |chevrolet impala            |
|14.0|8        |440.0       |215.0     |4312. |8.5         |70       |1     |plymouth fury iii           |
|14.0|8        |455.0       |225.0     |4425. |10.0        |70       |1     |pontiac catalina            |
|15.0|8        |390.0       |190.0     |3850. |8.5         |70       |1     |amc ambassador dpl          |
|15.0|8        |383.0       |170.0     |3563. |10.0        |70       |1     |dodge challenger se         |
|14.0|8        |340.0       |160.0     |3609. |8.0         |70       |1     |plymouth 'cuda 340          |
|15.0|8        |400.0       |150.0     |3761. |9.5         |70       |1     |chevrolet monte carlo       |
|14.0|8        |455.0       |225.0     |3086. |10.0        |70       |1     |buick estate wagon (sw)     |
|24.0|4        |113.0       |95.00     |2372. |15.0        |70       |3     |toyota corona mark ii       |
|22.0|6        |198.0       |95.00     |2833. |15.5        |70       |1     |plymouth duster             |
|18.0|6        |199.0       |97.00     |2774. |15.5        |70       |1     |amc hornet                  |
|21.0|6        |200.0       |85.00     |2587. |16.0        |70       |1     |ford maverick               |
|27.0|4        |97.00       |88.00     |2130. |14.5        |70       |3     |datsun pl510                |
|26.0|4        |97.00       |46.00     |1835. |20.5        |70       |2     |volkswagen 1131 deluxe sedan|
+----+---------+------------+----------+------+------------+---------+------+----------------------------+
only showing top 20 rows

**Save a DataFrame in CSV format**

In [11]:
auto_df.write.mode('overwrite').csv("output.csv")

**Load a DataFrame from Parquet**

In [12]:
df = spark.read.format("parquet").load("data/auto-mpg.parquet")
df.show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|       70|     1|       ford maverick|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|       70|     3|        datsun pl510|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|       70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

**Save a DataFrame in Parquet format**

In [13]:
auto_df.write.mode('overwrite').parquet("output.parquet")

**Load a DataFrame from JSON Lines (jsonl) Formatted Data**

In [14]:
df = spark.read.json("data/weblog.jsonl")
df.show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------+--------------------------------+--------+----------+-------------------------------------------------------+------+
|client                                                                                                                        |country                         |session |timestamp |uri                                                    |user  |
+------------------------------------------------------------------------------------------------------------------------------+--------------------------------+--------+----------+-------------------------------------------------------+------+
|{false, Mozilla/5.0 (X11; Linux i686) AppleWebKit/5310 (KHTML, like Gecko) Chrome/21.0.855.0 Safari/5310}                     |Bangladesh                      |55fa8213|869196249 |http://larson-harper.com/list/post/                    |dde312|
|{true, Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/5331 (KHTML, like Gecko) Chrome/48.0.880.0 Safari/5331}    |Niue                            |2fcd4a83|1031238717|http://hahn.com/post.html                              |9d00b9|
|{true, Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_12_9) AppleWebKit/5361 (KHTML, like Gecko) Chrome/42.0.868.0 Safari/5361}   |Rwanda                          |013b996e|628683372 |http://mann-cruz.biz/list/explore/home.html            |1339d4|
|{false, Mozilla/5.0 (Windows CE) AppleWebKit/5320 (KHTML, like Gecko) Chrome/55.0.820.0 Safari/5320}                          |Austria                         |07e8a71a|1043628668|https://www.jones.com/tags/blog/privacy.html           |966312|
|{false, Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5310 (KHTML, like Gecko) Chrome/37.0.889.0 Safari/5310}                      |Belize                          |b23d05d8|192738669 |http://rose-coleman.com/app/blog/about.html            |2af1e1|
|{false, Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_6) AppleWebKit/5342 (KHTML, like Gecko) Chrome/59.0.871.0 Safari/5342}    |Lao People's Democratic Republic|d83dfbae|1066490444|http://shepherd.com/categories/wp-content/list/main.php|844395|
|{false, Mozilla/5.0 (Windows NT 5.01) AppleWebKit/5330 (KHTML, like Gecko) Chrome/58.0.813.0 Safari/5330}                     |French Guiana                   |e77dfaa2|1350920869|https://rose-wilson.org/                               |NULL  |
|{false, Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_12_5) AppleWebKit/5362 (KHTML, like Gecko) Chrome/36.0.812.0 Safari/5362}  |Turks and Caicos Islands        |56664269|280986223 |http://owens-scott.info/                               |NULL  |
|{false, Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5321 (KHTML, like Gecko) Chrome/58.0.892.0 Safari/5321}                   |Ethiopia                        |628d6059|881914195 |https://higgins.com/posts/wp-content/search/terms/     |8ab45a|
|{false, Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_1) AppleWebKit/5342 (KHTML, like Gecko) Chrome/59.0.883.0 Safari/5342}    |Saint Kitts and Nevis           |85f9120c|1065114708|https://www.gordon.com/app/tag/search/index.php        |NULL  |
|{true, Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5360 (KHTML, like Gecko) Chrome/42.0.845.0 Safari/5360}                    |Niue                            |b582eb2d|903885352 |http://taylor.com/post.htm                             |NULL  |
|{true, Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5330 (KHTML, like Gecko) Chrome/54.0.839.0 Safari/5330}                    |Mozambique                      |3a3a076a|1396767240|https://www.walker-kelley.org/register/                |c9cfbc|
|{false, Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_2) AppleWebKit/5360 (KHTML, like Gecko) Chrome/18.0.851.0 Safari/5360}      |Mauritania                      |f50b92bd|846552008 |https://floyd.com/                                     |4e612e|
|{false, Mozilla/5.0 (X11; Linux i686) AppleWebKit/5341 (KHTML, like Gecko) Chrome/41.0.828.0 Safari/5341}                     |Bangladesh                      |b22d584c|1267210959|https://www.benson.info/                               |NULL  |
|{true, Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_5_5) AppleWebKit/5352 (KHTML, like Gecko) Chrome/49.0.826.0 Safari/5352}  |Syrian Arab Republic            |b70a5779|389952112 |https://www.simon.com/faq/                             |NULL  |
|{false, Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5342 (KHTML, like Gecko) Chrome/20.0.869.0 Safari/5342}                   |Nicaragua                       |11cf53ff|1535167846|http://www.davis.com/register/                         |185348|
|{false, Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_11_1) AppleWebKit/5351 (KHTML, like Gecko) Chrome/37.0.848.0 Safari/5351}|Tokelau                         |8a020624|864088605 |http://www.gallegos-foley.com/tags/terms/              |7a1c8e|
|{false, Mozilla/5.0 (X11; Linux i686) AppleWebKit/5332 (KHTML, like Gecko) Chrome/25.0.898.0 Safari/5332}                     |Andorra                         |bbe09fd3|315508192 |http://www.johnson.com/posts/faq.asp                   |38cbc0|
|{false, Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_6) AppleWebKit/5342 (KHTML, like Gecko) Chrome/62.0.827.0 Safari/5342}   |Guatemala                       |0824188a|1989386   |https://www.keller-ward.biz/tag/category/posts/login/  |f6804a|
|{true, Mozilla/5.0 (Windows CE) AppleWebKit/5312 (KHTML, like Gecko) Chrome/17.0.878.0 Safari/5312}                           |Guernsey                        |798f511a|458479835 |https://scott.com/tag/blog/category/search/            |b2f5b0|
+------------------------------------------------------------------------------------------------------------------------------+--------------------------------+--------+----------+-------------------------------------------------------+------+
only showing top 20 rows

**Save a DataFrame into a Hive catalog table**

In [15]:
# auto_df.write.mode("overwrite").saveAsTable("autompg", path="file:///spark_warehouse/autompg")

In [16]:
import shutil
shutil.rmtree("c:/Users/jdamodhar/Desktop/python_essential/DataCamp-ds-deloitte-master/00-A/pyspark-cheatsheet-master/spark_warehouse/")

In [17]:
auto_df.write.mode("overwrite").saveAsTable("autompg")

In [18]:
spark.sql("CREATE DATABASE IF NOT EXISTS my_database")

auto_df.write.mode("overwrite").saveAsTable("my_database.autompg")

In [19]:
spark.sql("SHOW CREATE TABLE my_database.autompg;").show(truncate=False, vertical=True)

-RECORD 0-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 createtab_stmt | CREATE TABLE spark_catalog.my_database.autompg (\n  mpg STRING,\n  cylinders STRING,\n  displacement STRING,\n  horsepower STRING,\n  weight STRING,\n  acceleration STRING,\n  modelyear STRING,\n  origin STRING,\n  carname STRING)\nUSING parquet\n

**Load a Hive catalog table into a DataFrame**

In [20]:
df = spark.table("autompg")
df.show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|       70|     1|       ford maverick|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|       70|     3|        datsun pl510|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|       70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

**Load a DataFrame from a SQL query**

In [21]:
df = sqlContext.sql(
    "select carname, mpg, horsepower from autompg where horsepower > 100 and mpg > 25"
)
df.show()

+--------------------+----+----------+
|             carname| mpg|horsepower|
+--------------------+----+----------+
|            bmw 2002|26.0|     113.0|
|  chevrolet citation|28.8|     115.0|
|oldsmobile omega ...|26.8|     115.0|
|          dodge colt|27.9|     105.0|
|       datsun 280-zx|32.7|     132.0|
|oldsmobile cutlas...|26.6|     105.0|
+--------------------+----+----------+

In [22]:
df.write.mode("overwrite").format("delta").save(warehouse_path+"/autompg-delta")

**Load a CSV file from Amazon S3**

In [23]:
import configparser
import os

config = configparser.ConfigParser()
config.read(os.path.expanduser("~/.aws/credentials"))
access_key = config.get("default", "aws_access_key_id").replace('"', "")
secret_key = config.get("default", "aws_secret_access_key").replace('"', "")

# Requires compatible hadoop-aws and aws-java-sdk-bundle JARs.
spark.conf.set(
    "fs.s3a.aws.credentials.provider",
    "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider",
)
spark.conf.set("fs.s3a.access.key", access_key)
spark.conf.set("fs.s3a.secret.key", secret_key)

df = (
    spark.read.format("csv")
    .option("header", True)    .load("s3a://cheatsheet111/auto-mpg.csv")
)

NoSectionError: No section: 'default'

**Load a CSV file from Oracle Cloud Infrastructure (OCI) Object Storage**

In [ ]:
import oci

oci_config = oci.config.from_file()
conf = spark.sparkContext.getConf()
conf.set("fs.oci.client.auth.tenantId", oci_config["tenancy"])
conf.set("fs.oci.client.auth.userId", oci_config["user"])
conf.set("fs.oci.client.auth.fingerprint", oci_config["fingerprint"])
conf.set("fs.oci.client.auth.pemfilepath", oci_config["key_file"])
conf.set(
    "fs.oci.client.hostname",
    "https://objectstorage.{0}.oraclecloud.com".format(oci_config["region"]),
)
PATH = "oci://<your_bucket>@<your_namespace/<your_path>"
df = spark.read.format("csv").option("header", True).load(PATH)

**Read an Oracle DB table into a DataFrame using a Wallet**

In [ ]:
password = "my_password"
table = "source_table"
tnsname = "my_tns_name"
user = "ADMIN"
wallet_path = "/path/to/your/wallet"

properties = {
    "driver": "oracle.jdbc.driver.OracleDriver",
    "oracle.net.tns_admin": tnsname,
    "password": password,
    "user": user,
}
url = f"jdbc:oracle:thin:@{tnsname}?TNS_ADMIN={wallet_path}"
df = spark.read.jdbc(url=url, table=table, properties=properties)

**Write a DataFrame to an Oracle DB table using a Wallet**

In [ ]:
password = "my_password"
table = "target_table"
tnsname = "my_tns_name"
user = "ADMIN"
wallet_path = "/path/to/your/wallet"

properties = {
    "driver": "oracle.jdbc.driver.OracleDriver",
    "oracle.net.tns_admin": tnsname,
    "password": password,
    "user": user,
}
url = f"jdbc:oracle:thin:@{tnsname}?TNS_ADMIN={wallet_path}"

# Possible modes are "Append", "Overwrite", "Ignore", "Error"
df.write.jdbc(url=url, table=table, mode="Append", properties=properties)

**Write a DataFrame to a Postgres table**

In [ ]:
pg_database = os.environ.get("PGDATABASE") or "postgres"
pg_host = os.environ.get("PGHOST") or "localhost"
pg_password = os.environ.get("PGPASSWORD") or "password"
pg_user = os.environ.get("PGUSER") or "postgres"
table = "autompg"

properties = {
    "driver": "org.postgresql.Driver",
    "user": pg_user,
    "password": pg_password,
}
url = f"jdbc:postgresql://{pg_host}:5432/{pg_database}"
auto_df.write.jdbc(url=url, table=table, mode="Append", properties=properties)

**Read a Postgres table into a DataFrame**

In [ ]:
pg_database = os.environ.get("PGDATABASE") or "postgres"
pg_host = os.environ.get("PGHOST") or "localhost"
pg_password = os.environ.get("PGPASSWORD") or "password"
pg_user = os.environ.get("PGUSER") or "postgres"
table = "autompg"

properties = {
    "driver": "org.postgresql.Driver",
    "user": pg_user,
    "password": pg_password,
}
url = f"jdbc:postgresql://{pg_host}:5432/{pg_database}"
df = spark.read.jdbc(url=url, table=table, properties=properties)
df.show()

## Special data handling scenarios.

**Provide the schema when loading a DataFrame from CSV**

In [24]:
from pyspark.sql.types import (
    DoubleType,
    IntegerType,
    StringType,
    StructField,
    StructType,
)

schema = StructType(
    [
        StructField("mpg", DoubleType(), True),
        StructField("cylinders", IntegerType(), True),
        StructField("displacement", DoubleType(), True),
        StructField("horsepower", DoubleType(), True),
        StructField("weight", DoubleType(), True),
        StructField("acceleration", DoubleType(), True),
        StructField("modelyear", IntegerType(), True),
        StructField("origin", IntegerType(), True),
        StructField("carname", StringType(), True),
    ]
)
df = (
    spark.read.format("csv")
    .option("header", "true")
    .schema(schema)
    .load("data/auto-mpg.csv")
)
df.show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0|3504.0|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|3693.0|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|3436.0|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|3433.0|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|3449.0|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|4341.0|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|4354.0|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|4312.0|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|4425.0|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|3850.0|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|3563.0|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|3609.0|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|3761.0|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|3086.0|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|2372.0|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|2833.0|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|2774.0|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|2587.0|        16.0|       70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|2130.0|        14.5|       70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|1835.0|        20.5|       70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

**Save a DataFrame to CSV, overwriting existing data**

In [25]:
auto_df.write.mode("overwrite").csv("output.csv")

**Save a DataFrame to CSV with a header**

In [27]:
auto_df.coalesce(1).write.mode('overwrite').csv("header.csv", header="true")

**Save a DataFrame in a single CSV file**

In [28]:
auto_df.coalesce(1).write.mode('overwrite').csv("single.csv")

**Save DataFrame as a dynamic partitioned table**

In [29]:
spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
auto_df.write.mode("append").partitionBy("modelyear").saveAsTable(
    "autompg_partitioned"
)

**Overwrite specific partitions**

In [30]:
auto_df.show(2)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 2 rows

In [ ]:
spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
your_dataframe.write.mode("overwrite").insertInto("your_table")

In [ ]:
# !pip install money-parser

Collecting money-parser
  Downloading money_parser-0.0.1-py3-none-any.whl (6.4 kB)
Installing collected packages: money-parser
Successfully installed money-parser-0.0.1

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

**Load a CSV file with a money column into a DataFrame**

In [31]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DecimalType
from decimal import Decimal

# Load the text file.
df = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/customer_spend.csv")
)

# Convert with a hardcoded custom UDF.
money_udf = udf(lambda x: Decimal(x[1:].replace(",", "")), DecimalType(8, 4))
money1 = df.withColumn("spend_dollars", money_udf(df.spend_dollars))

# Convert with the money_parser library (much safer).
from money_parser import price_str

money_convert = udf(
    lambda x: Decimal(price_str(x)) if x is not None else None,
    DecimalType(8, 4),
)
df = df.withColumn("spend_dollars", money_convert(df.spend_dollars))
df.show(4)

+----------+-----------+-------------+
|      date|customer_id|spend_dollars|
+----------+-----------+-------------+
|2020-01-31|          0|       0.0700|
|2020-01-31|          1|       0.9800|
|2020-01-31|          2|       0.0600|
|2020-01-31|          3|       0.6500|
+----------+-----------+-------------+
only showing top 4 rows

## Adding, removing and modifying DataFrame columns.

**Add a new column to a DataFrame**

In [32]:
from pyspark.sql.functions import upper, lower

df = auto_df.withColumn("upper", upper(auto_df.carname)).withColumn(
    "lower", lower(auto_df.carname)
)
df.show(3)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 3 rows

**Modify a DataFrame column**

In [33]:
from pyspark.sql.functions import col, concat, lit

df = auto_df.withColumn("modelyear", concat(lit("19"), col("modelyear")))
df.show(3)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 3 rows

**Add a column with multiple conditions**

In [34]:
from pyspark.sql.functions import col, when

df = auto_df.withColumn(
    "mpg_class",
    when(col("mpg") <= 20, "low")
    .when(col("mpg") <= 30, "mid")
    .when(col("mpg") <= 40, "high")
    .otherwise("very high"),
)
df.show(1,vertical=True)

-RECORD 0----------------------------
 mpg          | 18.0
 cylinders    | 8
 displacement | 307.0
 horsepower   | 130.0
 weight       | 3504.
 acceleration | 12.0
 modelyear    | 70
 origin       | 1
 carname      | chevrolet chevell...
 mpg_class    | low
only showing top 1 row

**Add a constant column**

In [35]:
from pyspark.sql.functions import lit

df = auto_df.withColumn("one", lit(1))
df.show(2)

+----+---------+------------+----------+------+------------+---------+------+--------------------+---+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|one|
+----+---------+------------+----------+------+------------+---------+------+--------------------+---+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|  1|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|  1|
+----+---------+------------+----------+------+------------+---------+------+--------------------+---+
only showing top 2 rows

**Concatenate columns**

In [36]:
from pyspark.sql.functions import concat, col, lit

df = auto_df.withColumn(
    "concatenated", concat(col("cylinders"), lit("_"), col("mpg"))
)
df.show(2)

+----+---------+------------+----------+------+------------+---------+------+--------------------+------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|concatenated|
+----+---------+------------+----------+------+------------+---------+------+--------------------+------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|      8_18.0|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|      8_15.0|
+----+---------+------------+----------+------+------------+---------+------+--------------------+------------+
only showing top 2 rows

**Drop a column**

In [ ]:
df = auto_df.drop("horsepower")
df.show()

+----+---------+------------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0| 3086.|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0| 2372.|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0| 2587.|        16.0|       70|     1|       ford maverick|
|27.0|        4|       97.00| 2130.|        14.5|       70|     3|        datsun pl510|
|26.0|        4|       97.00| 1835.|        20.5|       70|     2|volkswagen 1131 d...|
+----+---------+------------+------+------------+---------+------+--------------------+
only showing top 20 rows

**Change a column name**

In [ ]:
df = auto_df.withColumnRenamed("horsepower", "horses")
df.show()

+----+---------+------------+------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horses|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0| 170.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0| 160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0| 150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0| 225.0| 3086.|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0| 95.00| 2372.|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0| 95.00| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0| 97.00| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0| 85.00| 2587.|        16.0|       70|     1|       ford maverick|
|27.0|        4|       97.00| 88.00| 2130.|        14.5|       70|     3|        datsun pl510|
|26.0|        4|       97.00| 46.00| 1835.|        20.5|       70|     2|volkswagen 1131 d...|
+----+---------+------------+------+------+------------+---------+------+--------------------+
only showing top 20 rows

**Change multiple column names**

In [ ]:
df = auto_df.withColumnRenamed("horsepower", "horses").withColumnRenamed(
    "modelyear", "year"
)
df.show()

+----+---------+------------+------+------+------------+----+------+--------------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|
+----+---------+------------+------+------+------------+----+------+--------------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|  70|     1|chevrolet chevell...|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|  70|     1|   buick skylark 320|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|  70|     1|  plymouth satellite|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|  70|     1|       amc rebel sst|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|  70|     1|         ford torino|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|  70|     1|    ford galaxie 500|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|  70|     1|    chevrolet impala|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|  70|     1|   plymouth fury iii|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|  70|     1|    pontiac catalina|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|  70|     1|  amc ambassador dpl|
|15.0|        8|       383.0| 170.0| 3563.|        10.0|  70|     1| dodge challenger se|
|14.0|        8|       340.0| 160.0| 3609.|         8.0|  70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0| 150.0| 3761.|         9.5|  70|     1|chevrolet monte c...|
|14.0|        8|       455.0| 225.0| 3086.|        10.0|  70|     1|buick estate wago...|
|24.0|        4|       113.0| 95.00| 2372.|        15.0|  70|     3|toyota corona mar...|
|22.0|        6|       198.0| 95.00| 2833.|        15.5|  70|     1|     plymouth duster|
|18.0|        6|       199.0| 97.00| 2774.|        15.5|  70|     1|          amc hornet|
|21.0|        6|       200.0| 85.00| 2587.|        16.0|  70|     1|       ford maverick|
|27.0|        4|       97.00| 88.00| 2130.|        14.5|  70|     3|        datsun pl510|
|26.0|        4|       97.00| 46.00| 1835.|        20.5|  70|     2|volkswagen 1131 d...|
+----+---------+------------+------+------+------------+----+------+--------------------+
only showing top 20 rows

**Change all column names at once**

In [ ]:
df = auto_df.toDF(*["X" + name for name in auto_df.columns])
df.show()

+----+----------+-------------+-----------+-------+-------------+----------+-------+--------------------+
|Xmpg|Xcylinders|Xdisplacement|Xhorsepower|Xweight|Xacceleration|Xmodelyear|Xorigin|            Xcarname|
+----+----------+-------------+-----------+-------+-------------+----------+-------+--------------------+
|18.0|         8|        307.0|      130.0|  3504.|         12.0|        70|      1|chevrolet chevell...|
|15.0|         8|        350.0|      165.0|  3693.|         11.5|        70|      1|   buick skylark 320|
|18.0|         8|        318.0|      150.0|  3436.|         11.0|        70|      1|  plymouth satellite|
|16.0|         8|        304.0|      150.0|  3433.|         12.0|        70|      1|       amc rebel sst|
|17.0|         8|        302.0|      140.0|  3449.|         10.5|        70|      1|         ford torino|
|15.0|         8|        429.0|      198.0|  4341.|         10.0|        70|      1|    ford galaxie 500|
|14.0|         8|        454.0|      220.0|  4354.|          9.0|        70|      1|    chevrolet impala|
|14.0|         8|        440.0|      215.0|  4312.|          8.5|        70|      1|   plymouth fury iii|
|14.0|         8|        455.0|      225.0|  4425.|         10.0|        70|      1|    pontiac catalina|
|15.0|         8|        390.0|      190.0|  3850.|          8.5|        70|      1|  amc ambassador dpl|
|15.0|         8|        383.0|      170.0|  3563.|         10.0|        70|      1| dodge challenger se|
|14.0|         8|        340.0|      160.0|  3609.|          8.0|        70|      1|  plymouth 'cuda 340|
|15.0|         8|        400.0|      150.0|  3761.|          9.5|        70|      1|chevrolet monte c...|
|14.0|         8|        455.0|      225.0|  3086.|         10.0|        70|      1|buick estate wago...|
|24.0|         4|        113.0|      95.00|  2372.|         15.0|        70|      3|toyota corona mar...|
|22.0|         6|        198.0|      95.00|  2833.|         15.5|        70|      1|     plymouth duster|
|18.0|         6|        199.0|      97.00|  2774.|         15.5|        70|      1|          amc hornet|
|21.0|         6|        200.0|      85.00|  2587.|         16.0|        70|      1|       ford maverick|
|27.0|         4|        97.00|      88.00|  2130.|         14.5|        70|      3|        datsun pl510|
|26.0|         4|        97.00|      46.00|  1835.|         20.5|        70|      2|volkswagen 1131 d...|
+----+----------+-------------+-----------+-------+-------------+----------+-------+--------------------+
only showing top 20 rows

**Convert a DataFrame column to a Python list**

In [ ]:
names = auto_df.select("carname").rdd.flatMap(lambda x: x).collect()
print(str(names[:10]))

['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl']

**Convert a scalar query to a Python value**

In [ ]:
average = auto_df.agg(dict(mpg="avg")).first()[0]
print(str(average))

23.514572864321615

**Consume a DataFrame row-wise as Python dictionaries**

In [ ]:
first_three = auto_df.limit(3)
for row in first_three.collect():
    my_dict = row.asDict()
    print(my_dict)

{'mpg': '18.0', 'cylinders': '8', 'displacement': '307.0', 'horsepower': '130.0', 'weight': '3504.', 'acceleration': '12.0', 'modelyear': '70', 'origin': '1', 'carname': 'chevrolet chevelle malibu'}
{'mpg': '15.0', 'cylinders': '8', 'displacement': '350.0', 'horsepower': '165.0', 'weight': '3693.', 'acceleration': '11.5', 'modelyear': '70', 'origin': '1', 'carname': 'buick skylark 320'}
{'mpg': '18.0', 'cylinders': '8', 'displacement': '318.0', 'horsepower': '150.0', 'weight': '3436.', 'acceleration': '11.0', 'modelyear': '70', 'origin': '1', 'carname': 'plymouth satellite'}

**Select particular columns from a DataFrame**

In [ ]:
df = auto_df.select(["mpg", "cylinders", "displacement"])
df.show()

+----+---------+------------+
| mpg|cylinders|displacement|
+----+---------+------------+
|18.0|        8|       307.0|
|15.0|        8|       350.0|
|18.0|        8|       318.0|
|16.0|        8|       304.0|
|17.0|        8|       302.0|
|15.0|        8|       429.0|
|14.0|        8|       454.0|
|14.0|        8|       440.0|
|14.0|        8|       455.0|
|15.0|        8|       390.0|
|15.0|        8|       383.0|
|14.0|        8|       340.0|
|15.0|        8|       400.0|
|14.0|        8|       455.0|
|24.0|        4|       113.0|
|22.0|        6|       198.0|
|18.0|        6|       199.0|
|21.0|        6|       200.0|
|27.0|        4|       97.00|
|26.0|        4|       97.00|
+----+---------+------------+
only showing top 20 rows

**Create an empty dataframe with a specified schema**

In [ ]:
from pyspark.sql.types import StructField, StructType, LongType, StringType

schema = StructType(
    [
        StructField("my_id", LongType(), True),
        StructField("my_string", StringType(), True),
    ]
)
df = spark.createDataFrame([], schema)
df.show()

+-----+---------+
|my_id|my_string|
+-----+---------+
+-----+---------+

In [ ]:
spark.createDataFrame([],StructType([])).show()

++
||
++
++

**Create a constant dataframe**

In [ ]:
import datetime
from pyspark.sql.types import (
    StructField,
    StructType,
    LongType,
    StringType,
    TimestampType,
)

schema = StructType(
    [
        StructField("my_id", LongType(), True),
        StructField("my_string", StringType(), True),
        StructField("my_timestamp", TimestampType(), True),
    ]
)
df = spark.createDataFrame(
    [
        (1, "foo", datetime.datetime.strptime("2021-01-01", "%Y-%m-%d")),
        (2, "bar", datetime.datetime.strptime("2021-01-02", "%Y-%m-%d")),
    ],
    schema,
)
df.show()

+-----+---------+-------------------+
|my_id|my_string|       my_timestamp|
+-----+---------+-------------------+
|    1|      foo|2021-01-01 00:00:00|
|    2|      bar|2021-01-02 00:00:00|
+-----+---------+-------------------+

**Convert String to Double**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.withColumn("horsepower", col("horsepower").cast("double"))
df.show()

**Convert String to Integer**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.withColumn("horsepower", col("horsepower").cast("int"))
df.show()

**Get the size of a DataFrame**

In [ ]:
print("{} rows".format(auto_df.count()))
print("{} columns".format(len(auto_df.columns)))

**Get a DataFrame's number of partitions**

In [ ]:
print("{} partition(s)".format(auto_df.rdd.getNumPartitions()))

**Get data types of a DataFrame's columns**

In [ ]:
print(auto_df.dtypes)

**Convert an RDD to Data Frame**

In [ ]:
from pyspark.sql import Row

# First, get the RDD from the DataFrame.
rdd = auto_df.rdd

# This converts it back to an RDD with no changes.
df = rdd.map(lambda x: Row(**x.asDict())).toDF()

# This changes the rows before creating the DataFrame.
df = rdd.map(
    lambda x: Row(**{k: v * 2 for (k, v) in x.asDict().items()})
).toDF()
df.show()

**Print the contents of an RDD**

In [ ]:
rdd = auto_df.rdd
print(rdd.take(10))

**Print the contents of a DataFrame**

In [ ]:
auto_df.show(10)
df.show()

**Process each row of a DataFrame**

In [ ]:
import os

def foreach_function(row):
    if row.horsepower is not None:
        os.system("echo " + row.horsepower)

auto_df.foreach(foreach_function)

**DataFrame Map example**

In [ ]:
def map_function(row):
    if row.horsepower is not None:
        return [float(row.horsepower) * 10]
    else:
        return [None]

df = auto_df.rdd.map(map_function).toDF()
df.show()

**DataFrame Flatmap example**

In [ ]:
from pyspark.sql.types import Row

def flatmap_function(row):
    if row.cylinders is not None:
        return list(range(int(row.cylinders)))
    else:
        return [None]

rdd = auto_df.rdd.flatMap(flatmap_function)
row = Row("val")
df = rdd.map(row).toDF()
df.show()

**Create a custom UDF**

In [ ]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(col("carname")))
df.show()

## Data conversions and other modifications.

**Run a SparkSQL Statement on a DataFrame**

In [ ]:
from pyspark.sql.functions import col, regexp_extract

auto_df.registerTempTable("auto_df")
df = sqlContext.sql(
    "select modelyear, avg(mpg) from auto_df group by modelyear"
)
df.show()

**Extract data from a string using a regular expression**

In [ ]:
from pyspark.sql.functions import col, regexp_extract

group = 0
df = (
    auto_df.withColumn(
        "identifier", regexp_extract(col("carname"), "(\S?\d+)", group)
    )
    .drop("acceleration")
    .drop("cylinders")
    .drop("displacement")
    .drop("modelyear")
    .drop("mpg")
    .drop("origin")
    .drop("horsepower")
    .drop("weight")
)
df.show()

**Fill NULL values in specific columns**

In [ ]:
df = auto_df.fillna({"horsepower": 0})
df.show()

**Fill NULL values with column average**

In [ ]:
from pyspark.sql.functions import avg

df = auto_df.fillna({"horsepower": auto_df.agg(avg("horsepower")).first()[0]})
df.show()

**Fill NULL values with group average**

In [ ]:
from pyspark.sql.functions import coalesce

unmodified_columns = auto_df.columns
unmodified_columns.remove("horsepower")
manufacturer_avg = auto_df.groupBy("cylinders").agg({"horsepower": "avg"})
df = auto_df.join(manufacturer_avg, "cylinders").select(
    *unmodified_columns,
    coalesce("horsepower", "avg(horsepower)").alias("horsepower"),
)
df.show()

**Unpack a DataFrame's JSON column to a new DataFrame**

In [ ]:
from pyspark.sql.functions import col, json_tuple

source = spark.sparkContext.parallelize(
    [["1", '{ "a" : 10, "b" : 11 }'], ["2", '{ "a" : 20, "b" : 21 }']]
).toDF(["id", "json"])
df = source.select("id", json_tuple(col("json"), "a", "b"))
df.show()

**Query a JSON column**

In [ ]:
from pyspark.sql.functions import col, json_tuple

source = spark.sparkContext.parallelize(
    [["1", '{ "a" : 10, "b" : 11 }'], ["2", '{ "a" : 20, "b" : 21 }']]
).toDF(["id", "json"])
df = (
    source.select("id", json_tuple(col("json"), "a", "b"))
    .withColumnRenamed("c0", "a")
    .withColumnRenamed("c1", "b")
    .where(col("b") > 15)
)
df.show()

## Filtering, sorting, removing duplicates and more.

**Filter a column using a condition**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.filter(col("mpg") > "30")
df.show()

**Filter based on a specific column value**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.where(col("cylinders") == "8")
df.show()

**Filter based on an IN list**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.where(col("cylinders").isin(["4", "6"]))
df.show()

**Filter based on a NOT IN list**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.where(~col("cylinders").isin(["4", "6"]))
df.show()

**Filter values based on keys in another DataFrame**

In [ ]:
from pyspark.sql.functions import col

# Our DataFrame of keys to exclude.
exclude_keys = auto_df.select(
    (col("modelyear") + 1).alias("adjusted_year")
).distinct()

# The anti join returns only keys with no matches.
filtered = auto_df.join(
    exclude_keys,
    how="left_anti",
    on=auto_df.modelyear == exclude_keys.adjusted_year,
)

# Alternatively we can register a temporary table and use a SQL expression.
exclude_keys.registerTempTable("exclude_keys")
df = auto_df.filter(
    "modelyear not in ( select adjusted_year from exclude_keys )"
)
df.show()

**Get Dataframe rows that match a substring**

In [ ]:
df = auto_df.where(auto_df.carname.contains("custom"))
df.show()

**Filter a Dataframe based on a custom substring search**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.where(col("carname").like("%custom%"))
df.show()

**Filter based on a column's length**

In [ ]:
from pyspark.sql.functions import col, length

df = auto_df.where(length(col("carname")) < 12)
df.show()

**Multiple filter conditions**

In [ ]:
from pyspark.sql.functions import col

# OR
df = auto_df.filter((col("mpg") > "30") | (col("acceleration") < "10"))
# AND
df = auto_df.filter((col("mpg") > "30") & (col("acceleration") < "13"))
df.show()

**Sort DataFrame by a column**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.orderBy("carname")
df = auto_df.orderBy(col("carname").desc())
df.show()

**Take the first N rows of a DataFrame**

In [ ]:
n = 10
df = auto_df.limit(n)
df.show()

**Get distinct values of a column**

In [ ]:
df = auto_df.select("cylinders").distinct()
df.show()

**Remove duplicates**

In [ ]:
df = auto_df.dropDuplicates(["carname"])
df.show()

## Group DataFrame data by key to perform aggregates like counting, sums, averages, etc.

**count(*) on a particular column**

In [ ]:
from pyspark.sql.functions import desc

# No sorting.
df = auto_df.groupBy("cylinders").count()

# With sorting.
df = auto_df.groupBy("cylinders").count().orderBy(desc("count"))
df.show()

**Group and sort**

In [ ]:
from pyspark.sql.functions import avg, desc

df = (
    auto_df.groupBy("cylinders")
    .agg(avg("horsepower").alias("avg_horsepower"))
    .orderBy(desc("avg_horsepower"))
)
df.show()

**Filter groups based on an aggregate value, equivalent to SQL HAVING clause**

In [ ]:
from pyspark.sql.functions import col, desc

df = (
    auto_df.groupBy("cylinders")
    .count()
    .orderBy(desc("count"))
    .filter(col("count") > 100)
)
df.show()

**Group by multiple columns**

In [ ]:
from pyspark.sql.functions import avg, desc

df = (
    auto_df.groupBy(["modelyear", "cylinders"])
    .agg(avg("horsepower").alias("avg_horsepower"))
    .orderBy(desc("avg_horsepower"))
)
df.show()

**Aggregate multiple columns**

In [ ]:
expressions = dict(horsepower="avg", weight="max", displacement="max")
df = auto_df.groupBy("modelyear").agg(expressions)
df.show()

**Aggregate multiple columns with custom orderings**

In [ ]:
from pyspark.sql.functions import asc, desc_nulls_last

expressions = dict(horsepower="avg", weight="max", displacement="max")
orderings = [
    desc_nulls_last("max(displacement)"),
    desc_nulls_last("avg(horsepower)"),
    asc("max(weight)"),
]
df = auto_df.groupBy("modelyear").agg(expressions).orderBy(*orderings)
df.show()

**Get the maximum of a column**

In [ ]:
from pyspark.sql.functions import col, max

df = auto_df.select(max(col("horsepower")).alias("max_horsepower"))
df.show()

**Sum a list of columns**

In [ ]:
exprs = {x: "sum" for x in ("weight", "cylinders", "mpg")}
df = auto_df.agg(exprs)
df.show()

**Sum a column**

In [ ]:
from pyspark.sql.functions import sum

df = auto_df.groupBy("cylinders").agg(sum("weight").alias("total_weight"))
df.show()

**Aggregate all numeric columns**

In [ ]:
numerics = set(["decimal", "double", "float", "integer", "long", "short"])
exprs = {x[0]: "sum" for x in auto_df_fixed.dtypes if x[1] in numerics}
df = auto_df_fixed.agg(exprs)
df.show()

**Count unique after grouping**

In [ ]:
from pyspark.sql.functions import countDistinct

df = auto_df.groupBy("cylinders").agg(countDistinct("mpg"))
df.show()

**Count distinct values on all columns**

In [ ]:
from pyspark.sql.functions import countDistinct

df = auto_df.agg(*(countDistinct(c) for c in auto_df.columns))
df.show()

**Group by then filter on the count**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.groupBy("cylinders").count().where(col("count") > 100)
df.show()

**Find the top N per row group (use N=1 for maximum)**

In [ ]:
from pyspark.sql.functions import col, row_number
from pyspark.sql.window import Window

# To get the maximum per group, set n=1.
n = 5
w = Window().partitionBy("cylinders").orderBy(col("horsepower").desc())
df = (
    auto_df.withColumn("horsepower", col("horsepower").cast("double"))
    .withColumn("rn", row_number().over(w))
    .where(col("rn") <= n)
    .select("*")
)
df.show()

**Group key/values into a list**

In [ ]:
from pyspark.sql.functions import col, collect_list

df = auto_df.groupBy("cylinders").agg(
    collect_list(col("carname")).alias("models")
)
df.show()

**Compute a histogram**

In [ ]:
from pyspark.sql.functions import col

# Target column must be numeric.
df = auto_df.withColumn("horsepower", col("horsepower").cast("double"))

# N is the number of bins.
N = 11
histogram = df.select("horsepower").rdd.flatMap(lambda x: x).histogram(N)
print(histogram)

**Compute global percentiles**

In [ ]:
from pyspark.sql.functions import col, ntile
from pyspark.sql.window import Window

w = Window().orderBy(col("mpg").desc())
df = auto_df.withColumn("ntile4", ntile(4).over(w))
df.show()

**Compute percentiles within a partition**

In [ ]:
from pyspark.sql.functions import col, ntile
from pyspark.sql.window import Window

w = Window().partitionBy("cylinders").orderBy(col("mpg").desc())
df = auto_df.withColumn("ntile4", ntile(4).over(w))
df.show()

**Compute percentiles after aggregating**

In [ ]:
from pyspark.sql.functions import col, ntile
from pyspark.sql.window import Window

grouped = auto_df.groupBy("modelyear").count()
w = Window().orderBy(col("count").desc())
df = grouped.withColumn("ntile4", ntile(4).over(w))
df.show()

**Filter rows with values below a target percentile**

In [ ]:
from pyspark.sql.functions import col, lit
import pyspark.sql.functions as F

target_percentile = auto_df.agg(
    F.expr("percentile(mpg, 0.9)").alias("target_percentile")
).first()[0]
df = auto_df.filter(col("mpg") > lit(target_percentile))
df.show()

**Aggregate and rollup**

In [ ]:
from pyspark.sql.functions import avg, col, count, desc

subset = auto_df.filter(col("modelyear") > 79)
df = (
    subset.rollup("modelyear", "cylinders")
    .agg(
        avg("horsepower").alias("avg_horsepower"),
        count("modelyear").alias("count"),
    )
    .orderBy(desc("modelyear"), desc("cylinders"))
)
df.show()

**Aggregate and cube**

In [ ]:
from pyspark.sql.functions import avg, col, count, desc

subset = auto_df.filter(col("modelyear") > 79)
df = (
    subset.cube("modelyear", "cylinders")
    .agg(
        avg("horsepower").alias("avg_horsepower"),
        count("modelyear").alias("count"),
    )
    .orderBy(desc("modelyear"), desc("cylinders"))
)
df.show()

## Spark allows DataFrames to be joined similarly to how tables are joined in an RDBMS. The diagram below shows join types available in Spark.

![Spark Join Types](images/jointypes.webp)

**Join two DataFrames by column name**

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Load a list of manufacturer / country pairs.
countries = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/manufacturers.csv")
)

# Add a manufacturers column, to join with the manufacturers list.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(auto_df.carname))

# The actual join.
df = df.join(countries, "manufacturer")
df.show()

**Join two DataFrames with an expression**

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Load a list of manufacturer / country pairs.
countries = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/manufacturers.csv")
)

# Add a manufacturers column, to join with the manufacturers list.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(auto_df.carname))

# The actual join.
df = df.join(countries, df.manufacturer == countries.manufacturer)
df.show()

**Multiple join conditions**

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Load a list of manufacturer / country pairs.
countries = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/manufacturers.csv")
)

# Add a manufacturers column, to join with the manufacturers list.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(auto_df.carname))

# The actual join.
df = df.join(
    countries,
    (df.manufacturer == countries.manufacturer)
    | (df.mpg == countries.manufacturer),
)
df.show()

**Various Spark join types**

In [ ]:
# Inner join on one column.
joined = auto_df.join(auto_df, "carname")

# Left (outer) join.
joined = auto_df.join(auto_df, "carname", "left")

# Left anti (not in) join.
joined = auto_df.join(auto_df, "carname", "left_anti")

# Right (outer) join.
joined = auto_df.join(auto_df, "carname", "right")

# Full join.
joined = auto_df.join(auto_df, "carname", "full")

# Cross join.
df = auto_df.crossJoin(auto_df)
df.show()

**Concatenate two DataFrames**

In [ ]:
df1 = spark.read.format("csv").option("header", True).load("data/part1.csv")
df2 = spark.read.format("csv").option("header", True).load("data/part2.csv")
df = df1.union(df2)
df.show()

**Load multiple files into a single DataFrame**

In [ ]:
# Approach 1: Use a list.
df = (
    spark.read.format("csv")
    .option("header", True)
    .load(["data/part1.csv", "data/part2.csv"])
)

# Approach 2: Use a wildcard.
df = spark.read.format("csv").option("header", True).load("data/part*.csv")
df.show()

**Subtract DataFrames**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.subtract(auto_df.where(col("mpg") < "25"))
df.show()

## Loading File Metadata and Processing Files.

**Load Local File Details into a DataFrame**

In [ ]:
from pyspark.sql.types import (
    StructField,
    StructType,
    LongType,
    StringType,
    TimestampType,
)
import datetime
import glob
import os

# Simple: Use glob and only file names.
files = [[x] for x in glob.glob("/etc/*")]
df = spark.createDataFrame(files)

# Advanced: Use os.walk and extended attributes.
target_path = "/etc"
entries = []
walker = os.walk(target_path)
for root, dirs, files in walker:
    for file in files:
        full_path = os.path.join(root, file)
        try:
            stat_info = os.stat(full_path)
            entries.append(
                [
                    file,
                    full_path,
                    stat_info.st_size,
                    datetime.datetime.fromtimestamp(stat_info.st_mtime),
                ]
            )
        except:
            pass
schema = StructType(
    [
        StructField("file", StringType(), False),
        StructField("path", StringType(), False),
        StructField("size", LongType(), False),
        StructField("mtime", TimestampType(), False),
    ]
)
df = spark.createDataFrame(entries, schema)
df.show()

**Load Files from Oracle Cloud Infrastructure into a DataFrame**

In [ ]:
import oci
from pyspark.sql.types import (
    StructField,
    StructType,
    LongType,
    StringType,
    TimestampType,
)

def get_authenticated_client(client):
    config = oci.config.from_file()
    authenticated_client = client(config)
    return authenticated_client

object_store_client = get_authenticated_client(
    oci.object_storage.ObjectStorageClient
)

# Requires an object_store_client object.
# See https://oracle-cloud-infrastructure-python-sdk.readthedocs.io/en/latest/api/object_storage/client/oci.object_storage.ObjectStorageClient.html
input_bucket = "oow_2019_dataflow_lab"
raw_inputs = object_store_client.list_objects(
    object_store_client.get_namespace().data,
    input_bucket,
    fields="size,md5,timeModified",
)
files = [
    [x.name, x.size, x.time_modified, x.md5] for x in raw_inputs.data.objects
]
schema = StructType(
    [
        StructField("name", StringType(), False),
        StructField("size", LongType(), True),
        StructField("modified", TimestampType(), True),
        StructField("md5", StringType(), True),
    ]
)
df = spark.createDataFrame(files, schema)
df.show()

**Transform Many Images using Pillow**

In [ ]:
from PIL import Image
import glob

def resize_an_image(row):
    width, height = 128, 128
    file_name = row._1
    new_name = file_name.replace(".png", ".resized.png")
    img = Image.open(file_name)
    img = img.resize((width, height), Image.ANTIALIAS)
    img.save(new_name)

files = [[x] for x in glob.glob("data/resize_image?.png")]
df = spark.createDataFrame(files)
df.foreach(resize_an_image)

## Dealing with NULLs and NaNs in DataFrames.

**Filter rows with None or Null values**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.where(col("horsepower").isNull())
df = auto_df.where(col("horsepower").isNotNull())
df.show()

**Drop rows with Null values**

In [ ]:
df = auto_df.na.drop(thresh=1, subset=("horsepower",))
df.show()

**Count all Null or NaN values in a DataFrame**

In [ ]:
from pyspark.sql.functions import col, count, isnan, when

df = auto_df.select(
    [count(when(isnan(c), c)).alias(c) for c in auto_df.columns]
)
df = auto_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in auto_df.columns]
)
df.show()

## Parsing and processing dates and times.

**Convert an ISO 8601 formatted date string to date type**

In [ ]:
from pyspark.sql.functions import col

df = spark.sparkContext.parallelize([["2021-01-01"], ["2022-01-01"]]).toDF(
    ["date_col"]
)
df = df.withColumn("date_col", col("date_col").cast("date"))
df.show()

**Convert a custom formatted date string to date type**

In [ ]:
from pyspark.sql.functions import col, to_date

df = spark.sparkContext.parallelize([["20210101"], ["20220101"]]).toDF(
    ["date_col"]
)
df = df.withColumn("date_col", to_date(col("date_col"), "yyyyddMM"))
df.show()

**Get the last day of the current month**

In [ ]:
from pyspark.sql.functions import col, last_day

df = spark.sparkContext.parallelize([["2020-01-01"], ["1712-02-10"]]).toDF(
    ["date_col"]
)
df = df.withColumn("date_col", col("date_col").cast("date")).withColumn(
    "last_day", last_day(col("date_col"))
)
df.show()

**Convert UNIX (seconds since epoch) timestamp to date**

In [ ]:
from pyspark.sql.functions import col, from_unixtime

df = spark.sparkContext.parallelize([["1590183026"], ["2000000000"]]).toDF(
    ["ts_col"]
)
df = df.withColumn("date_col", from_unixtime(col("ts_col")))
df.show()

**Load a CSV file with complex dates into a DataFrame**

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import TimestampType
import dateparser

# Use the dateparser module to convert many formats into timestamps.
date_convert = udf(
    lambda x: dateparser.parse(x) if x is not None else None, TimestampType()
)
df = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/date_examples.csv")
)
df = df.withColumn("parsed", date_convert(df.date))
df.show()

## Analyzing unstructured data like [JSON](https://spark.apache.org/docs/latest/sql-data-sources-json.html), XML, etc.

**Flatten top level text fields in a JSONl document**

In [ ]:
from pyspark.sql.functions import col

# Load JSONl into a DataFrame. Schema is inferred automatically.
base = spark.read.json("data/financial.jsonl")

# Extract interesting fields. Alias keeps columns readable.
target_json_fields = [
    col("symbol").alias("symbol"),
    col("quoteType.longName").alias("longName"),
    col("price.marketCap.raw").alias("marketCap"),
    col("summaryDetail.previousClose.raw").alias("previousClose"),
    col("summaryDetail.fiftyTwoWeekHigh.raw").alias("fiftyTwoWeekHigh"),
    col("summaryDetail.fiftyTwoWeekLow.raw").alias("fiftyTwoWeekLow"),
    col("summaryDetail.trailingPE.raw").alias("trailingPE"),
]
df = base.select(target_json_fields)
df.show()

**Flatten top level text fields from a JSON column**

In [ ]:
from pyspark.sql.functions import col, from_json, schema_of_json

# quote/escape options needed when loading CSV containing JSON.
base = (
    spark.read.format("csv")
    .option("header", True)
    .option("quote", '"')
    .option("escape", '"')
    .load("data/financial.csv")
)

# Infer JSON schema from one entry in the DataFrame.
sample_json_document = base.select("financial_data").first()[0]
schema = schema_of_json(sample_json_document)

# Parse using this schema.
parsed = base.withColumn("parsed", from_json("financial_data", schema))

# Extract interesting fields.
target_json_fields = [
    col("parsed.symbol").alias("symbol"),
    col("parsed.quoteType.longName").alias("longName"),
    col("parsed.price.marketCap.raw").alias("marketCap"),
    col("parsed.summaryDetail.previousClose.raw").alias("previousClose"),
    col("parsed.summaryDetail.fiftyTwoWeekHigh.raw").alias("fiftyTwoWeekHigh"),
    col("parsed.summaryDetail.fiftyTwoWeekLow.raw").alias("fiftyTwoWeekLow"),
    col("parsed.summaryDetail.trailingPE.raw").alias("trailingPE"),
]
df = parsed.select(target_json_fields)
df.show()

**Unnest an array of complex structures**

In [ ]:
from pyspark.sql.functions import col, explode

base = spark.read.json("data/financial.jsonl")

# Analyze balance sheet data, which is held in an array of complex types.
target_json_fields = [
    col("symbol").alias("symbol"),
    col("balanceSheetHistoryQuarterly.balanceSheetStatements").alias(
        "balanceSheetStatements"
    ),
]
selected = base.select(target_json_fields)

# Select a few fields from the balance sheet statement data.
target_json_fields = [
    col("symbol").alias("symbol"),
    col("col.endDate.fmt").alias("endDate"),
    col("col.cash.raw").alias("cash"),
    col("col.totalAssets.raw").alias("totalAssets"),
    col("col.totalLiab.raw").alias("totalLiab"),
]

# Balance sheet data is in an array, use explode to generate one row per entry.
df = selected.select("symbol", explode("balanceSheetStatements")).select(
    target_json_fields
)
df.show()

## Using Python's Pandas library to augment Spark. Some operations require the pyarrow library.

**Convert Spark DataFrame to Pandas DataFrame**

In [ ]:
pandas_df = auto_df.toPandas()

**Convert Pandas DataFrame to Spark DataFrame with Schema Detection**

In [ ]:
df = spark.createDataFrame(pandas_df)
df.show()

**Convert Pandas DataFrame to Spark DataFrame using a Custom Schema**

In [ ]:
# This code converts everything to strings.
# If you want to preserve types, see https://gist.github.com/tonyfraser/79a255aa8a9d765bd5cf8bd13597171e
from pyspark.sql.types import StructField, StructType, StringType

schema = StructType(
    [StructField(name, StringType(), True) for name in pandas_df.columns]
)
df = spark.createDataFrame(pandas_df, schema)
df.show()

**Convert N rows from a DataFrame to a Pandas DataFrame**

In [ ]:
N = 10
pdf = auto_df.limit(N).toPandas()

**Grouped Aggregation with Pandas**

In [ ]:
from pyspark.sql.functions import pandas_udf
from pandas import DataFrame

@pandas_udf("double")
def mean_udaf(pdf: DataFrame) -> float:
    return pdf.mean()

df = auto_df.groupby("cylinders").agg(mean_udaf(auto_df["mpg"]))
df.show()

**Use a Pandas Grouped Map Function via applyInPandas**

In [ ]:
def rescale(pdf):
    minv = pdf.horsepower.min()
    maxv = pdf.horsepower.max() - minv
    return pdf.assign(horsepower=(pdf.horsepower - minv) / maxv * 100)

df = auto_df.groupby("cylinders").applyInPandas(rescale, auto_df.schema)
df.show()

## Extracting key statistics out of a body of data.

**Compute the number of NULLs across all columns**

In [ ]:
from pyspark.sql.functions import col, count, when

df = auto_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in auto_df.columns]
)
df.show()

**Compute average values of all numeric columns**

In [ ]:
numerics = set(["decimal", "double", "float", "integer", "long", "short"])
exprs = {x[0]: "avg" for x in auto_df_fixed.dtypes if x[1] in numerics}
df = auto_df_fixed.agg(exprs)
df.show()

**Compute minimum values of all numeric columns**

In [ ]:
numerics = set(["decimal", "double", "float", "integer", "long", "short"])
exprs = {x[0]: "min" for x in auto_df_fixed.dtypes if x[1] in numerics}
df = auto_df_fixed.agg(exprs)
df.show()

**Compute maximum values of all numeric columns**

In [ ]:
numerics = set(["decimal", "double", "float", "integer", "long", "short"])
exprs = {x[0]: "max" for x in auto_df_fixed.dtypes if x[1] in numerics}
df = auto_df_fixed.agg(exprs)
df.show()

**Compute median values of all numeric columns**

In [ ]:
import pyspark.sql.functions as F

numerics = set(["decimal", "double", "float", "integer", "long", "short"])
aggregates = []
for name, dtype in auto_df_fixed.dtypes:
    if dtype not in numerics:
        continue
    aggregates.append(
        F.expr("percentile({}, 0.5)".format(name)).alias(
            "{}_median".format(name)
        )
    )
df = auto_df_fixed.agg(*aggregates)

df.show()

**Identify Outliers in a DataFrame**

In [ ]:
from pyspark.sql.functions import col, sqrt

target_column = "mpg"
z_score_threshold = 2

# Compute the median of the target column.
target_df = auto_df.select(target_column)
target_df.registerTempTable("target_column")
profiled = sqlContext.sql(
    f"select percentile({target_column}, 0.5) as median from target_column"
)

# Compute deviations.
deviations = target_df.crossJoin(profiled).withColumn(
    "deviation", sqrt((target_df[target_column] - profiled["median"]) ** 2)
)
deviations.registerTempTable("deviations")

# The Median Absolute Deviation
mad = sqlContext.sql("select percentile(deviation, 0.5) as mad from deviations")

# Add a modified z score to the original DataFrame.
df = (
    auto_df.crossJoin(mad)
    .crossJoin(profiled)
    .withColumn(
        "zscore",
        0.6745
        * sqrt((auto_df[target_column] - profiled["median"]) ** 2)
        / mad["mad"],
    )
)

df = df.where(col("zscore") > z_score_threshold)
df.show()

## Upserts, updates and deletes on data.

**Save to a Delta Table**

In [ ]:
auto_df.write.mode("overwrite").format("delta").saveAsTable("delta_table")

**Update records in a DataFrame using Delta Tables**

In [ ]:
from pyspark.sql.functions import expr

output_path = "delta_tests"

# Currently you have to save/reload to convert from table to DataFrame.
auto_df.write.mode("overwrite").format("delta").save(output_path)
dt = DeltaTable.forPath(spark, output_path)

# Run a SQL update operation.
dt.update(
    condition=expr("carname like 'Volks%'"), set={"carname": expr("carname")}
)

# Convert back to a DataFrame.
df = dt.toDF()
df.show()

**Merge into a Delta table**

In [ ]:
from pyspark.sql.functions import col, expr

# Save the original data.
output_path = "delta_tests"
auto_df.write.mode("overwrite").format("delta").save(output_path)

# Load data that corrects some car names.
corrected_df = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/auto-mpg-fixed.csv")
)

# Merge the corrected data in.
dt = DeltaTable.forPath(spark, output_path)
ret = (
    dt.alias("original")
    .merge(
        corrected_df.alias("corrected"),
        "original.modelyear = corrected.modelyear and original.weight = corrected.weight and original.acceleration = corrected.acceleration",
    )
    .whenMatchedUpdate(
        condition=expr("original.carname <> corrected.carname"),
        set={"carname": col("corrected.carname")},
    )
    .whenNotMatchedInsertAll()
    .execute()
)

# Show select table history.
df = dt.history().select("version operation operationMetrics".split())

df.show()

**Show Table Version History**

In [ ]:
# Load our table.
output_path = "delta_tests"
dt = DeltaTable.forPath(spark, output_path)

# Show select table history.
df = dt.history().select("version timestamp operation".split())
df.show()

**Load a Delta Table by Version ID (Time Travel Query)**

In [ ]:
from pyspark.sql.functions import desc

# Get versions.
output_path = "delta_tests"
dt = DeltaTable.forPath(spark, output_path)
versions = (
    dt.history().select("version timestamp".split()).orderBy(desc("version"))
)
most_recent_version = versions.first()[0]
print("Most recent version is", most_recent_version)

# Load the most recent data.
df = (
    spark.read.format("delta")
    .option("versionAsOf", most_recent_version)
    .load(output_path)
)

**Load a Delta Table by Timestamp (Time Travel Query)**

In [ ]:
from pyspark.sql.functions import desc

# Get versions.
output_path = "delta_tests"
dt = DeltaTable.forPath(spark, output_path)
versions = dt.history().select("version timestamp".split()).orderBy("timestamp")
most_recent_timestamp = versions.first()[1]
print("Most recent timestamp is", most_recent_timestamp)

# Load the oldest version by timestamp.
df = (
    spark.read.format("delta")
    .option("timestampAsOf", most_recent_timestamp)
    .load(output_path)
)

**Compact a Delta Table**

In [ ]:
output_path = "delta_tests"

# Load table.
dt = DeltaTable.forPath(spark, output_path)

# Clean up data older than the given window.
retention_window_hours = 168
dt.vacuum(retention_window_hours)

# Show the new versions.
df = dt.history().select("version timestamp".split()).orderBy("version")
df.show()

**Add custom metadata to a Delta table write**

In [ ]:
import os
import time

extra_properties = dict(
    user=os.environ.get("USER"),
    write_timestamp=time.time(),
)
auto_df.write.mode("append").option("userMetadata", extra_properties).format(
    "delta"
).save("delta_table_metadata")
df.show()

**Read custom Delta table metadata**

In [ ]:
dt = DeltaTable.forPath(spark, "delta_table_metadata")
df = dt.history().select("version timestamp userMetadata".split())
df.show()

## Spark Streaming (Focuses on Structured Streaming).

**Connect to Kafka using SASL PLAIN authentication**

In [ ]:
options = {
    "kafka.sasl.jaas.config": 'org.apache.kafka.common.security.plain.PlainLoginModule required username="USERNAME" password="PASSWORD";',
    "kafka.sasl.mechanism": "PLAIN",
    "kafka.security.protocol": "SASL_SSL",
    "kafka.bootstrap.servers": "server:9092",
    "group.id": "my_group",
    "subscribe": "my_topic",
}
df = spark.readStream.format("kafka").options(**options).load()

**Create a windowed Structured Stream over input CSV files**

In [ ]:
from pyspark.sql.functions import avg, count, current_timestamp, window
from pyspark.sql.types import (
    StructField,
    StructType,
    DoubleType,
    IntegerType,
    StringType,
)

input_location = "streaming/input"
schema = StructType(
    [
        StructField("mpg", DoubleType(), True),
        StructField("cylinders", IntegerType(), True),
        StructField("displacement", DoubleType(), True),
        StructField("horsepower", DoubleType(), True),
        StructField("weight", DoubleType(), True),
        StructField("acceleration", DoubleType(), True),
        StructField("modelyear", IntegerType(), True),
        StructField("origin", IntegerType(), True),
        StructField("carname", StringType(), True),
        StructField("manufacturer", StringType(), True),
    ]
)
df = spark.readStream.csv(path=input_location, schema=schema).withColumn(
    "timestamp", current_timestamp()
)

aggregated = (
    df.groupBy(window(df.timestamp, "1 minute"), "manufacturer")
    .agg(
        avg("horsepower").alias("avg_horsepower"),
        avg("timestamp").alias("avg_timestamp"),
        count("modelyear").alias("count"),
    )
    .coalesce(10)
)
summary = aggregated.orderBy("window", "manufacturer")
query = (
    summary.writeStream.outputMode("complete")
    .format("console")
    .option("truncate", False)
    .start()
)
query.awaitTermination()

**Create an unwindowed Structured Stream over input CSV files**

In [ ]:
from pyspark.sql.functions import avg, count, desc
from pyspark.sql.types import (
    StructField,
    StructType,
    DoubleType,
    IntegerType,
    StringType,
)

input_location = "streaming/input"
schema = StructType(
    [
        StructField("mpg", DoubleType(), True),
        StructField("cylinders", IntegerType(), True),
        StructField("displacement", DoubleType(), True),
        StructField("horsepower", DoubleType(), True),
        StructField("weight", DoubleType(), True),
        StructField("acceleration", DoubleType(), True),
        StructField("modelyear", IntegerType(), True),
        StructField("origin", IntegerType(), True),
        StructField("carname", StringType(), True),
        StructField("manufacturer", StringType(), True),
    ]
)

df = spark.readStream.csv(path=input_location, schema=schema)
summary = (
    df.groupBy("modelyear")
    .agg(
        avg("horsepower").alias("avg_horsepower"),
        count("modelyear").alias("count"),
    )
    .orderBy(desc("modelyear"))
    .coalesce(10)
)
query = summary.writeStream.outputMode("complete").format("console").start()
query.awaitTermination()

**Add the current timestamp to a DataFrame**

In [ ]:
from pyspark.sql.functions import current_timestamp

df = auto_df.withColumn("timestamp", current_timestamp())
df.show()

**Session analytics on a DataFrame**

In [ ]:
from pyspark.sql.functions import hash, session_window

hits_per_session = (
    weblog_df.groupBy("ip", session_window("time", "5 minutes"))
    .count()
    .withColumn("session", hash("ip", "session_window"))
)
df.show()

**Call a UDF only when a threshold is reached**

In [ ]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf

@udf(returnType=BooleanType())
def myudf(short_circuit, state, value):
    if short_circuit == True:
        return True

    # Log, send an alert, etc.
    return False

df = (
    spark.readStream.format("socket")
    .option("host", "localhost")
    .option("port", "9090")
    .load()
)
parsed = (
    df.selectExpr(
        "split(value,',')[0] as state",
        "split(value,',')[1] as zipcode",
        "split(value,',')[2] as spend",
    )
    .groupBy("state")
    .agg({"spend": "avg"})
    .orderBy(desc("avg(spend)"))
)
tagged = parsed.withColumn(
    "below", myudf(col("avg(spend)") < 100, col("state"), col("avg(spend)"))
)

tagged.writeStream.outputMode("complete").format(
    "console"
).start().awaitTermination()

**Streaming Machine Learning**

In [ ]:
from pyspark.ml import PipelineModel

pipeline_model = PipelineModel.load("path/to/pipeline")
df = pipeline.transform(input_df)
df.writeStream.format("console").start().awaitTermination()

**Control stream processing frequency**

In [ ]:
df.writeStream.outputMode("complete").format("console").trigger(
    processingTime="10 seconds"
).start().awaitTermination()

**Write a streaming DataFrame to a database**

In [ ]:
import time

pg_database = os.environ.get("PGDATABASE") or "postgres"
pg_host = os.environ.get("PGHOST") or "localhost"
pg_password = os.environ.get("PGPASSWORD") or "password"
pg_user = os.environ.get("PGUSER") or "postgres"
url = f"jdbc:postgresql://{pg_host}:5432/{pg_database}"
table = "streaming"
properties = {
    "driver": "org.postgresql.Driver",
    "user": pg_user,
    "password": pg_password,
}

def foreach_batch_function(my_df, epoch_id):
    my_df.write.jdbc(url=url, table=table, mode="Append", properties=properties)

df = (
    spark.readStream.format("rate")
    .option("rowPerSecond", 100)
    .option("numPartitions", 2)
    .load()
)
query = df.writeStream.foreachBatch(foreach_batch_function).start()

# Wait for some data to be processed and exit.
for i in range(10):
    time.sleep(5)
    if len(query.recentProgress) > 0:
        query.stop()
        break

df = spark.read.jdbc(url=url, table=table, properties=properties)
result = "{} rows written to database".format(df.count())
print(result)

## Techniques for dealing with time series data.

**Zero fill missing values in a timeseries**

In [ ]:
from pyspark.sql.functions import coalesce, lit

# Use distinct values of customer and date from the dataset itself.
# In general it's safer to use known reference tables for IDs and dates.
df = spend_df.join(
    spend_df.select("customer_id")
    .distinct()
    .crossJoin(spend_df.select("date").distinct()),
    ["date", "customer_id"],
    "right",
).select("date", "customer_id", coalesce("spend_dollars", lit(0)))
df.show()

**First Time an ID is Seen**

In [ ]:
from pyspark.sql.functions import first
from pyspark.sql.window import Window

w = Window().partitionBy("customer_id").orderBy("date")
df = spend_df.withColumn("first_seen", first("date").over(w))
df.show()

**Cumulative Sum**

In [ ]:
from pyspark.sql.functions import sum
from pyspark.sql.window import Window

w = (
    Window()
    .partitionBy("customer_id")
    .orderBy("date")
    .rangeBetween(Window.unboundedPreceding, 0)
)
df = spend_df.withColumn("running_sum", sum("spend_dollars").over(w))
df.show()

**Cumulative Sum in a Period**

In [ ]:
from pyspark.sql.functions import sum, year
from pyspark.sql.window import Window

# Add an additional partition clause for the sub-period.
w = (
    Window()
    .partitionBy(["customer_id", year("date")])
    .orderBy("date")
    .rangeBetween(Window.unboundedPreceding, 0)
)
df = spend_df.withColumn("running_sum", sum("spend_dollars").over(w))
df.show()

**Cumulative Average**

In [ ]:
from pyspark.sql.functions import avg
from pyspark.sql.window import Window

w = (
    Window()
    .partitionBy("customer_id")
    .orderBy("date")
    .rangeBetween(Window.unboundedPreceding, 0)
)
df = spend_df.withColumn("running_avg", avg("spend_dollars").over(w))
df.show()

**Cumulative Average in a Period**

In [ ]:
from pyspark.sql.functions import avg, year
from pyspark.sql.window import Window

# Add an additional partition clause for the sub-period.
w = (
    Window()
    .partitionBy(["customer_id", year("date")])
    .orderBy("date")
    .rangeBetween(Window.unboundedPreceding, 0)
)
df = spend_df.withColumn("running_avg", avg("spend_dollars").over(w))
df.show()

## Machine Learning is a deep subject, too much to cover in this cheatsheet which is intended for code you can easily paste into your apps. The examples below will show basics of ML in Spark. It is helpful to understand the terminology of ML like Features, Estimators and Models. If you want some background on these things consider courses like "Google crash course in ML" or Udemy's "Machine Learning Course with Python".

A brief introduction to Spark ML terms:
* Feature: A Feature is an individual measurement. For example if you want to predict height based on age and sex, a combination of age and sex is a Feature.
* Vector: A Vector is a special Spark data type similar to an array of numbers. Spark ML algorithms require Features to be loaded into Vectors for training and predictions.
* Vector Column: Model training requires considering many Features at the same time. Spark ML operates on `DataFrame`s. Before training can happen you need to construct a `DataFrame` column of type Vector. See examples below.
* Label: Supervised ML algorithms like regression and classification require a label when training. In Spark you will put labels in a column in a `DataFrame` such that each row has both a Feature and its associated Label.
* Model: A Model is an algorithm capable of turning Feature vectors into values, usually thought of as predictions.
* Estimator: An Estimator builds a mathematical model that transforms input values into outputs. Estimators do double duty in Spark, some Estimators like regression and classification build statistical models. Some Estimators are purely for data preparation like the StringIndexer which builds a Model containing a dictionary that maps strings to numbers in a deterministic way.
* Fitting: Fitting is the process of building a Model using an Estimator and an input DataFrame you provide.
* Transformer: Transformers create new DataFrames using the `transform` API, which applies algorithms to the input DataFrame and outputs a DataFrame with additional columns. The nature of the `transform` could be statistical or it could be a simple algorithm, depending on the type of Estimator that created the Model.
* Pipelines: Pipelines are a series of Estimators that apply a series of `transform`s to a `DataFrame` before calling `fit` on the final Estimator in the Pipeline. The Pipeline is itself an Estimator. When you `fit` a Pipeline, Spark `fit`s the first Estimator in the Pipeline using an input `DataFrame` you provide. This produces a Model. If there are additional Estimators in the Pipeline, the newly created Model's `transform` method is called against the input `DataFrame` to create a new `DataFrame`. The process then begins again with the newly created `DataFrame` being passed to the next Estimator's `fit` method. Fitting a Pipeline produces a `PipelineModel`.

This image helps visualize the relationship between Spark ML classes.
![Hierarchy of Spark ML Classes](images/mlhierarchy.webp)

**Prepare data for training with a VectorAssembler**

In [ ]:
from pyspark.ml.feature import VectorAssembler

vectorAssembler = VectorAssembler(
    inputCols=[
        "cylinders",
        "displacement",
        "acceleration",
    ],
    outputCol="features",
    handleInvalid="skip",
)
assembled = vectorAssembler.transform(auto_df_fixed)
assembled = assembled.select(
    ["cylinders", "displacement", "acceleration", "features"]
)
print("Data type for features column is:", assembled.dtypes[-1][1])
df.show()

**A basic Random Forest Regression model**

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor

vectorAssembler = VectorAssembler(
    inputCols=[
        "cylinders",
        "displacement",
        "horsepower",
    ],
    outputCol="features",
    handleInvalid="skip",
)
assembled = vectorAssembler.transform(auto_df_fixed)
assembled = assembled.select(["features", "mpg", "carname"])

# Define the estimator.
rf = RandomForestRegressor(
    numTrees=20,
    featuresCol="features",
    labelCol="mpg",
)

# Fit the model.
rf_model = rf.fit(assembled)

# Save the model.
rf_model.write().overwrite().save("rf_regression_simple.model")

df.show()

**Hyperparameter tuning**

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Set up our main ML pipeline.
columns_to_assemble = [
    "cylinders",
    "displacement",
    "acceleration",
]
vector_assembler = VectorAssembler(
    inputCols=columns_to_assemble,
    outputCol="features",
    handleInvalid="skip",
)

# Define the model.
rf = RandomForestRegressor(
    featuresCol="features",
    labelCol="mpg",
)

# Run the pipeline.
pipeline = Pipeline(stages=[vector_assembler, rf])

# Hyperparameter search.
target_metric = "rmse"
paramGrid = (
    ParamGridBuilder().addGrid(rf.numTrees, list(range(20, 100, 10))).build()
)
cross_validator = CrossValidator(
    estimator=pipeline,
    estimatorParamMaps=paramGrid,
    evaluator=RegressionEvaluator(
        labelCol="mpg", predictionCol="prediction", metricName=target_metric
    ),
    numFolds=2,
    parallelism=4,
)

# Run cross-validation to get the best parameters.
fit_cross_validator = cross_validator.fit(auto_df_fixed)
best_pipeline_model = fit_cross_validator.bestModel
best_regressor = best_pipeline_model.stages[1]
print("Best model has {} trees.".format(best_regressor.getNumTrees))

# Save the Cross Validator, to capture everything including stats.
fit_cross_validator.write().overwrite().save("rf_regression_optimized.model")

**Encode string variables as numbers**

In [ ]:
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Add manufacturer name we will use as a string column.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df_fixed.withColumn(
    "manufacturer", first_word_udf(auto_df_fixed.carname)
)

# Encode the manufactor name into numbers.
indexer = StringIndexer(
    inputCol="manufacturer", outputCol="manufacturer_encoded"
)
encoded = (
    indexer.fit(df)
    .transform(df)
    .select(["manufacturer", "manufacturer_encoded"])
)
df.show()

**One-hot encode a categorical variable**

In [ ]:
from pyspark.ml.feature import OneHotEncoder

# Turn the model year into categories.
year_encoder = OneHotEncoder(
    inputCol="modelyear", outputCol="modelyear_encoded"
)
encoded = (
    year_encoder.fit(auto_df_fixed)
    .transform(auto_df_fixed)
    .select(["modelyear", "modelyear_encoded"])
)
df.show()

**Optimize a model after a data preparation pipeline**

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

### Phase 1.
# Add manufacturer name we will use as a string column.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df_fixed.withColumn(
    "manufacturer", first_word_udf(auto_df_fixed.carname)
)

# Encode the manufactor name into numbers.
manufacturer_encoder = StringIndexer(
    inputCol="manufacturer", outputCol="manufacturer_encoded"
)
# Turn the model year into categories.
year_encoder = OneHotEncoder(
    inputCol="modelyear", outputCol="modelyear_encoded"
)

# Run data preparation as a pipeline.
data_prep_pipeline = Pipeline(stages=[manufacturer_encoder, year_encoder])
prepared = data_prep_pipeline.fit(df).transform(df)

### Phase 2.
# Assemble vectors.
columns_to_assemble = [
    "cylinders",
    "displacement",
    "horsepower",
    "weight",
    "acceleration",
    "manufacturer_encoded",
    "modelyear_encoded",
]
vector_assembler = VectorAssembler(
    inputCols=columns_to_assemble,
    outputCol="features",
    handleInvalid="skip",
)

# Define the model.
rf = RandomForestRegressor(
    featuresCol="features",
    labelCol="mpg",
)

# Define the Pipeline.
pipeline = Pipeline(stages=[vector_assembler, rf])

# Run cross-validation to get the best parameters.
paramGrid = (
    ParamGridBuilder().addGrid(rf.numTrees, list(range(20, 100, 10))).build()
)
cross_validator = CrossValidator(
    estimator=pipeline,
    estimatorParamMaps=paramGrid,
    evaluator=RegressionEvaluator(
        labelCol="mpg", predictionCol="prediction", metricName="rmse"
    ),
    numFolds=2,
    parallelism=4,
)
fit_cross_validator = cross_validator.fit(prepared)

# Save the Cross Validator, to capture everything including stats.
fit_cross_validator.write().overwrite().save("rf_regression_full.model")

**Evaluate Model Performance**

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml.regression import RandomForestRegressionModel
from pyspark.ml.tuning import CrossValidatorModel
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Metrics supported by RegressionEvaluator.
metrics = "rmse mse r2 mae".split()

# Load the simple model and compute its predictions.
simple_assembler = VectorAssembler(
    inputCols=[
        "cylinders",
        "displacement",
        "horsepower",
    ],
    outputCol="features",
    handleInvalid="skip",
)
simple_input = simple_assembler.transform(auto_df_fixed).select(
    ["features", "mpg"]
)
rf_simple_model = RandomForestRegressionModel.load("rf_regression_simple.model")
simple_predictions = rf_simple_model.transform(simple_input)

# Load the complex model and compute its predictions.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df_fixed.withColumn(
    "manufacturer", first_word_udf(auto_df_fixed.carname)
)
manufacturer_encoder = StringIndexer(
    inputCol="manufacturer", outputCol="manufacturer_encoded"
)
year_encoder = OneHotEncoder(
    inputCol="modelyear", outputCol="modelyear_encoded"
)
data_prep_pipeline = Pipeline(stages=[manufacturer_encoder, year_encoder])
prepared = data_prep_pipeline.fit(df).transform(df)
columns_to_assemble = [
    "cylinders",
    "displacement",
    "horsepower",
    "weight",
    "acceleration",
    "manufacturer_encoded",
    "modelyear_encoded",
]
complex_assembler = VectorAssembler(
    inputCols=columns_to_assemble,
    outputCol="features",
    handleInvalid="skip",
)
complex_input = complex_assembler.transform(prepared).select(
    ["features", "mpg"]
)
cv_model = CrossValidatorModel.load("rf_regression_full.model")
best_pipeline = cv_model.bestModel
rf_complex_model = best_pipeline.stages[-1]
complex_predictions = rf_complex_model.transform(complex_input)

# Evaluate performances.
evaluator = RegressionEvaluator(predictionCol="prediction", labelCol="mpg")
performances = [
    ["simple", simple_predictions, dict()],
    ["complex", complex_predictions, dict()],
]
for label, predictions, tracker in performances:
    for metric in metrics:
        tracker[metric] = evaluator.evaluate(
            predictions, {evaluator.metricName: metric}
        )
print(performances)

**Get feature importances of a trained model**

In [ ]:
from pyspark.ml.tuning import CrossValidatorModel

# Load the model we fit earlier.
model = CrossValidatorModel.load("rf_regression_full.model")

# Get the best model.
best_pipeline = model.bestModel

# Get the names of assembled columns.
assembler = best_pipeline.stages[0]
original_columns = assembler.getInputCols()

# Get feature importances.
real_model = best_pipeline.stages[1]
for feature, importance in zip(original_columns, real_model.featureImportances):
    print("{} contributes {:0.3f}%".format(feature, importance * 100))

**Plot Hyperparameter tuning metrics**

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Add manufacturer name we will use as a string column.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df_fixed.withColumn(
    "manufacturer", first_word_udf(auto_df_fixed.carname)
)
manufacturer_encoded = StringIndexer(
    inputCol="manufacturer", outputCol="manufacturer_encoded"
)
encoded_df = manufacturer_encoded.fit(df).transform(df)

# Set up our main ML pipeline.
columns_to_assemble = [
    "manufacturer_encoded",
    "cylinders",
    "displacement",
    "horsepower",
    "weight",
    "acceleration",
]
vector_assembler = VectorAssembler(
    inputCols=columns_to_assemble,
    outputCol="features",
    handleInvalid="skip",
)

# Define the model.
rf = RandomForestRegressor(
    numTrees=20,
    featuresCol="features",
    labelCol="mpg",
)

# Run the pipeline.
pipeline = Pipeline(stages=[vector_assembler, rf])

# Hyperparameter search.
target_metric = "rmse"
paramGrid = (
    ParamGridBuilder().addGrid(rf.numTrees, list(range(20, 100, 10))).build()
)
crossval = CrossValidator(
    estimator=pipeline,
    estimatorParamMaps=paramGrid,
    evaluator=RegressionEvaluator(
        labelCol="mpg", predictionCol="prediction", metricName=target_metric
    ),
    numFolds=2,
    parallelism=4,
)

# Run cross-validation, get metrics for each parameter.
model = crossval.fit(encoded_df)

# Plot results using matplotlib.
import pandas
import matplotlib

parameter_grid = [
    {k.name: v for k, v in p.items()} for p in model.getEstimatorParamMaps()
]
pdf = pandas.DataFrame(
    model.avgMetrics,
    index=[x["numTrees"] for x in parameter_grid],
    columns=[target_metric],
)
ax = pdf.plot(style="*-")
ax.figure.suptitle("Hyperparameter Search: RMSE by Number of Trees")
ax.figure.savefig("hyperparameters.png")

**Compute correlation matrix**

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation

# Remove non-numeric columns.
df = auto_df_fixed.drop("carname")

# Assemble all columns except mpg into a vector.
feature_columns = list(df.columns)
feature_columns.remove("mpg")
vector_col = "features"
vector_assembler = VectorAssembler(
    inputCols=feature_columns,
    outputCol=vector_col,
    handleInvalid="skip",
)
df_vector = vector_assembler.transform(df).select(vector_col)

# Compute the correlation matrix.
matrix = Correlation.corr(df_vector, vector_col)
corr_array = matrix.collect()[0]["pearson({})".format(vector_col)].toArray()

# This part is just for pretty-printing.
pdf = pandas.DataFrame(
    corr_array, index=feature_columns, columns=feature_columns
)

**Save a model**

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.classification import RandomForestClassifier

vectorAssembler = VectorAssembler(
    inputCols=[
        "cylinders",
        "displacement",
        "horsepower",
    ],
    outputCol="features",
    handleInvalid="skip",
)
assembled = vectorAssembler.transform(auto_df_fixed)

# Random test/train split.
train_df, test_df = assembled.randomSplit([0.7, 0.3])

# A regression model.
rf_regressor = RandomForestRegressor(
    numTrees=50,
    featuresCol="features",
    labelCol="mpg",
)

# A classification model.
rf_classifier = RandomForestClassifier(
    numTrees=50,
    featuresCol="features",
    labelCol="origin",
)

# Fit the models.
rf_regressor_model = rf_regressor.fit(train_df)
rf_regressor_model.write().overwrite().save("rf_regressor_saveload.model")
rf_classifier_model = rf_classifier.fit(train_df)
rf_classifier_model.write().overwrite().save("rf_classifier_saveload.model")

**Load a model and use it for transformations**

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressionModel

# Model type and assembled features need to agree with the trained model.
rf_model = RandomForestRegressionModel.load("rf_regressor_saveload.model")

# The input DataFrame needs the same structure we used when we fit.
vectorAssembler = VectorAssembler(
    inputCols=[
        "cylinders",
        "displacement",
        "horsepower",
    ],
    outputCol="features",
    handleInvalid="skip",
)
assembled = vectorAssembler.transform(auto_df_fixed)
predictions = rf_model.transform(assembled).select(
    "carname", "mpg", "prediction"
)
df.show()

**Load a model and use it for predictions**

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.regression import RandomForestRegressionModel

# Model type and assembled features need to agree with the trained model.
rf_model = RandomForestRegressionModel.load("rf_regressor_saveload.model")

input_vector = Vectors.dense([8, 307.0, 130.0])
prediction = rf_model.predict(input_vector)
print("Prediction is", prediction)

**Load a classification model and use it to compute confidences for output labels**

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.classification import RandomForestClassificationModel

# Model type and assembled features need to agree with the trained model.
rf_model = RandomForestClassificationModel.load("rf_classifier_saveload.model")

input_vector = Vectors.dense([8, 307.0, 130.0])
prediction = rf_model.predictProbability(input_vector)
print("Predictions are", prediction)

## A few performance tips and tricks.

**Get the Spark version**

In [ ]:
print(spark.sparkContext.version)

**Log messages using Spark's Log4J**

In [ ]:
logger = spark.sparkContext._jvm.org.apache.log4j.Logger.getRootLogger()
logger.warn("WARNING LEVEL LOG MESSAGE")

**Cache a DataFrame**

In [ ]:
from pyspark import StorageLevel
from pyspark.sql.functions import lit

# Make some copies of the DataFrame.
df1 = auto_df.where(lit(1) > lit(0))
df2 = auto_df.where(lit(2) > lit(0))
df3 = auto_df.where(lit(3) > lit(0))

print("Show the default storage level (NONE).")
print(auto_df.storageLevel)

print("\nChange storage level to Memory/Disk via the cache shortcut.")
df1.cache()
print(df1.storageLevel)

print(
    "\nChange storage level to the equivalent of cache using an explicit StorageLevel."
)
df2.persist(storageLevel=StorageLevel(True, True, False, True, 1))
print(df2.storageLevel)

print("\nSet storage level to NONE using an explicit StorageLevel.")
df3.persist(storageLevel=StorageLevel(False, False, False, False, 1))
print(df3.storageLevel)

**Show the execution plan, with costs**

In [ ]:
df = auto_df.groupBy("cylinders").count()
execution_plan = str(df.explain(mode="cost"))
print(execution_plan)

**Partition by a Column Value**

In [ ]:
# rows is an iterable, e.g. itertools.chain
def number_in_partition(rows):
    try:
        first_row = next(rows)
        partition_size = sum(1 for x in rows) + 1
        partition_value = first_row.modelyear
        print(f"Partition {partition_value} has {partition_size} records")
    except StopIteration:
        print("Empty partition")

df = auto_df.repartition(20, "modelyear")
df.foreachPartition(number_in_partition)

**Range Partition a DataFrame**

In [ ]:
from pyspark.sql.functions import col

# rows is an iterable, e.g. itertools.chain
def count_in_partition(rows):
    my_years = set()
    number_in_partition = 0
    for row in rows:
        my_years.add(row.modelyear)
        number_in_partition += 1
    seen_years = sorted(list(my_years))
    if len(seen_years) > 0:
        seen_values = ",".join(seen_years)
        print(
            f"This partition has {number_in_partition} records with years {seen_values}"
        )
    else:
        print("Empty partition")

number_of_partitions = 5
df = auto_df.repartitionByRange(number_of_partitions, col("modelyear"))
df.foreachPartition(count_in_partition)

**Change Number of DataFrame Partitions**

In [ ]:
from pyspark.sql.functions import col

df = auto_df.repartition(col("modelyear"))
number_of_partitions = 5
df = auto_df.repartition(number_of_partitions, col("mpg"))
df.show()

**Coalesce DataFrame partitions**

In [ ]:
import math

target_partitions = math.ceil(auto_df.rdd.getNumPartitions() / 2)
df = auto_df.coalesce(target_partitions)
df.show()

**Set the number of shuffle partitions**

In [ ]:
# Default shuffle partitions is usually 200.
grouped1 = auto_df.groupBy("cylinders").count()
print("{} partition(s)".format(grouped1.rdd.getNumPartitions()))

# Set the shuffle partitions to 20.
# This can reduce the number of files generated when saving DataFrames.
spark.conf.set("spark.sql.shuffle.partitions", 20)

grouped2 = auto_df.groupBy("cylinders").count()
print("{} partition(s)".format(grouped2.rdd.getNumPartitions()))

**Sample a subset of a DataFrame**

In [ ]:
df = (
    spark.read.format("csv")
    .option("header", True)
    .load("data/auto-mpg.csv")
    .sample(0.1)
)
df.show()

**Run multiple concurrent jobs in different pools**

In [ ]:
import concurrent.futures
import datetime
import time

other_df = auto_df.toDF(*("_" + c for c in auto_df.columns))
target_frames = [
    auto_df.crossJoin(other_df.limit((11 - i) * 20))
    .groupBy(column_name)
    .count()
    for i, column_name in enumerate(auto_df.columns)
]

def launch(i, target):
    spark.sparkContext.setLocalProperty("spark.scheduler.pool", f"pool{i}")
    print("Job", i, "returns", target.first(), "at", datetime.datetime.now())

with concurrent.futures.ThreadPoolExecutor() as executor:
    futures = []
    for i, target in enumerate(target_frames):
        print("Starting job", i, "at", datetime.datetime.now())
        futures.append(executor.submit(launch, i, target))
        time.sleep(0.2)
    concurrent.futures.wait(futures)
    for future in futures:
        print(future.result())

**Print Spark configuration properties**

In [ ]:
print(spark.sparkContext.getConf().getAll())

**Set Spark configuration properties**

In [ ]:
key = "spark.hadoop.mapreduce.fileoutputcommitter.algorithm.version"
value = 2

# Wrong! Settings cannot be changed this way.
# spark.sparkContext.getConf().set(key, value)

# Correct.
spark.conf.set(key, value)

# Alternatively: Set at build time.
# Some settings can only be made at build time.
spark_builder = SparkSession.builder.appName("My App")
spark_builder.config(key, value)
spark = spark_builder.getOrCreate()

**Publish Metrics to Graphite**

In [ ]:
pass

**Increase Spark driver/executor heap space**

In [ ]:
# Memory configuration depends entirely on your runtime.
# In OCI Data Flow you control memory by selecting a larger or smaller VM.
# No other configuration is needed.
#
# For other environments see the Spark "Cluster Mode Overview" to get started.
# https://spark.apache.org/docs/latest/cluster-overview.html
# And good luck!